Repository microsoft/microsoft-ui-xaml, pull requests merged in 2020-03, with the labels that each got.

#2062 Remove duplicated RadioButton_themeresources.xaml from CommonStyles.vcxitems
  MUXControls.sln
  build/AzurePipelinesTemplates/MUX-BuildProject-Steps.yml
  dev/CommonStyles/CommonStyles.vcxitems
  docs/developer_guide.md
Labels: needs-triage

#2061 Add binary version to emitted telemetry to distinguish between versions of the same type
  dev/Telemetry/RuntimeProfiler.cpp
  dev/dll/dllmain.cpp
Labels: needs-triage

#2045 Unregister Window::SizeChanged event in TwoPaneView to prevent crashes with C++ apps
  dev/TwoPaneView/TwoPaneView.cpp
  dev/TwoPaneView/TwoPaneView.h
Labels: area-TwoPaneView, team-Controls

#2022 [WIP] TabViewItem close button custom tooltip
  dev/ResourceHelper/ResourceAccessor.h
  dev/TabView/Strings/en-us/Resources.resw
  dev/TabView/TabView.cpp
  dev/TabView/TabView.h
  dev/TabView/TabViewItem.cpp
Labels: area-TabView, team-Controls

#2069 Fix for Issue:2066 - around-the-end segments were played incorrectly
  dev/AnimatedVisualPlayer/AnimatedVisualPlayer.cpp
  dev/AnimatedVisualPlayer/InteractionTests/AnimatedVisualPlayerTests.cs
  dev/AnimatedVisualPlayer/TestUI/AnimatedVisualPlayerPage.xaml
  dev/AnimatedVisualPlayer/TestUI/AnimatedVisualPlayerPage.xaml.cs
Labels: area-AnimatedVisualPlayer, team-Controls

#1956 Fix NavView issue with SelectionChanged being raised upon displaymode change
  dev/NavigationView/NavigationView.cpp
  dev/NavigationView/NavigationView.h
  dev/NavigationView/NavigationView_InteractionTests/NavigationViewTests.cs
  dev/NavigationView/TestUI/NavigationViewPage.xaml
  dev/NavigationView/TestUI/NavigationViewPage.xaml.cs
Labels: area-NavigationView, team-Controls

#2083 Update developer guide with inner loop instructions
  docs/developer_guide.md
Labels: documentation

#2072 StackLayout incorrect sizing bug
  dev/Repeater/APITests/LayoutTests.cs
  dev/Repeater/StackLayout.cpp
  dev/Repeater/StackLayoutState.cpp
  dev/Repeater/StackLayoutState.h
Labels: area-ItemsRepeater, area-Layouts, team-Controls

#2078 Button foreground lightstyling issue
  dev/CommonStyles/Button_themeresources.xaml
  dev/CommonStyles/TestUI/CommonStylesPage.xaml
Labels: area-Styling, team-Controls

#2099 Try reading a registry value to get the root path to the installed Wind…
  test/MUXControls.Test/MUXControls.Test.Shared.projitems
Labels: area-DevInternal

#2016 TabView Compact TabViewWidthMode and new CloseButtonOverlayMode property
  MUXControls.sln
  dev/Generated/TabView.properties.cpp
  dev/Generated/TabView.properties.h
  dev/TabView/APITests/TabViewTests.cs
  dev/TabView/APITests/TabView_APITests.projitems
  dev/TabView/APITests/TabView_APITests.shproj
  dev/TabView/InteractionTests/TabViewTests.cs
  dev/TabView/TabView.cpp
  dev/TabView/TabView.h
  dev/TabView/TabView.idl
  dev/TabView/TabView.xaml
  dev/TabView/TabViewItem.cpp
  dev/TabView/TabViewItem.h
  dev/TabView/TestUI/TabViewPage.xaml
  dev/TabView/TestUI/TabViewPage.xaml.cs
  test/MUXControlsTestApp/MUXControlsTestApp.Shared.targets
Labels: area-TabView, team-Controls

#2116 Fix Discord invite link
  index.html
Labels: needs-triage

#2120 ProgressRing State Transitions Inconsistency Fix
  dev/ProgressRing/ProgressRing.cpp
  dev/ProgressRing/ProgressRing.h
  dev/ProgressRing/ProgressRing.vcxitems.filters
  dev/ProgressRing/ProgressRing.xaml
Labels: area-Progress, team-Controls

#2017 Remove automatic value change when specifying luminosity opacity on AcrylicBrush
  dev/Materials/Acrylic/AcrylicBrush.cpp
  dev/Materials/Acrylic/TestUI/AcrylicBrushLuminosityTestPage.xaml
  dev/Materials/Acrylic/TestUI/AcrylicBrushLuminosityTestPage.xaml.cs
  dev/Materials/Acrylic/TestUI/AcrylicBrush_TestUI.projitems
  dev/Materials/Acrylic/TestUI/AcrylicPage.xaml
  dev/Materials/Acrylic/TestUI/AcrylicPage.xaml.cs
Labels: area-Materials, team-Rendering

#2135 Adding links to logos and updating community call info
  WinUICommunityCall.ics
  index.html
Labels: needs-triage

#2136 Refactor loading of AdditionalStyles.xaml file
  FeatureAreas.props
  dev/ScrollViewer/TestUI/ScrollViewerWithScrollControllersPage.xaml.cs
  dev/Scroller/APITests/ScrollControllerTests.cs
  dev/Scroller/TestUI/ScrollerPage.xaml.cs
  test/MUXControlsTestApp/App.xaml.cs
  test/MUXControlsTestApp/MainPage.xaml.cs
Labels: area-DevInternal

#2117 Numberbox header aligning
  dev/Generated/NumberBox.properties.cpp
  dev/Generated/NumberBox.properties.h
  dev/NumberBox/InteractionTests/NumberBoxTests.cs
  dev/NumberBox/NumberBox.cpp
  dev/NumberBox/NumberBox.h
  dev/NumberBox/NumberBox.idl
  dev/NumberBox/NumberBox.xaml
  dev/NumberBox/TestUI/NumberBoxPage.xaml
  dev/NumberBox/TestUI/NumberBoxPage.xaml.cs
Labels: area-NumberBox, team-Controls

#2004 Hierarchical Navigation View
  dev/Generated/NavigationView.properties.cpp
  dev/Generated/NavigationView.properties.h
  dev/Generated/NavigationViewItem.properties.cpp
  dev/Generated/NavigationViewItem.properties.h
  dev/Generated/NavigationViewItemBase.properties.cpp
  dev/Generated/NavigationViewItemBase.properties.h
  dev/NavigationView/NavigationView.cpp
  dev/NavigationView/NavigationView.h
  dev/NavigationView/NavigationView.idl
  dev/NavigationView/NavigationView.vcxitems
  dev/NavigationView/NavigationView.xaml
  dev/NavigationView/NavigationViewCollapsedEventArgs.cpp
  dev/NavigationView/NavigationViewCollapsedEventArgs.h
  dev/NavigationView/NavigationViewExpandingEventArgs.cpp
  dev/NavigationView/NavigationViewExpandingEventArgs.h
  dev/NavigationView/NavigationViewItem.cpp
  dev/NavigationView/NavigationViewItem.h
  dev/NavigationView/NavigationViewItemAutomationPeer.cpp
  dev/NavigationView/NavigationViewItemAutomationPeer.h
  dev/NavigationView/NavigationViewItemAutomationPeer.idl
  dev/NavigationView/NavigationViewItemBase.cpp
  dev/NavigationView/NavigationViewItemBase.h
  dev/NavigationView/NavigationViewItemHeader.cpp
  dev/NavigationView/NavigationViewItemHeader.h
  dev/NavigationView/NavigationViewItemPresenter.cpp
  dev/NavigationView/NavigationViewItemPresenter.h
  dev/NavigationView/NavigationViewItemPresenter.idl
  dev/NavigationView/NavigationViewItemRevokers.h
  dev/NavigationView/NavigationViewItemSeparator.cpp
  dev/NavigationView/NavigationViewItemSeparator.h
  dev/NavigationView/NavigationView_InteractionTests/NavigationViewTests.cs
  dev/NavigationView/NavigationView_rs1_themeresources.xaml
  dev/NavigationView/TestUI/HierarchicalNavigationViewDataBinding.xaml
  dev/NavigationView/TestUI/HierarchicalNavigationViewDataBinding.xaml.cs
  dev/NavigationView/TestUI/HierarchicalNavigationViewMarkup.xaml
  dev/NavigationView/TestUI/HierarchicalNavigationViewMarkup.xaml.cs
  dev/NavigationView/TestUI/NavigationViewCaseBundle.xaml
  dev/NavigationView/TestUI/NavigationViewCaseBundle.xaml.cs
  dev/NavigationView/TestUI/NavigationView_TestUI.projitems
  test/MUXControlsTestApp/master/NavigationViewAuto-7.xml
  test/MUXControlsTestApp/master/NavigationViewAuto-8.xml
  test/MUXControlsTestApp/master/NavigationViewAuto.xml
  test/MUXControlsTestApp/master/NavigationViewLeftCompact-7.xml
  test/MUXControlsTestApp/master/NavigationViewLeftCompact-8.xml
  test/MUXControlsTestApp/master/NavigationViewLeftCompact.xml
  test/MUXControlsTestApp/master/NavigationViewLeftMinimal-7.xml
  test/MUXControlsTestApp/master/NavigationViewLeftMinimal-8.xml
  test/MUXControlsTestApp/master/NavigationViewLeftMinimal.xml
  test/MUXControlsTestApp/master/NavigationViewLeftPaneContent-7.xml
  test/MUXControlsTestApp/master/NavigationViewLeftPaneContent-8.xml
  test/MUXControlsTestApp/master/NavigationViewLeftPaneContent.xml
  test/MUXControlsTestApp/master/NavigationViewScrolling-7.xml
  test/MUXControlsTestApp/master/NavigationViewScrolling-8.xml
  test/MUXControlsTestApp/master/NavigationViewScrolling.xml
  test/MUXControlsTestApp/master/NavigationViewTop-7.xml
  test/MUXControlsTestApp/master/NavigationViewTop-8.xml
  test/MUXControlsTestApp/master/NavigationViewTop.xml
  test/MUXControlsTestApp/master/NavigationViewTopPaneContent-7.xml
  test/MUXControlsTestApp/master/NavigationViewTopPaneContent-8.xml
  test/MUXControlsTestApp/master/NavigationViewTopPaneContent.xml
Labels: area-NavigationView, team-Controls

#2046 Rework dark theme TextBox and RichEditBox
  dev/AutoSuggestBox/AutoSuggestBox_themeresources.xaml
  dev/CommonStyles/RichEditBox_themeresources.xaml
  dev/CommonStyles/TestUI/CommonStylesPage.xaml
  dev/CommonStyles/TestUI/CommonStylesPage.xaml.cs
  dev/CommonStyles/TextBox_themeresources.xaml
Labels: area-Styling, area-TextBlocks, area-TextBox, team-Controls

#2058 Fix TreeView missing children issue
  dev/TreeView/InteractionTests/TreeViewTests.cs
  dev/TreeView/TestUI/TreeViewPage.xaml
  dev/TreeView/TestUI/TreeViewPage.xaml.cs
  dev/TreeView/TreeViewItem.cpp
  dev/TreeView/TreeViewItem.h
  dev/TreeView/TreeViewList.cpp
Labels: area-TreeView, team-Controls

#2153 Remove TwoPaneView from tab navigation
  dev/TwoPaneView/InteractionTests/TwoPaneViewTests.cs
  dev/TwoPaneView/TestUI/TwoPaneViewPage.xaml
  dev/TwoPaneView/TwoPaneView.xaml
  dev/TwoPaneView/TwoPaneView_rs1.xaml
Labels: area-TwoPaneView, team-Controls

#2181 Update GradientOrigin property to align with WPF naming
  dev/Generated/RadialGradientBrush.properties.cpp
  dev/Generated/RadialGradientBrush.properties.h
  dev/RadialGradientBrush/RadialGradientBrush.cpp
  dev/RadialGradientBrush/RadialGradientBrush.h
  dev/RadialGradientBrush/RadialGradientBrush.idl
  dev/RadialGradientBrush/TestUI/RadialGradientBrushPage.xaml
  dev/RadialGradientBrush/TestUI/RadialGradientBrushPage.xaml.cs
Labels: area-RadialGradientBrush, team-Controls
