Repository microsoft/microsoft-ui-xaml, pull requests merged in 2020-05, with the labels that each got.

#2362 Rename ProgressBarTemplateSettings
  dev/AutoSuggestBox/APITests/AutoSuggestBoxTests.cs
  dev/Generated/ProgressBarTemplateSettings.properties.cpp
  dev/Generated/ProgressBarTemplateSettings.properties.h
  dev/ProgressBar/ProgressBar.cpp
  dev/ProgressBar/ProgressBar.idl
  dev/ProgressBar/ProgressBar.xaml
Labels: area-Progress, team-Controls

#2351 Remove whitespace from props to allow build on Mac
  build/NuSpecs/MUXControls-Nuget-FrameworkPackage.props
Labels: team-Controls

#2378 Add button to test app to toggle ApplicationHighContrastAdjustment
  test/MUXControlsTestApp/MainPage.xaml
  test/MUXControlsTestApp/MainPage.xaml.cs
Labels: area-DevInternal, team-Controls

#2377 Improve readability of AccentButton style on High Contrast
  dev/CommonStyles/Button_themeresources.xaml
Labels: area-UIDesign, team-Controls

#2395 Add fix for NavViewItems in footer crashing
  dev/NavigationView/NavigationViewItemPresenter.cpp
  dev/NavigationView/NavigationView_ApiTests/NavigationViewTests.cs
  dev/NavigationView/TestUI/NavigationViewCompactPaneLengthTestPage.xaml
Labels: area-NavigationView, needs-cherrypicktorelease, team-Controls

#2359 SelectionModel: Fix for missing SelectionChanged event raise
  dev/Repeater/APITests/SelectionModelTests.cs
  dev/Repeater/SelectionModel.cpp
Labels: area-ItemsRepeater, team-Controls

#2383 "IsDeterminate" was misleading in the ProgressBarPage.
  dev/ProgressBar/InteractionTests/ProgressBarTests.cs
  dev/ProgressBar/TestUI/ProgressBarPage.xaml
  dev/ProgressBar/TestUI/ProgressBarReTemplatePage.xaml
Labels: area-Progress, team-Controls

#2381 Fixing issues on mobile
  about.html
  css/landing-page.css
Labels: documentation

#2369 TabView: Add tooltips to its scrolling buttons.
  dev/ResourceHelper/ResourceAccessor.h
  dev/TabView/InteractionTests/TabViewTests.cs
  dev/TabView/Strings/en-us/Resources.resw
  dev/TabView/TabView.cpp
  dev/TabView/TestUI/TabViewPage.xaml
  dev/TabView/TestUI/TabViewPage.xaml.cs
Labels: area-TabView, team-Controls

#2420 Revert change to default AccentForegroundBrush
  dev/CommonStyles/Button_themeresources.xaml
Labels: area-UIDesign, team-Controls

#2413 Update nuget version information to 2.5
  build/NuSpecs/MUXControls-Nuget-FrameworkPackage.props
  dev/inc/BuildMacros.h
  version.props
Labels: area-DevInternal

#2348 TabView: Make TabViewItem consume the TabViewItemHeaderForeground theme resource
  dev/TabView/InteractionTests/TabViewTests.cs
  dev/TabView/TabView.xaml
  dev/TabView/TestUI/TabViewPage.xaml
  dev/TabView/TestUI/TabViewPage.xaml.cs
Labels: area-TabView, team-Controls

#2261 Fix issue where holding down the space/enter key invokes item rapidly
  dev/NavigationView/NavigationView.cpp
  dev/NavigationView/NavigationView.h
  dev/NavigationView/NavigationViewItemRevokers.h
  dev/NavigationView/NavigationView_InteractionTests/NavigationViewTests.cs
  dev/NavigationView/TestUI/NavigationViewCompactPaneLengthTestPage.xaml
  dev/NavigationView/TestUI/NavigationViewCompactPaneLengthTestPage.xaml.cs
  test/MUXControls.Test/Common/KeyboardHelper.cs
Labels: area-NavigationView, needs-cherrypicktorelease, team-Controls

#2446 Fix background of MenuFlyout in white high contrast
  dev/MenuFlyout/MenuFlyout_themeresources.xaml
Labels: area-Menus, team-Controls

#2201 Align TabView visuals with Edge
  dev/AutoSuggestBox/AutoSuggestBoxHelper.cpp
  dev/AutoSuggestBox/AutoSuggestBoxHelper.h
  dev/ComboBox/ComboBoxHelper.cpp
  dev/ComboBox/ComboBoxHelper.h
  dev/Generated/TabViewItemTemplateSettings.properties.cpp
  dev/Generated/TabViewItemTemplateSettings.properties.h
  dev/ResourceHelper/ResourceAccessor.cpp
  dev/ResourceHelper/ResourceAccessor.h
  dev/TabView/InteractionTests/TabViewTests.cs
  dev/TabView/TabView.idl
  dev/TabView/TabView.xaml
  dev/TabView/TabViewItem.cpp
  dev/TabView/TabView_themeresources.xaml
  dev/TabView/TestUI/TabViewPage.xaml
Labels: area-TabView, team-Controls

#2449 TreeView: Set IsExpanded when last child has been removed
  dev/TreeView/APITests/TreeViewTests.cs
  dev/TreeView/TreeViewNode.cpp
  dev/TreeView/TreeViewNode.h
Labels: area-TreeView, needs-cherrypicktorelease, team-Controls

#2447 Set TeachingTip's ActionButton and CloseButton styles DPs
  dev/TeachingTip/TeachingTip.xaml
Labels: area-TeachingTip, team-Controls

#2442 Fix issue with settings button in top mode not receiving pointer events
  dev/NavigationView/NavigationViewItem.cpp
Labels: area-NavigationView, needs-cherrypicktorelease, team-Controls

#2396 Split up NavigationView interaction tests
  dev/NavigationView/NavigationView_InteractionTests/CommonTests.cs
  dev/NavigationView/NavigationView_InteractionTests/EventTests.cs
  dev/NavigationView/NavigationView_InteractionTests/FocusBehaviorTests.cs
  dev/NavigationView/NavigationView_InteractionTests/NavigationViewTests.cs
  dev/NavigationView/NavigationView_InteractionTests/NavigationViewTestsBase.cs
  dev/NavigationView/NavigationView_InteractionTests/NavigationView_InteractionTests.projitems
  dev/NavigationView/NavigationView_InteractionTests/PaneBehaviorTests.cs
  dev/NavigationView/NavigationView_InteractionTests/SelectionTests.cs
  dev/NavigationView/NavigationView_InteractionTests/TopModeTests.cs
Labels: area-DevInternal, area-NavigationView, team-Controls

#2532 Simplify obtaining the CoreDispatcher from a thread
  dev/inc/DispatcherHelper.h
Labels: needs-triage

#2537 Make wasPressing const
  dev/Interactions/ButtonInteraction/ButtonInteraction.cpp
Labels: area-DevInternal

#2526 Removing VB.NET support from the roadmap
  docs/roadmap.md
Labels: documentation

#2524 Website/link fixes
  about.html
  index.html
Labels: documentation

#2501 Updating reference to WinUI 2.4 release webpage
  README.md
Labels: documentation, team-Controls

#2523 Make TreeView SelectedItem a DP
  dev/Generated/TreeView.properties.cpp
  dev/Generated/TreeView.properties.h
  dev/TreeView/InteractionTests/TreeViewTests.cs
  dev/TreeView/TestUI/TreeViewPage.xaml
  dev/TreeView/TestUI/TreeViewPage.xaml.cs
  dev/TreeView/TreeView.cpp
  dev/TreeView/TreeView.h
  dev/TreeView/TreeView.idl
Labels: area-TreeView, team-Controls

#2557 Update Helix SDK to latest version
  build/Helix/PrepareHelixPayload.ps1
  build/Helix/global.json
  build/Helix/packages.config
  nuget.config
  test/MUXControlsReleaseTest/AppThatUsesMUXIndirectly/AppThatUsesMUXIndirectly.csproj
  test/MUXControlsReleaseTest/NugetPackageTestApp/NugetPackageTestApp.csproj
  test/MUXControlsReleaseTest/NugetPackageTestAppCX/NugetPackageTestAppCX.vcxproj
  test/MUXControlsReleaseTest/NugetPackageTestAppCX/packages.config
Labels: area-DevInternal, team-Controls
