Repository microsoft/microsoft-ui-xaml, pull requests merged in 2020-11, with the labels that each got.

#3492 Feature/expander
  FeatureAreas.props
  MUXControls.sln
  MUXControlsInnerLoop.sln
  dev/Expander/Expander.cpp
  dev/Expander/Expander.h
  dev/Expander/Expander.idl
  dev/Expander/Expander.vcxitems
  dev/Expander/Expander.xaml
  dev/Expander/ExpanderAutomationPeer.cpp
  dev/Expander/ExpanderAutomationPeer.h
  dev/Expander/ExpanderAutomationPeer.idl
  dev/Expander/Expander_themeresources.xaml
  dev/Expander/InteractionTests/ExpanderTests.cs
  dev/Expander/InteractionTests/Expander_InteractionTests.projitems
  dev/Expander/InteractionTests/Expander_InteractionTests.shproj
  dev/Expander/TestUI/ExpanderPage.xaml
  dev/Expander/TestUI/ExpanderPage.xaml.cs
  dev/Expander/TestUI/Expander_TestUI.projitems
  dev/Expander/TestUI/Expander_TestUI.shproj
  dev/Generated/Expander.properties.cpp
  dev/Generated/Expander.properties.h
  dev/Generated/ExpanderAutomationPeer.properties.cpp
  dev/ResourceHelper/ResourceAccessor.h
  dev/Telemetry/RuntimeProfiler.h
  dev/dll/Microsoft.UI.Xaml.vcxproj
  test/MUXControls.Test/MUXControls.Test.Shared.targets
  test/MUXControlsTestApp/MUXControlsTestApp.Shared.targets
Labels: area-Expander, team-Controls

#3514 Initial check-in for colors/brushes, preliminary button brush updates, and adding visual states test page
  dev/CalendarView/APITests/CalendarViewTests.cs
  dev/ComboBox/APITests/ComboBoxTests.cs
  dev/CommonStyles/APITests/CommonStylesTests.cs
  dev/CommonStyles/Button_themeresources.xaml
  dev/CommonStyles/Common_themeresources.xaml
  dev/CommonStyles/CornerRadius_themeresources.xaml
  dev/CommonStyles/TestUI/CommonStyles_TestUI.projitems
  dev/CommonStyles/TestUI/VisualStatesPage.xaml
  dev/CommonStyles/TestUI/VisualStatesPage.xaml.cs
  dev/NavigationView/NavigationView_ApiTests/NavigationViewTests.cs
  dev/TabView/InteractionTests/TabViewTests.cs
  dev/TeachingTip/InteractionTests/TeachingTipTests.cs
  dev/TreeView/APITests/TreeViewTests.cs
  test/MUXControlsTestApp/Utilities/ControlStateViewer/ControlStateViewer.xaml
  test/MUXControlsTestApp/Utilities/ControlStateViewer/ControlStateViewer.xaml.cs
Labels: area-Styling, team-Controls

#3556 merge master into feature branch
  FeatureAreas.props
  InnerLoopAreas.props
  MUXControls.sln
  MUXControlsInnerLoop.sln
  build/MUX-CI.yml
  build/MUX-PR.yml
  build/MUX-Release.yml
  build/MUX-SimpleBuildAndTest.yml
  dev/CommonStyles/TestUI/CommonStylesPage.xaml.cs
  dev/CommonStyles/TestUI/CompactPage.xaml.cs
  dev/Expander/Expander.cpp
  dev/Expander/Expander.h
  dev/Expander/Expander.idl
  dev/Expander/Expander.vcxitems
  dev/Expander/Expander.xaml
  dev/Expander/ExpanderAutomationPeer.cpp
  dev/Expander/ExpanderAutomationPeer.h
  dev/Expander/ExpanderAutomationPeer.idl
  dev/Expander/Expander_themeresources.xaml
  dev/Expander/InteractionTests/ExpanderTests.cs
  dev/Expander/InteractionTests/Expander_InteractionTests.projitems
  dev/Expander/InteractionTests/Expander_InteractionTests.shproj
  dev/Expander/TestUI/ExpanderPage.xaml
  dev/Expander/TestUI/ExpanderPage.xaml.cs
  dev/Expander/TestUI/Expander_TestUI.projitems
  dev/Expander/TestUI/Expander_TestUI.shproj
  dev/Generated/Expander.properties.cpp
  dev/Generated/Expander.properties.h
  dev/Generated/ExpanderAutomationPeer.properties.cpp
  dev/Repeater/TestUI/Samples/LayoutSamples/NestedLayoutSamples/ItemsViewWithDataPage.xaml.cs
  dev/ResourceHelper/ResourceAccessor.h
  dev/TabView/TestUI/TabViewTabItemsSourcePage.xaml.cs
  dev/Telemetry/RuntimeProfiler.h
  dev/TreeView/TreeViewListAutomationPeer.cpp
  dev/TreeView/TreeViewListAutomationPeer.h
  dev/dll/Microsoft.UI.Xaml.vcxproj
  test/MUXControls.Test/MUXControls.Test.Shared.targets
  test/MUXControlsTestApp/MUXControlsTestApp.Shared.targets
  test/MUXControlsTestApp/Utilities/VisualTreeUtils.cs
  test/testinfra/MUXTestInfra/Infra/TestEnvironment.cs
  test/testinfra/MUXTestInfra/MSTest/MUXTestInfra.MSTest.csproj
  test/testinfra/MUXTestInfra/TAEF/MUXTestInfra.TAEF.csproj
  tools/GenerateNewControlProject.ps1
  tools/GenerateNewControlProjectFiles/APITests/NEWCONTROLTests.cs
  tools/GenerateNewControlProjectFiles/APITests/NEWCONTROL_APITests.projitems
  tools/GenerateNewControlProjectFiles/APITests/NEWCONTROL_APITests.shproj
Labels: area-DevInternal

#3082 NavView: Fix CornerRadius for overflow menu and NavViewItem children flyout menu
  dev/NavigationView/NavigationView.xaml
  dev/NavigationView/NavigationView_InteractionTests/CommonTests.cs
  dev/NavigationView/NavigationView_InteractionTests/TopModeTests.cs
  dev/NavigationView/TestUI/Hierarchical/HierarchicalNavigationViewMarkup.xaml
  dev/NavigationView/TestUI/Hierarchical/HierarchicalNavigationViewMarkup.xaml.cs
  dev/NavigationView/TestUI/TopMode/NavigationViewTopNavPage.xaml
  dev/NavigationView/TestUI/TopMode/NavigationViewTopNavPage.xaml.cs
  test/MUXControlsTestApp/Utilities/VisualTreeUtils.cs
Labels: area-NavigationView, team-Controls

#3567 Add missing resource files to LocConfig
  build/Localization/Settings/LocConfig.xml
Labels: area-DevInternal, team-Controls

#3569 Cache IsFullScreenMode and invalidate the value only when SizeChanged
  dev/Lights/MaterialHelper.cpp
  dev/Lights/MaterialHelper.h
Labels: area-Materials, area-Performance, team-Controls

#3565 Fix issue with ProgressRing not acting correctly when moving backwards
  dev/ProgressRing/ProgressRing.cpp
Labels: area-Progress, team-Controls

#3593 move pager resources under strings/en-us folder
  dev/PagerControl/PagerControl.vcxitems
  dev/PagerControl/Strings/en-us/Resources.resw
Labels: area-Pager, team-Controls

#3519 Move NavigationView footer menu items from preview to public
  dev/NavigationView/NavigationView.idl
Labels: area-NavigationView, team-Controls

#3599 Update progress ring idl based on API review
  dev/ProgressRing/ProgressRing.idl
Labels: area-Progress, team-Controls

#3118 TabView: Fix newly-added items not respecting TabWidthMode [compact] when using an ItemsSource collection
  dev/TabView/APITests/TabViewTests.cs
  dev/TabView/TabView.cpp
  dev/TabView/TabView.xaml
  dev/TabView/TabViewListView.cpp
  dev/TabView/TabViewListView.h
Labels: area-TabView, team-Controls

#3603 Switch to using ThemeResource for icon in InfoBar
  dev/InfoBar/InfoBar.xaml
  dev/InfoBar/InfoBar_themeresources.xaml
Labels: area-InfoBar, team-Controls

#3520 Allow winui to detect if it's in CBS package
  build/AzurePipelinesTemplates/MUX-CreateNugetPackage-Job.yml
  build/FrameworkPackage/MakeFrameworkPackage.ps1
  dev/ResourceHelper/ResourceAccessor.cpp
  dev/dll/SharedHelpers.cpp
  dev/dll/XamlControlsResources.cpp
  dev/dll/dllmain.cpp
  dev/inc/BuildMacros.h
  dev/inc/SharedHelpers.h
Labels: area-DevInternal, area-NugetPackage, team-Controls

#3619 Anawish/p3 website update
  WinUICommunityCall.ics
  about.html
  index.html
Labels: needs-triage

#3618 Doc/roadmap updates
  docs/images/WinUI-Roadmap-Aug2020.jpg
  docs/images/WinUI-Roadmap-Sept2020.jpg
  docs/images/winui-roadmap.jpg
  docs/preview_upgrade_instructions.md
  docs/roadmap.md
Labels: documentation

#3621 Fix readme to mention Preview 3 instead of P2
  README.md
Labels: needs-triage

#3602 Update NavigationView pane scrolling behavior
  dev/NavigationView/NavigationView.cpp
  dev/NavigationView/NavigationView.h
  dev/NavigationView/NavigationView.xaml
  dev/NavigationView/NavigationView_InteractionTests/PaneBehaviorTests.cs
  dev/NavigationView/TestUI/Footer/PaneLayoutTestPage.xaml
  dev/NavigationView/TestUI/Footer/PaneLayoutTestPage.xaml.cs
  dev/NavigationView/TestUI/NavigationViewCaseBundle.xaml
  dev/NavigationView/TestUI/NavigationViewCaseBundle.xaml.cs
  dev/NavigationView/TestUI/NavigationView_TestUI.projitems
  test/MUXControlsTestApp/verification/NavigationViewAuto-4.xml
  test/MUXControlsTestApp/verification/NavigationViewAuto-7.xml
  test/MUXControlsTestApp/verification/NavigationViewAuto-8.xml
  test/MUXControlsTestApp/verification/NavigationViewLeftCompact-4.xml
  test/MUXControlsTestApp/verification/NavigationViewLeftCompact-7.xml
  test/MUXControlsTestApp/verification/NavigationViewLeftCompact-8.xml
  test/MUXControlsTestApp/verification/NavigationViewLeftMinimal-4.xml
  test/MUXControlsTestApp/verification/NavigationViewLeftMinimal-7.xml
  test/MUXControlsTestApp/verification/NavigationViewLeftMinimal-8.xml
  test/MUXControlsTestApp/verification/NavigationViewLeftPaneContent-4.xml
  test/MUXControlsTestApp/verification/NavigationViewLeftPaneContent-7.xml
  test/MUXControlsTestApp/verification/NavigationViewLeftPaneContent-8.xml
  test/MUXControlsTestApp/verification/NavigationViewScrolling-4.xml
  test/MUXControlsTestApp/verification/NavigationViewScrolling-7.xml
  test/MUXControlsTestApp/verification/NavigationViewScrolling-8.xml
  test/MUXControlsTestApp/verification/NavigationViewTop-4.xml
  test/MUXControlsTestApp/verification/NavigationViewTop-7.xml
  test/MUXControlsTestApp/verification/NavigationViewTop-8.xml
  test/MUXControlsTestApp/verification/NavigationViewTopPaneContent-4.xml
  test/MUXControlsTestApp/verification/NavigationViewTopPaneContent-7.xml
  test/MUXControlsTestApp/verification/NavigationViewTopPaneContent-8.xml
Labels: area-NavigationView, team-Controls

#3626 Change Preview 2 to Preview 3 in roadmap.md file
  docs/roadmap.md
Labels: documentation

#3636 Updating version number to preview 3 on upgrade instructions
  docs/preview_upgrade_instructions.md
Labels: documentation

#3440 TeachingTip: Fix background for light-dismissable tip
  dev/TeachingTip/APITests/TeachingTipTests.cs
  dev/TeachingTip/TeachingTip.xaml
Labels: area-TeachingTip, team-Controls

#3664 File Pipeline build break: Update Nuget from 5.2 to 5.8
  build/AzurePipelinesTemplates/MUX-InstallNuget-Steps.yml
  build/AzurePipelinesTemplates/MUX-RunHelixTests-Job.yml
  build/Helix/global.json
Labels: needs-triage

#3661 Fixing incremental build after modifying a XAML file
  dev/dll/Microsoft.UI.Xaml.vcxproj
Labels: area-DevInternal

#3653 Remove explicit sizes of InfoBar
  dev/InfoBar/InfoBar.xaml
  dev/InfoBar/InfoBar_themeresources.xaml
Labels: area-InfoBar, team-Controls

#3594 Update CommandBarFlyout closing animation to include button moving
  dev/CommandBarFlyout/CommandBarFlyout.xaml
Labels: area-Commanding, team-Controls

#3651 update intellisense file
  build/NuSpecs/Intellisense/Microsoft.UI.Xaml.xml
Labels: team-Controls

#3498 Update AcrylicBrushes and add new AcrylicBrushes
  dev/CommandBarFlyout/CommandBarFlyout.xaml
  dev/Materials/Acrylic/AcrylicBrush.vcxitems
  dev/Materials/Acrylic/AcrylicBrush_19h1_themeresources.xaml
  dev/Materials/Acrylic/AcrylicBrush_rs1_themeresources.xaml
  dev/Materials/Acrylic/AcrylicBrush_rs2_themeresources.xaml
  dev/NavigationView/NavigationView_rs2_themeresources.xaml
  dev/dll/XamlControlsResources.cpp
  dev/dll/XamlControlsResources.h
Labels: area-Materials, team-Controls

#3629 Add ImageIcon
  FeatureAreas.props
  MUXControls.sln
  MUXControlsInnerLoop.sln
  dev/Generated/ImageIcon.properties.cpp
  dev/Generated/ImageIcon.properties.h
  dev/Generated/ImageIconSource.properties.cpp
  dev/Generated/ImageIconSource.properties.h
  dev/IconSource/APITests/IconSourceApiTests.cs
  dev/IconSource/IconSource.idl
  dev/IconSource/IconSource.vcxitems
  dev/IconSource/ImageIconSource.cpp
  dev/IconSource/ImageIconSource.h
  dev/ImageIcon/APITests/ImageIconTests.cs
  dev/ImageIcon/APITests/ImageIcon_APITests.projitems
  dev/ImageIcon/APITests/ImageIcon_APITests.shproj
  dev/ImageIcon/ImageIcon.cpp
  dev/ImageIcon/ImageIcon.h
  dev/ImageIcon/ImageIcon.idl
  dev/ImageIcon/ImageIcon.vcxitems
  dev/ImageIcon/ImageIcon.xaml
  dev/ImageIcon/ImageIcon_themeresources.xaml
  dev/ImageIcon/InteractionTests/ImageIconTests.cs
  dev/ImageIcon/InteractionTests/ImageIcon_InteractionTests.projitems
  dev/ImageIcon/InteractionTests/ImageIcon_InteractionTests.shproj
  dev/ImageIcon/TestUI/ImageIconPage.xaml
  dev/ImageIcon/TestUI/ImageIconPage.xaml.cs
  dev/ImageIcon/TestUI/ImageIcon_TestUI.projitems
  dev/ImageIcon/TestUI/ImageIcon_TestUI.shproj
  dev/Telemetry/RuntimeProfiler.h
  dev/dll/Microsoft.UI.Xaml.vcxproj
  dev/dll/SharedHelpers.cpp
  dev/inc/CppWinRTHelpers.h
  test/MUXControls.Test/MUXControls.Test.Shared.targets
  test/MUXControlsTestApp/Assets/libre-camera-panorama.svg
  test/MUXControlsTestApp/MUXControlsTestApp.Shared.projitems
  test/MUXControlsTestApp/MUXControlsTestApp.Shared.targets
Labels: area-Icon, area-Images, team-Controls

#3697 Fix Innerloop Solution
  dev/dll/SharedHelpers.cpp
Labels: area-Images, auto merge, team-Controls

#3704 Update InfoBarPanel API names
  dev/Generated/InfoBarPanel.properties.cpp
  dev/Generated/InfoBarPanel.properties.h
  dev/InfoBar/InfoBar.idl
  dev/InfoBar/InfoBar.xaml
  dev/InfoBar/InfoBarPanel.cpp
  dev/InfoBar/InfoBar_themeresources.xaml
Labels: area-InfoBar, team-Controls

#3592 Adding PipsPager
  FeatureAreas.props
  MUXControls.sln
  MUXControlsInnerLoop.sln
  build/Localization/Settings/LocConfig.xml
  dev/PipsPager/APITests/PipsPagerTests.cs
  dev/PipsPager/APITests/PipsPager_APITests.projitems
  dev/PipsPager/APITests/PipsPager_APITests.shproj
  dev/PipsPager/InteractionTests/PipsPagerElements.cs
  dev/PipsPager/InteractionTests/PipsPagerTestBase.cs
  dev/PipsPager/InteractionTests/PipsPagerTests.cs
  dev/PipsPager/InteractionTests/PipsPager_InteractionTests.projitems
  dev/PipsPager/InteractionTests/PipsPager_InteractionTests.shproj
  dev/PipsPager/PipsPager.cpp
  dev/PipsPager/PipsPager.h
  dev/PipsPager/PipsPager.idl
  dev/PipsPager/PipsPager.vcxitems
  dev/PipsPager/PipsPager.xaml
  dev/PipsPager/PipsPagerAutomationPeer.cpp
  dev/PipsPager/PipsPagerAutomationPeer.h
  dev/PipsPager/PipsPagerAutomationPeer.idl
  dev/PipsPager/PipsPagerSelectedIndexChangedEventArgs.h
  dev/PipsPager/PipsPagerTemplateSettings.cpp
  dev/PipsPager/PipsPagerTemplateSettings.h
  dev/PipsPager/PipsPager_themeresources.xaml
  dev/PipsPager/Strings/en-us/Resources.resw
  dev/PipsPager/TestUI/PipsPagerPage.xaml
  dev/PipsPager/TestUI/PipsPagerPage.xaml.cs
  dev/PipsPager/TestUI/PipsPager_TestUI.projitems
  dev/PipsPager/TestUI/PipsPager_TestUI.shproj
  dev/ResourceHelper/ResourceAccessor.h
  dev/Telemetry/RuntimeProfiler.h
  dev/dll/Microsoft.UI.Xaml.vcxproj
  dev/dll/SharedHelpers.cpp
  dev/inc/SharedHelpers.h
  test/IXMPTestApp/TAEF/IXMPTestApp.TAEF.csproj
  test/MUXControls.Test/MUXControls.Test.Shared.targets
  test/MUXControlsTestApp/MUXControlsTestApp.Shared.targets
  test/MUXControlsTestApp/TAEF/MUXControlsTestApp.TAEF.csproj
Labels: area-Pager, team-Controls
