Repository microsoft/microsoft-ui-xaml, pull requests merged in 2020-04, with the labels that each got.

#2200 Increase test work item timeout. Fix for ProcessHelixFiles.ps1
  build/Helix/GenerateTestProjFile.ps1
  build/Helix/ProcessHelixFiles.ps1
  build/Helix/runtests.cmd
  dev/RadioButtons/InteractionTests/RadioButtonsTests.cs
Labels: area-DevInternal, team-Controls

#2207 Multiple test-pass reliability fixes
  CreateTestBinariesDirFromBuild.ps1
  build/AzurePipelinesTemplates/MUX-ProcessTestResults-Job.yml
  build/AzurePipelinesTemplates/MUX-RunHelixTests-Job.yml
  build/Helix/ConvertWttLogToXUnit.ps1
  build/Helix/EnsureMachineState.ps1
  build/Helix/HelixTestHelpers.cs
  build/Helix/InstallTestAppDependencies.ps1
  build/Helix/OutputTestResults.ps1
  build/Helix/RunTestsInHelix.proj
  build/Helix/UpdateUnreliableTests.ps1
  build/Helix/runtests.cmd
  build/MUX-CI.yml
  build/MUX-PR.yml
  dev/CommonStyles/APITests/CommonStylesTests.cs
  test/MUXControls.Test/Infra/Application.cs
Labels: area-DevInternal, team-Controls

#2197 Match ProgressRing APIs with WUXC for 2.4 Release
  dev/Generated/ProgressRing.properties.cpp
  dev/Generated/ProgressRing.properties.h
  dev/ProgressRing/InteractionTests/ProgressRingTests.cs
  dev/ProgressRing/ProgressRing.cpp
  dev/ProgressRing/ProgressRing.h
  dev/ProgressRing/ProgressRing.idl
  dev/ProgressRing/ProgressRing.xaml
  dev/ProgressRing/ProgressRingAutomationPeer.cpp
  dev/ProgressRing/ProgressRingAutomationPeer.h
  dev/ProgressRing/TestUI/ProgressRingPage.xaml
  dev/ProgressRing/TestUI/ProgressRingPage.xaml.cs
  dev/dll/SharedHelpers.cpp
  dev/inc/SharedHelpers.h
Labels: area-Progress, team-Controls

#2129 Add IndexOf function to ItemsSourceView.
  dev/Repeater/APITests/InspectingDataSourceTests.cs
  dev/Repeater/InspectingDataSource.cpp
  dev/Repeater/InspectingDataSource.h
  dev/Repeater/ItemsRepeater.idl
  dev/Repeater/ItemsSourceView.cpp
  dev/Repeater/ItemsSourceView.h
Labels: area-ItemsRepeater, team-Controls

#2220 Disable TeachingTipTests.TipFollowsTargetOnWindowResize
  dev/TeachingTip/InteractionTests/TeachingTipTests.cs
Labels: needs-triage

#2211 Fix NavigationView light dismiss issue
  dev/NavigationView/NavigationView.cpp
  dev/NavigationView/NavigationView_InteractionTests/NavigationViewTests.cs
Labels: area-NavigationView, team-Controls

#2185 Update way handling of DataTemplateSelector with null values
  dev/Repeater/APITests/ItemTemplateTests.cs
  dev/Repeater/ItemTemplateWrapper.cpp
Labels: area-ItemsRepeater, team-Controls

#2162 Disable TabView scroll buttons based on scroll position
  dev/TabView/InteractionTests/TabViewTests.cs
  dev/TabView/TabView.cpp
  dev/TabView/TabView.h
  dev/TabView/TestUI/TabViewPage.xaml
  dev/TabView/TestUI/TabViewPage.xaml.cs
Labels: area-TabView, team-Controls

#2155 Fix dark theme text/richeditbox regressions
  dev/ComboBox/ComboBox_themeresources.xaml
  dev/CommonStyles/TextBox_themeresources.xaml
Labels: area-TextBlocks, area-TextBox, team-Controls

#2063 Add SelectionChanged event to the TreeView control
  dev/Generated/TreeView.properties.cpp
  dev/Generated/TreeView.properties.h
  dev/TreeView/APITests/TreeViewTests.cs
  dev/TreeView/TreeView.cpp
  dev/TreeView/TreeView.h
  dev/TreeView/TreeView.idl
  dev/TreeView/TreeView.vcxitems
  dev/TreeView/TreeViewItem.cpp
  dev/TreeView/TreeViewSelectionChangedEventArgs.cpp
  dev/TreeView/TreeViewSelectionChangedEventArgs.h
  dev/TreeView/ViewModel.cpp
  dev/TreeView/ViewModel.h
Labels: area-TreeView, team-Controls

#2225 Follow up to: #2191 Switch ColorPicker to use tracker_ref
  dev/ColorPicker/ColorPicker.cpp
  dev/ColorPicker/ColorSpectrum.cpp
Labels: area-ColorPicker, auto merge, team-Controls

#2196 Update HNav based on API Review
  dev/Generated/NavigationView.properties.cpp
  dev/Generated/NavigationView.properties.h
  dev/NavigationView/NavigationView.cpp
  dev/NavigationView/NavigationView.idl
  dev/NavigationView/NavigationView.vcxitems
  dev/NavigationView/NavigationViewCollapsedEventArgs.cpp
  dev/NavigationView/NavigationViewCollapsedEventArgs.h
  dev/NavigationView/NavigationViewExpandingEventArgs.cpp
  dev/NavigationView/NavigationViewExpandingEventArgs.h
  dev/NavigationView/NavigationViewItemCollapsedEventArgs.cpp
  dev/NavigationView/NavigationViewItemCollapsedEventArgs.h
  dev/NavigationView/NavigationViewItemExpandingEventArgs.cpp
  dev/NavigationView/NavigationViewItemExpandingEventArgs.h
  dev/NavigationView/NavigationView_InteractionTests/NavigationViewTests.cs
  dev/NavigationView/TestUI/HierarchicalNavigationViewDataBinding.xaml
  dev/NavigationView/TestUI/HierarchicalNavigationViewDataBinding.xaml.cs
  dev/NavigationView/TestUI/HierarchicalNavigationViewMarkup.xaml
  dev/NavigationView/TestUI/HierarchicalNavigationViewMarkup.xaml.cs
Labels: area-NavigationView, team-Controls

#2226 Progress Ring Updates for 2.4 Release
  dev/ProgressRing/ProgressRing.xaml
  dev/ProgressRing/ProgressRingAutomationPeer.cpp
  dev/ProgressRing/ProgressRingAutomationPeer.h
  dev/ProgressRing/ProgressRingIndeterminate.cpp
  dev/ProgressRing/Strings/en-us/Resources.resw
  dev/ProgressRing/TestUI/ProgressRingPage.xaml
  dev/ResourceHelper/ResourceAccessor.h
Labels: needs-triage

#2214 Split RadioButtons tests into smaller chunks and workloads
  dev/RadioButtons/InteractionTests/RadioButtonsTests.cs
Labels: area-DevInternal, team-Controls

#2243 Remove white bar on bottom of favicon
  img/winui-transparent.png
Labels: needs-triage

#2241 Revert changes to framework package creation logic
  build/AzurePipelinesTemplates/MUX-MakeFrameworkPackages-Steps.yml
  dev/inc/CppWinRTHelpers.h
Labels: area-DevInternal

#2206 Add NavigationViewItemSeparator lightweight styling theme resources
  dev/NavigationView/NavigationView.xaml
  dev/NavigationView/NavigationViewItemSeparator.cpp
  dev/NavigationView/NavigationViewItemSeparator.h
  dev/NavigationView/NavigationView_rs1_themeresources.xaml
Labels: area-NavigationView, team-Controls

#2238 Improve innerloop workflow
  FeatureAreas.props
  InnerLoopAreas.props
  MUXControlsInnerLoop.sln
  docs/developer_guide.md
  test/MUXControls.Test/Infra/TestEnvironment.cs
  test/MUXControlsTestApp/App.xaml.cs
Labels: area-DevInternal, team-Controls

#2248 Fix NavigationView pane not closing in minimal/compact mode when selecting an item
  dev/NavigationView/NavigationView.cpp
  dev/NavigationView/NavigationView_InteractionTests/NavigationViewTests.cs
Labels: area-NavigationView, team-Controls

#2231 Move ItemsSourceView.IndexOf to public
  dev/NavigationView/NavigationView.cpp
  dev/NavigationView/TopNavigationViewDataProvider.cpp
  dev/RadioButtons/RadioButtons.cpp
  dev/Repeater/InspectingDataSource.cpp
  dev/Repeater/InspectingDataSource.h
  dev/Repeater/ItemsRepeater.idl
Labels: area-ItemsRepeater, team-Controls

#2192 move RadialGradientBrush from preview to public
  dev/Generated/RadialGradientBrush.properties.cpp
  dev/Generated/RadialGradientBrush.properties.h
  dev/RadialGradientBrush/RadialGradientBrush.cpp
  dev/RadialGradientBrush/RadialGradientBrush.h
  dev/RadialGradientBrush/RadialGradientBrush.idl
  dev/RadialGradientBrush/TestUI/RadialGradientBrushPage.xaml
  dev/RadialGradientBrush/TestUI/RadialGradientBrushPage.xaml.cs
Labels: area-RadialGradientBrush, team-Controls

#2051 Let NavigationViewItem respect CompactPane length for icon size
  dev/NavigationView/NavigationView.cpp
  dev/NavigationView/NavigationView.h
  dev/NavigationView/NavigationView.xaml
  dev/NavigationView/NavigationViewItem.cpp
  dev/NavigationView/NavigationViewItemPresenter.cpp
  dev/NavigationView/NavigationViewItemPresenter.h
  dev/NavigationView/NavigationView_InteractionTests/NavigationViewTests.cs
  dev/NavigationView/NavigationView_rs1_themeresources.xaml
  dev/NavigationView/TestUI/NavigationViewCaseBundle.xaml
  dev/NavigationView/TestUI/NavigationViewCaseBundle.xaml.cs
  dev/NavigationView/TestUI/NavigationViewCompactPaneLengthTestPage.xaml
  dev/NavigationView/TestUI/NavigationViewCompactPaneLengthTestPage.xaml.cs
  dev/NavigationView/TestUI/NavigationView_TestUI.projitems
Labels: area-NavigationView, team-Controls

#2263 Fix incremental build break
  test/IXMPTestApp/IXMPTestApp.Shared.projitems
  test/MUXControlsAdhocApp/MUXControlsAdhocApp.csproj
  test/MUXControlsTestApp/MUXControlsTestApp.Shared.projitems
  test/RetargetCopyLocalFiles.targets
  test/TestAppCX/TestAppCX.vcxproj
Labels: needs-triage

#2253 Fix issue with selection being raised when selection did not change
  dev/Repeater/APITests/SelectionModelTests.cs
  dev/Repeater/SelectionModel.cpp
Labels: needs-triage

#2258 Fix ToggleSplitButton's IsCheckedProperty not being a public DP
  dev/SplitButton/APITests/SplitButtonTests.cs
  dev/SplitButton/SplitButton.idl
  dev/SplitButton/TestUI/SplitButtonPage.xaml
Labels: team-Controls

#2113 Adjust NavigationViewItemPresenter styles to remove unwanted color differences
  dev/NavigationView/NavigationView_rs1_themeresources.xaml
  dev/NavigationView/TestUI/NavigationViewCompactPaneLengthTestPage.xaml
  dev/NavigationView/TestUI/NavigationViewTopNavOnlyPage.xaml
  test/MUXControlsTestApp/master/NavigationViewAuto-7.xml
  test/MUXControlsTestApp/master/NavigationViewAuto-8.xml
  test/MUXControlsTestApp/master/NavigationViewAuto.xml
  test/MUXControlsTestApp/master/NavigationViewLeftCompact-7.xml
  test/MUXControlsTestApp/master/NavigationViewLeftCompact-8.xml
  test/MUXControlsTestApp/master/NavigationViewLeftCompact.xml
  test/MUXControlsTestApp/master/NavigationViewLeftMinimal-7.xml
  test/MUXControlsTestApp/master/NavigationViewLeftMinimal-8.xml
  test/MUXControlsTestApp/master/NavigationViewLeftMinimal.xml
  test/MUXControlsTestApp/master/NavigationViewLeftPaneContent-7.xml
  test/MUXControlsTestApp/master/NavigationViewLeftPaneContent-8.xml
  test/MUXControlsTestApp/master/NavigationViewLeftPaneContent.xml
  test/MUXControlsTestApp/master/NavigationViewScrolling-7.xml
  test/MUXControlsTestApp/master/NavigationViewScrolling-8.xml
  test/MUXControlsTestApp/master/NavigationViewScrolling.xml
  test/MUXControlsTestApp/master/NavigationViewTop-7.xml
  test/MUXControlsTestApp/master/NavigationViewTop-8.xml
  test/MUXControlsTestApp/master/NavigationViewTop.xml
  test/MUXControlsTestApp/master/NavigationViewTopPaneContent-7.xml
  test/MUXControlsTestApp/master/NavigationViewTopPaneContent-8.xml
  test/MUXControlsTestApp/master/NavigationViewTopPaneContent.xml
Labels: area-NavigationView, team-Controls

#2275 Fix FlowLayout LineSpacing and MinItemSpacing
  dev/Repeater/APITests/FlowLayoutTests.cs
  dev/Repeater/FlowLayout.h
Labels: needs-triage

#2272 Fix to hide the ring when inactive.
  dev/ProgressRing/InteractionTests/ProgressRingTests.cs
  dev/ProgressRing/ProgressRing.xaml
  dev/ProgressRing/TestUI/ProgressRingPage.xaml
  dev/ProgressRing/TestUI/ProgressRingPage.xaml.cs
Labels: area-Progress, needs-triage, team-Controls

#2283 Switch TabView APIs to public
  dev/TabView/TabView.idl
Labels: area-TabView, needs-triage, team-Controls

#2305 Implement work around for text clipping issue.
  dev/TeachingTip/TeachingTip.cpp
Labels: area-TeachingTip, needs-triage, team-Controls

#2317 Update TabView API to match spec
  dev/TabView/InteractionTests/TabViewTests.cs
  dev/TabView/TabView.idl
  dev/TabView/TabViewItem.cpp
  dev/TabView/TestUI/TabViewPage.xaml
  dev/TabView/TestUI/TabViewPage.xaml.cs
Labels: needs-triage

#2224 Fix for numberbox corner radius issues
  MUXControls.sln
  dev/CommonStyles/TestUI/CornerRadiusPage.xaml
  dev/NumberBox/APITests/NumberBoxTests.cs
  dev/NumberBox/APITests/NumberBox_APITests.projitems
  dev/NumberBox/APITests/NumberBox_APITests.shproj
  dev/NumberBox/NumberBox.cpp
  dev/NumberBox/NumberBox.h
  dev/NumberBox/NumberBox.xaml
  test/MUXControlsTestApp/MUXControlsTestApp.Shared.targets
Labels: area-NumberBox, team-Controls

#2316 Switch helper functionality
  dev/Repeater/FlowLayout.cpp
  dev/Repeater/FlowLayout.h
  dev/Repeater/FlowLayoutAlgorithm.cpp
  dev/Repeater/OrientationBasedMeasures.cpp
  dev/Repeater/OrientationBasedMeasures.h
  dev/Repeater/StackLayout.cpp
  dev/Repeater/UniformGridLayout.cpp
Labels: needs-triage

#2271 HNav Keyboarding & Gamepad updates + visual state fix
  dev/NavigationView/NavigationView.cpp
  dev/NavigationView/NavigationView.h
  dev/NavigationView/NavigationView.xaml
  dev/NavigationView/NavigationViewItem.cpp
  dev/NavigationView/NavigationViewItemRevokers.h
  dev/NavigationView/NavigationView_InteractionTests/NavigationViewTests.cs
  dev/NavigationView/NavigationView_rs1_themeresources.xaml
Labels: area-NavigationView, team-Controls

#2311 Add handling of minimized app state
  test/MUXControls.Test/Infra/Application.cs
Labels: area-TestInfrastructure, team-Controls

#2334 Remove adhoc app
  MUXControls.sln
  test/MUXControlsAdhocApp/App.xaml
  test/MUXControlsAdhocApp/App.xaml.cs
  test/MUXControlsAdhocApp/Assets/LockScreenLogo.scale-200.png
  test/MUXControlsAdhocApp/Assets/SplashScreen.scale-200.png
  test/MUXControlsAdhocApp/Assets/Square150x150Logo.scale-200.png
  test/MUXControlsAdhocApp/Assets/Square44x44Logo.scale-200.png
  test/MUXControlsAdhocApp/Assets/Square44x44Logo.targetsize-24_altform-unplated.png
  test/MUXControlsAdhocApp/Assets/StoreLogo.png
  test/MUXControlsAdhocApp/Assets/Wide310x150Logo.scale-200.png
  test/MUXControlsAdhocApp/CommandBarFlyoutPages/CommandBarFlyoutPage.xaml
  test/MUXControlsAdhocApp/CommandBarFlyoutPages/CommandBarFlyoutPage.xaml.cs
  test/MUXControlsAdhocApp/MUXControlsAdhocApp.csproj
  test/MUXControlsAdhocApp/MainPage.xaml
  test/MUXControlsAdhocApp/MainPage.xaml.cs
  test/MUXControlsAdhocApp/Package.appxmanifest
  test/MUXControlsAdhocApp/Properties/AssemblyInfo.cs
  test/MUXControlsAdhocApp/Properties/Default.rd.xml
  test/MUXControlsAdhocApp/RepeaterPages/PerfComparisonPage.xaml
  test/MUXControlsAdhocApp/RepeaterPages/PerfComparisonPage.xaml.cs
Labels: area-DevInternal, team-Controls

#2301 Move NavViewItem presenter margin to resource
  dev/NavigationView/NavigationView_rs1_themeresources.xaml
Labels: area-NavigationView, team-Controls

#2326 Navview fix issue with compact pane length not being behaving correctly
  dev/NavigationView/NavigationView.cpp
  dev/NavigationView/NavigationView_InteractionTests/NavigationViewTests.cs
  dev/NavigationView/TestUI/NavigationViewCompactPaneLengthTestPage.xaml
  dev/NavigationView/TestUI/NavigationViewCompactPaneLengthTestPage.xaml.cs
Labels: area-NavigationView, team-Controls

#2341 Update Progress Controls TemplateSetting Properties
  dev/ProgressBar/ProgressBar.idl
  dev/ProgressRing/ProgressRing.idl
Labels: area-Progress, team-Controls

#2148 Fix regressions with NumberBox HeaderPresenter behavior
  dev/Generated/NumberBox.properties.cpp
  dev/Generated/NumberBox.properties.h
  dev/NumberBox/InteractionTests/NumberBoxTests.cs
  dev/NumberBox/NumberBox.cpp
  dev/NumberBox/NumberBox.h
  dev/NumberBox/NumberBox.idl
  dev/NumberBox/TestUI/NumberBoxPage.xaml
  dev/NumberBox/TestUI/NumberBoxPage.xaml.cs
Labels: area-NumberBox, team-Controls

#2329 NavigationView: Fix SelectedItem not being unset when no NavigationViewItem is selected
  dev/NavigationView/NavigationView_ApiTests/NavigationViewTests.cs
  dev/Repeater/APITests/SelectionModelTests.cs
  dev/Repeater/SelectionModel.cpp
Labels: area-ItemsRepeater, team-Controls

#2252 Fix AutoSuggestBox not respecting common TextBox properties
  dev/AutoSuggestBox/AutoSuggestBox_themeresources.xaml
  test/MUXControlsTestApp/master/AutoSuggestBox-7.xml
  test/MUXControlsTestApp/master/AutoSuggestBox.xml
  test/MUXControlsTestApp/master/NavigationViewLeftPaneContent-5.xml
  test/MUXControlsTestApp/master/NavigationViewLeftPaneContent-6.xml
  test/MUXControlsTestApp/master/NavigationViewLeftPaneContent-7.xml
  test/MUXControlsTestApp/master/NavigationViewLeftPaneContent-8.xml
  test/MUXControlsTestApp/master/NavigationViewLeftPaneContent.xml
  test/MUXControlsTestApp/master/NavigationViewTopPaneContent-5.xml
  test/MUXControlsTestApp/master/NavigationViewTopPaneContent-6.xml
  test/MUXControlsTestApp/master/NavigationViewTopPaneContent-7.xml
  test/MUXControlsTestApp/master/NavigationViewTopPaneContent-8.xml
  test/MUXControlsTestApp/master/NavigationViewTopPaneContent.xml
Labels: area-AutoSuggestBox, area-Styling, team-Controls

#2318 Fix issue with item invoke and out of sync selection
  dev/NavigationView/NavigationView.cpp
  dev/NavigationView/NavigationView.h
  dev/NavigationView/NavigationView_InteractionTests/NavigationViewTests.cs
  dev/NavigationView/TestUI/NavigationViewPage.xaml
  dev/NavigationView/TestUI/NavigationViewPage.xaml.cs
Labels: area-NavigationView, team-Controls
