Repository microsoft/microsoft-ui-xaml, pull requests merged in 2020-06, with the labels that each got.

#2418 ProgressBar: Update indicator size when Padding changes.
  dev/ProgressBar/ProgressBar.cpp
  dev/ProgressBar/ProgressBar.h
Labels: area-Progress, team-Controls

#2547 Fix issue with single select and unrealized children on TreeView
  dev/TreeView/InteractionTests/TreeViewTests.cs
  dev/TreeView/TestUI/TreeViewPage.xaml
  dev/TreeView/TestUI/TreeViewPage.xaml.cs
  dev/TreeView/TestUI/TreeViewUnrealizedChildrenTestPage.xaml
  dev/TreeView/TestUI/TreeViewUnrealizedChildrenTestPage.xaml.cs
  dev/TreeView/TestUI/TreeView_TestUI.projitems
  dev/TreeView/TestUI/VirtualizingDataSource.cs
  dev/TreeView/ViewModel.cpp
Labels: area-TreeView, needs-cherrypicktorelease, team-Controls

#2569 Resize tab view items only once the pointer has left the TabViewItem strip
  dev/TabView/InteractionTests/TabViewTests.cs
  dev/TabView/TabView.cpp
  dev/TabView/TabView.h
  dev/TabView/TestUI/TabViewPage.xaml
  dev/TabView/TestUI/TabViewPage.xaml.cs
  dev/TabView/TestUI/TabViewTabClosingBehaviorPage.xaml
  dev/TabView/TestUI/TabViewTabClosingBehaviorPage.xaml.cs
  dev/TabView/TestUI/TabView_TestUI.projitems
Labels: area-TabView, team-Controls

#2622 Remove use of blacklist/whitelist terminology in code
  dev/CommonStyles/APITests/CommonStylesTests.cs
  dev/PersonPicture/InitialsGenerator.cpp
  test/TestAppUtils/VisualTreeDumper.cs
Labels: needs-triage

#2625 NavigationViewItem input handling fixes
  dev/Generated/NavigationViewItemBase.properties.cpp
  dev/Generated/NavigationViewItemBase.properties.h
  dev/NavigationView/NavigationView.h
  dev/NavigationView/NavigationView.idl
  dev/NavigationView/NavigationViewHelper.h
  dev/NavigationView/NavigationViewItem.cpp
  dev/NavigationView/NavigationViewItem.h
  dev/NavigationView/NavigationViewItemBase.cpp
  dev/NavigationView/NavigationViewItemBase.h
  dev/NavigationView/NavigationViewItemSeparator.cpp
  dev/NavigationView/NavigationViewItemSeparator.h
  dev/NavigationView/NavigationView_ApiTests/NavigationViewTests.cs
  dev/NavigationView/TestUI/NavigationViewPage.xaml
  dev/NavigationView/TestUI/NavigationViewPage.xaml.cs
  dev/ResourceHelper/Utils.cpp
  dev/ResourceHelper/Utils.h
  dev/TabView/TestUI/TabViewPage.xaml
  dev/inc/RoutedEventHelpers.h
Labels: area-NavigationView, team-Controls

#2634 TabView workaround for Issues #2455 and #2457
  dev/Generated/TabView.properties.cpp
  dev/Generated/TabView.properties.h
  dev/TabView/InteractionTests/TabViewTests.cs
  dev/TabView/TabView.cpp
  dev/TabView/TabView.h
  dev/TabView/TabView.idl
  dev/TabView/TabViewItem.cpp
  dev/TabView/TestUI/TabViewPage.xaml
  dev/TabView/TestUI/TabViewPage.xaml.cs
  dev/TabView/TestUI/TabViewTabItemsSourcePage.xaml
  dev/TabView/TestUI/TabViewTabItemsSourcePage.xaml.cs
  dev/TabView/TestUI/TabView_TestUI.projitems
Labels: area-TabView

#2641 Adding project reunion info to readme
  README.md
Labels: documentation

#2626 Clear DataContext of cleared elements in ItemsRepeater
  dev/Repeater/APITests/ViewManagerTests.cs
  dev/Repeater/ViewManager.cpp
  dev/Repeater/VirtualizationInfo.h
Labels: area-ItemsRepeater, team-Controls

#2646 Update README for WinUI 3.0 Preview 1 release
  README.md
Labels: auto merge, documentation

#2627 Automation Peer fix for Hierarchical NavigationView
  dev/NavigationView/NavigationView.h
  dev/NavigationView/NavigationViewItemAutomationPeer.cpp
  dev/NavigationView/NavigationViewItemAutomationPeer.h
  dev/NavigationView/NavigationView_InteractionTests/CommonTests.cs
Labels: area-NavigationView, needs-cherrypicktorelease, team-Controls

#2650 Adding accessibility updates and new community call date
  WinUICommunityCall.ics
  css/landing-page.css
  index.html
Labels: needs-triage

#2693 Adding "Restore NuGet Package" step in the developer's guide to help users build the repo w/o errors
  docs/developer_guide.md
Labels: needs-triage

#2688 Roadmap: Change links from Alpha to Preview1
  docs/roadmap.md
Labels: documentation

#2695 Update bug report issue template for 20H1
  .github/ISSUE_TEMPLATE/bug_report.md
Labels: needs-triage

#2678 Refactor key hold down detection to be simpler
  dev/NavigationView/NavigationView.cpp
  dev/NavigationView/NavigationView.h
  dev/NavigationView/NavigationViewItemRevokers.h
Labels: area-NavigationView, team-Controls

#2665 Update issue templates to link to the Project Reunion repository
  .github/ISSUE_TEMPLATE/bug_report.md
  .github/ISSUE_TEMPLATE/discussion.md
  .github/ISSUE_TEMPLATE/feature_proposal.md
  .github/ISSUE_TEMPLATE/question.md
Labels: documentation, team-Controls

#2605 Set InputScope property to Number in NumberBox's input TextBox
  dev/NumberBox/NumberBox.xaml
Labels: area-NumberBox, team-Controls

#2705 Major updates to readme
  docs/images/winui-roadmap-img.PNG
  docs/roadmap.md
Labels: documentation, team-Controls

#2700 Mark AnimatorProperty as preview
  dev/Repeater/ItemsRepeater.idl
Labels: area-ItemsRepeater, team-Controls

#2696 Remove [Mobile] device form factor from bug report issue template
  .github/ISSUE_TEMPLATE/bug_report.md
Labels: documentation, team-Controls

#2664 Fix issue with ContentDialog not respecting BorderThickness property set
  dev/ContentDialog/ContentDialog_themeresources.xaml
  dev/ContentDialog/TestUI/ContentDialogPage.xaml
  dev/ContentDialog/TestUI/ContentDialogPage.xaml.cs
  test/MUXControlsTestApp/master/ContentDialog-5.xml
  test/MUXControlsTestApp/master/ContentDialog-7.xml
  test/MUXControlsTestApp/master/ContentDialog.xml
Labels: area-Dialogs, team-Controls

#2342 Add padding to the NavigationViewItem to avoid occluding expand/collapse chevron
  dev/NavigationView/NavigationViewItem.cpp
  dev/NavigationView/NavigationViewItemPresenter.cpp
  dev/NavigationView/NavigationViewItemPresenter.h
  dev/NavigationView/NavigationView_rs1_themeresources.xaml
  test/MUXControlsTestApp/master/NavigationViewAuto-5.xml
  test/MUXControlsTestApp/master/NavigationViewAuto-6.xml
  test/MUXControlsTestApp/master/NavigationViewAuto-7.xml
  test/MUXControlsTestApp/master/NavigationViewAuto-8.xml
  test/MUXControlsTestApp/master/NavigationViewAuto.xml
  test/MUXControlsTestApp/master/NavigationViewLeftCompact-5.xml
  test/MUXControlsTestApp/master/NavigationViewLeftCompact-6.xml
  test/MUXControlsTestApp/master/NavigationViewLeftCompact-7.xml
  test/MUXControlsTestApp/master/NavigationViewLeftCompact-8.xml
  test/MUXControlsTestApp/master/NavigationViewLeftCompact.xml
  test/MUXControlsTestApp/master/NavigationViewLeftMinimal-5.xml
  test/MUXControlsTestApp/master/NavigationViewLeftMinimal-6.xml
  test/MUXControlsTestApp/master/NavigationViewLeftMinimal-7.xml
  test/MUXControlsTestApp/master/NavigationViewLeftMinimal-8.xml
  test/MUXControlsTestApp/master/NavigationViewLeftMinimal.xml
  test/MUXControlsTestApp/master/NavigationViewLeftPaneContent-5.xml
  test/MUXControlsTestApp/master/NavigationViewLeftPaneContent-6.xml
  test/MUXControlsTestApp/master/NavigationViewLeftPaneContent-7.xml
  test/MUXControlsTestApp/master/NavigationViewLeftPaneContent-8.xml
  test/MUXControlsTestApp/master/NavigationViewLeftPaneContent.xml
  test/MUXControlsTestApp/master/NavigationViewScrolling-5.xml
  test/MUXControlsTestApp/master/NavigationViewScrolling-6.xml
  test/MUXControlsTestApp/master/NavigationViewScrolling-7.xml
  test/MUXControlsTestApp/master/NavigationViewScrolling-8.xml
  test/MUXControlsTestApp/master/NavigationViewScrolling.xml
Labels: area-NavigationView, team-Controls

#2720 RS4 and lower: Cannot find a Resource with the Name/Key CalendarDatePickerTopHeaderMargin #2719
  dev/CalendarDatePicker/CalendarDatePicker_themeresources.xaml
Labels: area-DateTimePickers, area-Styling, team-Controls

#2745 Enable running tests on internal Helix queues
  build/AzurePipelinesTemplates/MUX-ProcessTestResults-Job.yml
  build/AzurePipelinesTemplates/MUX-RunHelixTests-Job.yml
  build/Helix/ProcessHelixFiles.ps1
  build/MUX-PGOInstrument.yml
Labels: needs-triage

#2748 TeachingTip: Fix scrollbar being visible without content to scroll
  dev/TeachingTip/TeachingTip.xaml
Labels: area-TeachingTip, team-Controls

#2674 TabView: Add theme resource to style the tab separator more easily
  dev/TabView/TabView.xaml
  dev/TabView/TabView_themeresources.xaml
Labels: area-TabView, team-Controls

#2752 Tabview: Fix issue with newly added items not behaving according to TabViews WidthMode
  dev/TabView/APITests/TabViewTests.cs
  dev/TabView/TabView.cpp
  dev/TabView/TabViewItem.cpp
Labels: area-TabView, team-Controls

#2760 NavigationView: Add theme resources to enable easy flyout padding customization
  dev/NavigationView/NavigationView.xaml
  dev/NavigationView/NavigationView_rs1_themeresources.xaml
Labels: area-NavigationView, team-Controls

#2786 Website: Adding cookie banner for MS cookie compliance, other stuff
  WinUICommunityCall.ics
  about.html
  index.html
  index.js
Labels: documentation, team-Controls, website

#2787 Update cppwinrt to latest version.
  dev/dll/Microsoft.UI.Xaml.vcxproj
  dev/dll/SharedHelpers.cpp
  dev/dll/dllmain.cpp
  dev/dll/packages.config
Labels: needs-triage

#2771 Cleanup NavView tests
  dev/NavigationView/NavigationView_InteractionTests/CommonTests.cs
  dev/NavigationView/NavigationView_InteractionTests/FocusBehaviorTests.cs
  dev/NavigationView/TestUI/NavigationViewItemTemplatePage.xaml
  dev/NavigationView/TestUI/NavigationViewItemTemplatePage.xaml.cs
Labels: needs-triage

#2770 Fix issue with NavigationViewItem announcing collapsed when not having children
  dev/NavigationView/NavigationViewItem.h
  dev/NavigationView/NavigationViewItemAutomationPeer.cpp
  dev/NavigationView/NavigationViewItemAutomationPeer.h
  dev/NavigationView/NavigationView_ApiTests/NavigationViewTests.cs
Labels: accessibility, area-NavigationView, team-Controls

#2790 Fix Rust Capitalization in README.md
  README.md
Labels: documentation

#2756 Simplify ProgressBar Control Template
  dev/ProgressBar/ProgressBar.xaml
Labels: area-Progress, team-Controls

#2652 Add missing templatebindings to NumberBox
  dev/NumberBox/NumberBox.xaml
  dev/NumberBox/TestUI/NumberBoxPage.xaml
Labels: area-NumberBox, team-Controls
