Repository microsoft/microsoft-ui-xaml, pull requests merged in 2020-02, with the labels that each got.

#1905 Fix stack overflow when clearing a NumberBox with two way x:Bind to Value property
  dev/Generated/NumberBox.properties.cpp
  dev/NumberBox/InteractionTests/NumberBoxTests.cs
  dev/NumberBox/NumberBox.cpp
  dev/NumberBox/NumberBox.h
  dev/NumberBox/TestUI/NumberBoxPage.xaml
  dev/NumberBox/TestUI/NumberBoxPage.xaml.cs
Labels: area-NumberBox, needs-cherrypicktorelease, team-Controls

#1907 Created a new ICS file for the call and added it to the readme
  README.md
  docs/communitycalls/WinUICommunityCall.ics
Labels: documentation

#1859 Fix crash when trying to use DefaultRadioButtonStyle
  dev/CommonStyles/TestUI/CommonStylesPage.xaml
  dev/RadioButtons/RadioButton.xaml
  dev/RadioButtons/RadioButton_themeresources.xaml
  dev/RadioButtons/RadioButtons.vcxitems
  dev/RadioButtons/RadioButtons.vcxitems.filters
Labels: needs-cherrypicktorelease, team-Controls

#1922 Fix crash in selection model during SelectRange
  dev/Repeater/APITests/SelectionModelTests.cs
  dev/Repeater/SelectionTreeHelper.cpp
Labels: needs-triage

#1894 Fixes to a few NumberBox issues
  dev/NumberBox/NumberBox.cpp
  dev/NumberBox/NumberBox.h
  dev/NumberBox/NumberBox.xaml
  dev/NumberBox/NumberBox_themeresources.xaml
  dev/NumberBox/TestUI/NumberBoxPage.xaml
  dev/inc/CppWinRTIncludes.h
Labels: area-NumberBox, needs-cherrypicktorelease, team-Controls

#1928 Check for ApplicationViewMode.Spanning.
  dev/TwoPaneView/DisplayRegionHelper.cpp
Labels: needs-triage

#1924 Fix TreeView expand
  dev/TreeView/InteractionTests/TreeViewTests.cs
  dev/TreeView/TestUI/TreeViewPage.xaml
  dev/TreeView/TestUI/TreeViewPage.xaml.cs
  dev/TreeView/TreeViewItem.cpp
  dev/TreeView/TreeViewList.cpp
Labels: area-TreeView

#1933 Fixes for a few NumberBox bugs
  dev/Generated/NumberBox.properties.cpp
  dev/NumberBox/InteractionTests/NumberBoxTests.cs
  dev/NumberBox/NumberBox.idl
  dev/NumberBox/NumberBox.xaml
  dev/NumberBox/NumberBoxAutomationPeer.cpp
  dev/NumberBox/NumberBoxAutomationPeer.h
  dev/NumberBox/NumberBox_themeresources.xaml
  dev/NumberBox/TestUI/NumberBoxPage.xaml
Labels: area-NumberBox, needs-cherrypicktorelease, team-Controls

#1936 Produce and consume appropriate PGO database versions
  PGO.compile.props
  build/AzurePipelinesTemplates/MUX-BuildAndPublishPGONuGet-Job.yml
  build/AzurePipelinesTemplates/MUX-BuildProject-Steps.yml
  build/MUX-CI.yml
  build/MUX-PGOInstrument.yml
  build/MUX-PR.yml
  build/MUX-Release.yml
  dev/dll/Microsoft.UI.Xaml.vcxproj
  dev/dll/packages.config
  tools/MUXPGODatabase/NuSpecs/MUXPGODatabase.nuspec
  tools/MUXPGODatabase/NuSpecs/PGO.nuspec.template
  tools/MUXPGODatabase/NuSpecs/build/PGO.targets
  tools/MUXPGODatabase/PGO.version.props.template
  tools/MUXPGODatabase/config.ps1
  tools/MUXPGODatabase/generate-nuspec.ps1
  tools/MUXPGODatabase/readme.md
  tools/MUXPGODatabase/restore-pgodb.ps1
  tools/MUXPGODatabase/template.ps1
  tools/MUXPGODatabase/version.ps1
Labels: area-DevInternal, team-Controls

#1903 Add RadialGradientBrush spread method
  dev/Generated/RadialGradientBrush.properties.cpp
  dev/Generated/RadialGradientBrush.properties.h
  dev/RadialGradientBrush/RadialGradientBrush.cpp
  dev/RadialGradientBrush/RadialGradientBrush.h
  dev/RadialGradientBrush/RadialGradientBrush.idl
  dev/RadialGradientBrush/TestUI/RadialGradientBrushPage.xaml
  dev/RadialGradientBrush/TestUI/RadialGradientBrushPage.xaml.cs
  dev/inc/CppWinRTIncludes.h
Labels: area-RadialGradientBrush, team-Controls

#1942 Fix bug where the "More" text would get clipped with text scaling > 200%
  dev/ColorPicker/ColorPicker.xaml
  test/MUXControlsTestApp/master/ColorPicker-7.xml
  test/MUXControlsTestApp/master/ColorPicker.xml
Labels: area-ColorPicker, team-Controls

#1963 Fixed SelectionModelChildrenRequestedEventArgs returning incorrect source index
  dev/Repeater/APITests/SelectionModelTests.cs
  dev/Repeater/SelectionModel.cpp
  dev/Repeater/SelectionModel.h
  dev/Repeater/SelectionModelChildrenRequestedEventArgs.cpp
  dev/Repeater/SelectionModelChildrenRequestedEventArgs.h
  dev/Repeater/SelectionNode.cpp
Labels: area-ItemsRepeater, team-Controls

#1990 Remove unused code
  dev/TwoPaneView/TwoPaneView.cpp
Labels: area-TwoPaneView, team-Controls

#1858 ProgressRing Indeterminate State with Lottie Animations
  dev/Generated/ProgressRing.properties.cpp
  dev/Generated/ProgressRing.properties.h
  dev/NavigationView/NavigationView.cpp
  dev/NumberBox/NumberBox.cpp
  dev/ProgressRing/IThemedAnimatedVisualSource.h
  dev/ProgressRing/InteractionTests/ProgressRingTests.cs
  dev/ProgressRing/ProgressRing.cpp
  dev/ProgressRing/ProgressRing.h
  dev/ProgressRing/ProgressRing.idl
  dev/ProgressRing/ProgressRing.vcxitems
  dev/ProgressRing/ProgressRing.vcxitems.filters
  dev/ProgressRing/ProgressRing.xaml
  dev/ProgressRing/ProgressRingIndeterminate.cpp
  dev/ProgressRing/ProgressRingIndeterminate.h
  dev/ProgressRing/ProgressRing_themeresources.xaml
  dev/ProgressRing/TestUI/ProgressRingPage.xaml
  dev/ProgressRing/TestUI/ProgressRingPage.xaml.cs
  dev/RadioButtons/RadioButtons.vcxitems
  dev/SwipeControl/SwipeControl.cpp
  dev/TabView/TabView.cpp
  dev/TabView/TabViewItem.cpp
  dev/Telemetry/RuntimeProfiler.h
  dev/dll/SharedHelpers.cpp
  dev/inc/SharedHelpers.h
Labels: area-Progress, team-Controls

#2021 Fix an target's input file path to improve incremental build times.
  dev/dll/Microsoft.UI.Xaml.vcxproj
Labels: area-DevInternal
