Repository microsoft/microsoft-ui-xaml, pull requests merged in 2020-09, with the labels that each got.

#3120 Toggle the InnerFrameInLabDimensions to reduce number of tests which pass locally and fail in the lab.
  build/Helix/CopyVisualTreeVerificationFiles.ps1
  dev/NavigationView/NavigationView_InteractionTests/CommonTests.cs
  dev/NavigationView/NavigationView_InteractionTests/TopModeTests.cs
  dev/TabView/InteractionTests/TabViewTests.cs
  test/MUXControls.Test/Infra/TestHelpers.cs
  test/TestAppUtils/TestFrame.cs
  test/TestAppUtils/Themes/Generic.xaml
Labels: area-TestInfrastructure, team-Controls

#2920 Fixed NavView in ContentDialog crash
  dev/NavigationView/NavigationView.cpp
  dev/NavigationView/NavigationView.h
  dev/NavigationView/NavigationView_InteractionTests/CommonTests.cs
  dev/NavigationView/TestUI/Common/NavigationViewPage.xaml
  dev/NavigationView/TestUI/Common/NavigationViewPage.xaml.cs
  dev/NavigationView/TestUI/DialogWithNavView.xaml
  dev/NavigationView/TestUI/DialogWithNavView.xaml.cs
  dev/NavigationView/TestUI/NavigationView_TestUI.projitems
  test/MUXControlsTestApp/verification/NavigationViewAuto-4.xml
  test/MUXControlsTestApp/verification/NavigationViewAuto-7.xml
  test/MUXControlsTestApp/verification/NavigationViewAuto-8.xml
  test/MUXControlsTestApp/verification/NavigationViewAuto.xml
  test/MUXControlsTestApp/verification/NavigationViewLeftMinimal.xml
Labels: area-NavigationView, team-Controls

#3224 ColorPicker: Fix app crash when clearing input fields
  dev/ColorPicker/APITests/ColorPickerTests.cs
  dev/ColorPicker/ColorPicker.cpp
Labels: area-ColorPicker, team-Controls

#3207 Roadmap update for August
  docs/images/WinUI-Roadmap-Aug2020.jpg
  docs/images/WinUI-RoadmapJuly2020.png
  docs/roadmap.md
Labels: documentation

#3202 NavigationView: Fix app crash in Top mode when clearing the item collection while a selected item exists
  dev/NavigationView/NavigationView.cpp
  dev/NavigationView/NavigationView_ApiTests/NavigationViewTests.cs
Labels: area-NavigationView, team-Controls

#3233 WinUI3 try-convert Migration Document
  docs/winui3_migration.md
Labels: documentation, winui3preview

#3196 Add NumberPanel Display Mode to Pager Prototype
  dev/Pager/InteractionTests/PagerTests.cs
  dev/Pager/InteractionTests/PagerTestsPageElements.cs
  dev/Pager/PrototypePager/PrototypePager.Events.cs
  dev/Pager/PrototypePager/PrototypePager.Properties.cs
  dev/Pager/PrototypePager/PrototypePager.TestHooks.cs
  dev/Pager/PrototypePager/PrototypePager.cs
  dev/Pager/PrototypePager/PrototypePager.projitems
  dev/Pager/PrototypePager/PrototypePagerElementFactory.cs
  dev/Pager/PrototypePager/Themes/PrototypePager.xaml
  dev/Pager/TestUI/PagerPage.xaml
  dev/Pager/TestUI/PagerPage.xaml.cs
  dev/Pager/TestUI/Pager_TestUI.projitems
Labels: area-Pager, team-Controls

#3223 Revert the change to winuibuildagents
  build/MUX-PR.yml
  build/MUX-SimpleBuildAndTest.yml
Labels: area-DevInternal, team-Controls

#3127 Fix issue with displaymode minimal shadow missing
  dev/NavigationView/NavigationView.cpp
  dev/NavigationView/TestUI/Common/NavigationViewMinimalPage.xaml
  test/MUXControlsTestApp/verification/NavigationViewAuto-8.xml
  test/MUXControlsTestApp/verification/NavigationViewLeftCompact-8.xml
  test/MUXControlsTestApp/verification/NavigationViewLeftMinimal-8.xml
  test/MUXControlsTestApp/verification/NavigationViewLeftPaneContent-8.xml
  test/MUXControlsTestApp/verification/NavigationViewScrolling-8.xml
  test/MUXControlsTestApp/verification/NavigationViewTop-8.xml
  test/MUXControlsTestApp/verification/NavigationViewTopPaneContent-8.xml
Labels: area-NavigationView, team-Controls

#3087 NavigationView: Fix overflow button not being collapsed when the overflow menu only contains one item and NavigationView menu items are removed to empty the overflow menu
  dev/NavigationView/NavigationView.cpp
  dev/NavigationView/NavigationView.h
  dev/NavigationView/NavigationView_InteractionTests/TopModeTests.cs
  dev/NavigationView/TestUI/NavigationViewCaseBundle.xaml
  dev/NavigationView/TestUI/NavigationViewCaseBundle.xaml.cs
  dev/NavigationView/TestUI/NavigationView_TestUI.projitems
  dev/NavigationView/TestUI/TopMode/NavigationViewTopNavOverflowButtonPage.xaml
  dev/NavigationView/TestUI/TopMode/NavigationViewTopNavOverflowButtonPage.xaml.cs
Labels: area-NavigationView, team-Controls

#3239 Pager: Add Auto Display Mode functionality
  dev/Pager/InteractionTests/PagerTests.cs
  dev/Pager/InteractionTests/PagerTestsPageElements.cs
  dev/Pager/PrototypePager/PrototypePager.Events.cs
  dev/Pager/PrototypePager/PrototypePager.cs
  dev/Pager/TestUI/PagerPage.xaml
  dev/Pager/TestUI/PagerPage.xaml.cs
Labels: area-Pager, team-Controls

#3232 NavigationView: Throw exception when a WUX NavigationViewItem is added to it as a menu item
  dev/NavigationView/NavigationViewItemsFactory.cpp
Labels: area-NavigationView, team-Controls

#3197 NavigationView: Fix IsPaneOpen=false ignored on launch when pane is launched in Left expanded state
  dev/NavigationView/NavigationView.cpp
  dev/NavigationView/NavigationView_ApiTests/NavigationViewTests.cs
Labels: area-NavigationView, team-Controls

#3260 TreeView: Fix visual flicker when directly clicking the expand/collapse chevron
  dev/TreeView/TreeViewItem.xaml
Labels: needs-triage

#3194 RadioButtons: Wrap custom ItemTemplate in a RadioButton if required
  MUXControls.sln
  MUXControlsInnerLoop.sln
  dev/Generated/RadioButtons.properties.cpp
  dev/RadioButtons/APITests/RadioButtonsTests.cs
  dev/RadioButtons/APITests/RadioButtons_APITests.projitems
  dev/RadioButtons/APITests/RadioButtons_APITests.shproj
  dev/RadioButtons/RadioButtons.cpp
  dev/RadioButtons/RadioButtons.h
  dev/RadioButtons/RadioButtons.idl
  dev/RadioButtons/RadioButtons.xaml
  dev/RadioButtons/RadioButtonsElementFactory.cpp
  dev/RadioButtons/RadioButtonsElementFactory.h
  test/MUXControlsTestApp/MUXControlsTestApp.Shared.targets
Labels: area-RadioButtons, team-Controls

#3190 Remove code that removed focus visual in SelectionFollowsFocus mode
  dev/NavigationView/NavigationView.cpp
  dev/NavigationView/NavigationView.h
  dev/NavigationView/NavigationView.xaml
Labels: area-NavigationView, team-Controls

#3262 Developer documentation: Several small improvements
  docs/developer_guide.md
Labels: documentation, team-Controls

#3166 NavigationView: Fix crash when launched in Top mode with hierarchical navigation
  dev/NavigationView/NavigationViewItem.cpp
  dev/NavigationView/NavigationView_ApiTests/NavigationViewTests.cs
Labels: area-NavigationView, team-Controls

#2717 NavigationView: Fix content clipping regression
  dev/NavigationView/NavigationView_InteractionTests/CommonTests.cs
  dev/NavigationView/NavigationView_InteractionTests/EventTests.cs
  dev/NavigationView/NavigationView_InteractionTests/FocusBehaviorTests.cs
  dev/NavigationView/NavigationView_InteractionTests/PaneBehaviorTests.cs
  dev/NavigationView/NavigationView_InteractionTests/SelectionTests.cs
  dev/NavigationView/NavigationView_rs1_themeresources.xaml
  dev/NavigationView/TestUI/Common/NavigationViewPage.xaml
  dev/NavigationView/TestUI/Common/NavigationViewPage.xaml.cs
  dev/NavigationView/TestUI/Regression/NavigationViewRS4Page.xaml
  test/MUXControlsTestApp/verification/NavigationViewLeftCompact-4.xml
  test/MUXControlsTestApp/verification/NavigationViewLeftCompact-7.xml
  test/MUXControlsTestApp/verification/NavigationViewLeftCompact-8.xml
Labels: area-NavigationView, needs-cherrypicktorelease, team-Controls

#3265 IconSource: Fix issue with Foreground property not being forwarded
  dev/dll/SharedHelpers.cpp
Labels: area-Styling, team-Controls

#3245 Fix ColorHelper Function Declarations
  dev/ColorPicker/ColorHelpers.cpp
  dev/ColorPicker/ColorHelpers.h
Labels: area-DevInternal, team-Controls

#3205 TeachingTip: Add bindings to propagate properties down
  dev/TeachingTip/APITests/TeachingTipTests.cs
  dev/TeachingTip/TeachingTip.cpp
  dev/TeachingTip/TeachingTip.h
  dev/TeachingTip/TeachingTip.xaml
  dev/TeachingTip/TeachingTip_rs1_themeresources.xaml
Labels: area-TeachingTip, team-Controls

#3276 Switched AppTestAutomationHelpers nuspec to Release mode.
  test/testinfra/AppTestAutomationHelpers/nuspec/MUXAppTestHelpers.nuspec
  test/testinfra/MUXTestInfra/MSTest/MUXTestInfra.MSTest.csproj
  test/testinfra/MUXTestInfra/TAEF/MUXTestInfra.TAEF.csproj
Labels: needs-triage

#3278 Fix wording in developer_guide.md
  docs/developer_guide.md
Labels: documentation, team-Controls

#3167 Fix issue with StartBringIntoView scrolling for items already visible
  dev/Repeater/APITests/RepeaterTests.cs
  dev/Repeater/ViewportManagerDownlevel.cpp
  dev/Repeater/ViewportManagerWithPlatformFeatures.cpp
Labels: area-ItemsRepeater, team-Controls

#3248 NavigationView: Close pane in non Left displaymode when selecting an item from AutoSuggestBox
  dev/NavigationView/NavigationView.cpp
  dev/NavigationView/NavigationView.h
  dev/NavigationView/NavigationView_InteractionTests/PaneBehaviorTests.cs
  dev/NavigationView/TestUI/Common/NavigationViewPage.xaml
  dev/NavigationView/TestUI/Common/NavigationViewPage.xaml.cs
Labels: area-NavigationView, team-Controls

#3217 update intellisense file
  build/NuSpecs/Intellisense/Microsoft.UI.Xaml.xml
Labels: area-DevInternal, team-Controls

#3227 Fix issue with ScrollBar in HC not being visible
  dev/ScrollBar/ScrollBar_themeresources.xaml
Labels: accessibility, area-Scrolling, team-Controls

#3305 Fix the release pipeline
  build/Helix/EnsureMachineState.ps1
  build/Helix/InstallTestAppDependencies.ps1
  dev/ColorPicker/APITests/ColorPickerTests.cs
  test/MUXControlsReleaseTest/MUXControls.ReleaseTest/ReleaseTestEnvironment.cs
Labels: area-DevInternal, team-Controls

#3314 MUXTestInfra now supporting MSIX as well as APPX.
  test/testinfra/AppTestAutomationHelpers/nuspec/MUXAppTestHelpers.nuspec
  test/testinfra/MUXTestInfra/Infra/Application.cs
  test/testinfra/MUXTestInfra/MSTest/MUXTestInfra.MSTest.csproj
  test/testinfra/MUXTestInfra/TAEF/MUXTestInfra.TAEF.csproj
  test/testinfra/MUXTestInfra/TestAppInstallHelper.cs
Labels: area-TestInfrastructure, team-Controls

#3311 Anawish/feature roadmap
  docs/communitycalls/WinUICommunityCall.ics
  docs/images/WinUI-Roadmap-Sept2020.jpg
  docs/images/winui3-concept.jpg
  docs/roadmap.md
  docs/roadmap_winui2.png
  docs/roadmap_winui3.png
Labels: documentation

#3313 add jpg and ics extensions to skipped filed extensions
  build/ShouldSkipPRBuild.ps1
Labels: area-DevInternal, team-Controls

#3312 Contributing guide: Add information about WinUI's API spec discussions
  CONTRIBUTING.md
Labels: documentation, team-Controls

#3165 Let teachingtip treat placement logically not physically
  dev/TeachingTip/InteractionTests/TeachingTipTestPageElements.cs
  dev/TeachingTip/InteractionTests/TeachingTipTests.cs
  dev/TeachingTip/TeachingTip.cpp
  dev/TeachingTip/TeachingTip.h
  dev/TeachingTip/TestUI/TeachingTipPage.xaml
Labels: area-TeachingTip, team-Controls

#3186 Add InputScope Property To NumberBox
  dev/Generated/NumberBox.properties.cpp
  dev/Generated/NumberBox.properties.h
  dev/NumberBox/APITests/NumberBoxTests.cs
  dev/NumberBox/NumberBox.cpp
  dev/NumberBox/NumberBox.h
  dev/NumberBox/NumberBox.idl
  dev/NumberBox/NumberBox.xaml
  dev/NumberBox/TestUI/NumberBoxPage.xaml
  dev/NumberBox/TestUI/NumberBoxPage.xaml.cs
Labels: area-NumberBox, team-Controls

#3332 Clarifying point on rounded corners
  docs/roadmap.md
Labels: needs-triage
