Repository microsoft/microsoft-ui-xaml, pull requests merged in 2021-06, with the labels that each got.

#5018 AppBarToggleButton: missing stroke on toggled state
  dev/CommonStyles/AppBarToggleButton_themeresources.xaml
  test/MUXControlsTestApp/verification/VerifyVisualTreeForCommandBarCornerRadius-7.xml
  test/MUXControlsTestApp/verification/VerifyVisualTreeForCommandBarCornerRadius-8.xml
Labels: area-Commanding, team-Controls

#5144 Adding a workaround for a nullref in MSBuild logging
  build/AzurePipelinesTemplates/MUX-BuildProject-Steps.yml
  test/MUXControlsReleaseTest/MUXControls.ReleaseTest/XamlIslandsTests.cs
  test/MUXControlsReleaseTest/XamlIslandsTestApp/WpfApp/WpfApp.Package.wapproj
  test/MUXControlsReleaseTest/XamlIslandsTestApp/WpfApp/WpfApp.csproj
Labels: needs-triage

#5095 TeachingTip: update Action/Close button placement and add word wrapping to the buttons
  dev/TeachingTip/TeachingTip.xaml
  dev/TeachingTip/TeachingTip_rs1_themeresources.xaml
Labels: area-TeachingTip, team-Controls

#5100 Adds badge color resources
  dev/CommonStyles/Common_themeresources_any.xaml
Labels: area-Styling

#5160 Add fallback value for HeroContentBorder.CornerRadius binding.
  dev/TeachingTip/TeachingTip.xaml
Labels: area-TeachingTip, team-Controls

#5161 Fixing CalendarView and GridViewItem styling
  dev/CommonStyles/CalendarView_themeresources_21h1.xaml
  dev/CommonStyles/GridViewItem_themeresources_21h1.xaml
Labels: area-DateTimePickers, area-Lists, needs-triage

#5094 Add automation name to RadioButtons
  dev/Generated/RadioButtonsAutomationPeer.properties.cpp
  dev/RadioButtons/InteractionTests/RadioButtonsTests.cs
  dev/RadioButtons/RadioButtons.cpp
  dev/RadioButtons/RadioButtons.h
  dev/RadioButtons/RadioButtons.idl
  dev/RadioButtons/RadioButtons.vcxitems
  dev/RadioButtons/RadioButtons.vcxitems.filters
  dev/RadioButtons/RadioButtons.xaml
  dev/RadioButtons/RadioButtonsAutomationPeer.cpp
  dev/RadioButtons/RadioButtonsAutomationPeer.h
  dev/RadioButtons/TestUI/RadioButtonsPage.xaml
Labels: area-RadioButtons, team-Controls

#5165 failfast when is21H1OrHigher is not true for CBS package
  dev/dll/XamlControlsResources.cpp
Labels: area-DevInternal, team-Controls

#5138 Updating CommandBarFlyout keyboarding and UIA to account for AlwaysExpanded hiding the more button
  dev/CommandBarFlyout/CommandBarFlyoutCommandBar.cpp
  dev/CommandBarFlyout/CommandBarFlyoutCommandBar.h
  dev/CommandBarFlyout/InteractionTests/CommandBarFlyoutTests.cs
Labels: area-Commanding, team-Controls

#5010 [ColorPicker] Fix issue where selection indicator was placed wrongly
  dev/ColorPicker/ColorSpectrum.cpp
Labels: area-ColorPicker, team-Controls

#5162 TabView v1 padding binding
  dev/TabView/TabView_v1.xaml
Labels: area-TabView, team-Controls

#5168 Update default style version to Version 2.
  dev/Generated/XamlControlsResources.properties.cpp
  dev/Generated/XamlControlsResources.properties.h
  dev/dll/XamlControlsResources.cpp
  idl/Microsoft.UI.Xaml.idl
  test/MUXControlsTestApp/App.xaml
Labels: team-Controls

#5070 Fixing UIA presentation of CommandBarFlyout
  dev/CommandBarFlyout/CommandBarFlyout.cpp
  dev/CommandBarFlyout/CommandBarFlyout.vcxitems
  dev/CommandBarFlyout/CommandBarFlyoutCommandBar.cpp
  dev/CommandBarFlyout/CommandBarFlyoutCommandBar.h
  dev/CommandBarFlyout/CommandBarFlyoutCommandBar.idl
  dev/CommandBarFlyout/CommandBarFlyoutCommandBarAutomationProperties.cpp
  dev/CommandBarFlyout/CommandBarFlyoutCommandBarAutomationProperties.h
  dev/CommandBarFlyout/CommandBarFlyout_themeresources.xaml
  dev/CommandBarFlyout/CommandBarFlyout_themeresources_v1.xaml
  dev/CommandBarFlyout/Strings/en-us/Resources.resw
  dev/CommonStyles/ScrollViewer_themeresources.xaml
  dev/Generated/CommandBarFlyoutCommandBarAutomationProperties.properties.cpp
  dev/Generated/CommandBarFlyoutCommandBarAutomationProperties.properties.h
  dev/ResourceHelper/ResourceAccessor.h
  dev/dll/Microsoft.UI.Xaml.vcxproj
  dev/dll/packages.config
  dev/inc/CppWinRTIncludes.h
  test/IXMPTestApp/MSTest/IXMPTestApp.csproj
  test/IXMPTestApp/TAEF/project.json
  test/MUXControlsTestApp/MSTest/MUXControlsTestApp.csproj
  test/MUXControlsTestApp/TAEF/project.json
  tools/CustomTasks/DependencyPropertyCodeGen.cs
  tools/CustomTasks/NuSpecs/MUXCustomBuildTasks.nuspec
  tools/CustomTasks/Properties/AssemblyInfo.cs
  tools/CustomTasksTool/Program.cs
Labels: area-Commanding, team-Controls

#5107 Updating Date & Time Picker button states to match Button
  dev/CommonStyles/DatePicker_themeresources.xaml
  dev/CommonStyles/TestUI/DatePickerPage.xaml
  dev/CommonStyles/TestUI/TimePickerPage.xaml
  dev/CommonStyles/TimePicker_themeresources.xaml
Labels: area-DateTimePickers, area-Styling, team-Controls

#5176 Fix crash when changing theme with an image ratings control
  dev/RatingControl/RatingControl.cpp
Labels: area-RatingControl, team-Controls

#5147 Make RadioButton style use ThemeResource correctly for Fill property
  dev/CommonStyles/RadioButton_themeresources.xaml
Labels: area-RadioButtons, team-Controls

#5178 Update NugetTestsCX.cs
  test/MUXControlsReleaseTest/MUXControls.ReleaseTest/NugetTestsCX.cs
Labels: area-TestInfrastructure, auto merge, team-Controls

#5177 Update AcrylicBackgroundFillColorBaseBrush and AcrylicInAppFillColorBaseBrush
  dev/Materials/Acrylic/AcrylicBrush_19h1_themeresources.xaml
  dev/Materials/Acrylic/AcrylicBrush_rs2_themeresources.xaml
  dev/dll/XamlControlsResources.cpp
Labels: area-Styling, team-Controls

#5169 Removed duplicate TextControlButtonForeground resources for Default and Light ResourceDictionary
  dev/CommonStyles/TextBox_themeresources.xaml
Labels: area-Styling, team-Controls

#5167 Update AnimatedVisuals with new designs
  dev/AnimatedIcon/AnimatedIcon.cpp
  dev/AnimatedIcon/AnimatedIcon.h
  dev/AnimatedIcon/AnimatedIconTestHooks.cpp
  dev/AnimatedIcon/AnimatedIconTestHooks.h
  dev/AnimatedIcon/AnimatedIconTestHooks.idl
  dev/AnimatedIcon/AnimatedVisuals/AnimatedBackVisualSource.cpp
  dev/AnimatedIcon/AnimatedVisuals/AnimatedBackVisualSource.h
  dev/AnimatedIcon/AnimatedVisuals/AnimatedBackVisualSource.idl
  dev/AnimatedIcon/AnimatedVisuals/AnimatedChevronDownSmallVisualSource.cpp
  dev/AnimatedIcon/AnimatedVisuals/AnimatedChevronDownSmallVisualSource.h
  dev/AnimatedIcon/AnimatedVisuals/AnimatedChevronDownSmallVisualSource.idl
  dev/AnimatedIcon/AnimatedVisuals/AnimatedChevronRightDownSmallVisualSource.cpp
  dev/AnimatedIcon/AnimatedVisuals/AnimatedChevronRightDownSmallVisualSource.h
  dev/AnimatedIcon/AnimatedVisuals/AnimatedChevronRightDownSmallVisualSource.idl
  dev/AnimatedIcon/AnimatedVisuals/AnimatedChevronUpDownSmallVisualSource.cpp
  dev/AnimatedIcon/AnimatedVisuals/AnimatedChevronUpDownSmallVisualSource.h
  dev/AnimatedIcon/AnimatedVisuals/AnimatedChevronUpDownSmallVisualSource.idl
  dev/AnimatedIcon/AnimatedVisuals/AnimatedFindVisualSource.cpp
  dev/AnimatedIcon/AnimatedVisuals/AnimatedFindVisualSource.h
  dev/AnimatedIcon/AnimatedVisuals/AnimatedFindVisualSource.idl
  dev/AnimatedIcon/AnimatedVisuals/AnimatedGlobalNavigationButtonVisualSource.cpp
  dev/AnimatedIcon/AnimatedVisuals/AnimatedGlobalNavigationButtonVisualSource.h
  dev/AnimatedIcon/AnimatedVisuals/AnimatedGlobalNavigationButtonVisualSource.idl
  dev/AnimatedIcon/AnimatedVisuals/AnimatedSettingsVisualSource.cpp
  dev/AnimatedIcon/AnimatedVisuals/AnimatedSettingsVisualSource.h
  dev/AnimatedIcon/AnimatedVisuals/AnimatedSettingsVisualSource.idl
  dev/AnimatedIcon/TestUI/AnimatedIconPage.xaml
  dev/AnimatedIcon/TestUI/AnimatedIconPage.xaml.cs
Labels: area-AnimatedIcon, team-Controls

#5194 Update localization strings
  dev/CommandBarFlyout/Strings/am-ET/Resources.resw
  dev/CommandBarFlyout/Strings/az-Latn-AZ/Resources.resw
  dev/CommandBarFlyout/Strings/bg-BG/Resources.resw
  dev/CommandBarFlyout/Strings/ca-ES/Resources.resw
  dev/CommandBarFlyout/Strings/cs-CZ/Resources.resw
  dev/CommandBarFlyout/Strings/da-DK/Resources.resw
  dev/CommandBarFlyout/Strings/de-DE/Resources.resw
  dev/CommandBarFlyout/Strings/el-GR/Resources.resw
  dev/CommandBarFlyout/Strings/en-GB/Resources.resw
  dev/CommandBarFlyout/Strings/es-ES/Resources.resw
  dev/CommandBarFlyout/Strings/eu-ES/Resources.resw
  dev/CommandBarFlyout/Strings/fil-PH/Resources.resw
  dev/CommandBarFlyout/Strings/fr-CA/Resources.resw
  dev/CommandBarFlyout/Strings/gl-ES/Resources.resw
  dev/CommandBarFlyout/Strings/hi-IN/Resources.resw
  dev/CommandBarFlyout/Strings/hu-HU/Resources.resw
  dev/CommandBarFlyout/Strings/id-ID/Resources.resw
  dev/CommandBarFlyout/Strings/kk-KZ/Resources.resw
  dev/CommandBarFlyout/Strings/kn-IN/Resources.resw
  dev/CommandBarFlyout/Strings/lv-LV/Resources.resw
  dev/CommandBarFlyout/Strings/mk-MK/Resources.resw
  dev/CommandBarFlyout/Strings/ms-MY/Resources.resw
  dev/CommandBarFlyout/Strings/nn-NO/Resources.resw
  dev/CommandBarFlyout/Strings/pt-BR/Resources.resw
  dev/CommandBarFlyout/Strings/sr-Latn-RS/Resources.resw
  dev/CommandBarFlyout/Strings/th-TH/Resources.resw
  dev/CommandBarFlyout/Strings/zh-CN/Resources.resw
Labels: area-DevInternal, team-Controls

#5171 Fix AnimatedIcon stack overflow
  dev/AnimatedIcon/AnimatedIcon.cpp
  dev/AnimatedIcon/AnimatedIcon.h
Labels: area-AnimatedIcon, team-Controls

#5196 Using the default stack layout instance across views causes a crash
  dev/NavigationView/NavigationView.xaml
Labels: area-NavigationView, team-Controls

#5200 Make NavigationViewAutomationPeer public.
  dev/NavigationView/NavigationViewItemAutomationPeer.idl
Labels: area-DevInternal, area-NavigationView, team-Controls

#5201 Fix Progress Ring crash
  dev/ProgressRing/ProgressRing.cpp
  dev/ProgressRing/ProgressRing.h
Labels: area-Progress, team-Controls

#5216 Adding new community call invite
  docs/communitycalls/WinUICommunityCall.ics
Labels: needs-triage

#5235 Fixing build break
  test/MUXControlsReleaseTest/XamlIslandsTestApp/WpfApp/WpfApp.Package.wapproj
Labels: area-DevInternal, team-Controls

#5237 fail fast instead of stowed_exception when look up AcrylicBackgroundFillColorDefaultBrush
  dev/dll/XamlControlsResources.cpp
Labels: needs-triage

#5236 Fix normally ignored errors caused by animated icon
  dev/AnimatedIcon/TestUI/DoubleToStringConverter.cs
  dev/ComboBox/ComboBox_themeresources.xaml
  dev/CommonStyles/CheckBox_themeresources.xaml
  dev/DropDownButton/DropDownButton.xaml
  dev/NavigationView/NavigationBackButton.xaml
  dev/NavigationView/NavigationView_rs1_themeresources.xaml
  test/MUXControlsTestApp/App.xaml.cs
Labels: area-AnimatedIcon, team-Controls

#5234 Fix CommandBarFlyout not having shadows
  dev/CommandBarFlyout/CommandBarFlyout.cpp
  dev/CommandBarFlyout/CommandBarFlyout_themeresources.xaml
Labels: area-Commanding, team-Controls

#5199 Make new CommandBarFlyout and Popup API's public.
  dev/CommandBarFlyout/CommandBarFlyout.idl
  dev/CommandBarFlyout/CommandBarFlyoutCommandBar.idl
Labels: area-Commanding, area-DevInternal, team-Controls

#5206 Date and time picker flyout: mouse ui buttons update
  dev/CommonStyles/DateTimePickerFlyout_themeresources.xaml
Labels: area-DateTimePickers, team-Controls

#5039 NavigationView PaneFooter Icon Fix
  dev/NavigationView/NavigationViewItem.cpp
  dev/NavigationView/NavigationViewItem.h
  dev/NavigationView/NavigationViewItemBase.cpp
  dev/NavigationView/NavigationViewItemBase.h
  dev/NavigationView/NavigationView_InteractionTests/CommonTests.cs
  dev/NavigationView/TestUI/Common/NavigationViewCompactPaneLengthTestPage.xaml
  dev/NavigationView/TestUI/Footer/PaneFooterTestPage.xaml
  dev/NavigationView/TestUI/Footer/PaneFooterTestPage.xaml.cs
  dev/NavigationView/TestUI/Footer/PaneLayoutTestPage.xaml
  dev/NavigationView/TestUI/NavigationViewCaseBundle.xaml
  dev/NavigationView/TestUI/NavigationViewCaseBundle.xaml.cs
  dev/NavigationView/TestUI/NavigationView_TestUI.projitems
Labels: area-NavigationView, team-Controls

#5170 Update AppBarButton flyout glyph
  dev/CommonStyles/AppBarButton_themeresources.xaml
  dev/CommonStyles/TestUI/CommandBarPage.xaml
  dev/SplitButton/SplitButton_themeresources.xaml
Labels: area-Commanding, team-Controls

#5243 Turn off fail fast errors.
  test/MUXControlsTestApp/App.xaml.cs
Labels: area-DevInternal, team-Controls

#5244 Fix CommandBarFlyout flicker on close
  dev/CommandBarFlyout/CommandBarFlyoutCommandBar.cpp
  dev/CommandBarFlyout/CommandBarFlyoutCommandBar.h
  dev/CommandBarFlyout/CommandBarFlyout_themeresources.xaml
Labels: area-Commanding, team-Controls

#5242 Add pipeline warning for loc updates, new loc updates
  build/MUX-LocalizationHandoff.yml
  dev/CommandBarFlyout/Strings/af-ZA/Resources.resw
  dev/CommandBarFlyout/Strings/ar-SA/Resources.resw
  dev/CommandBarFlyout/Strings/bs-Latn-BA/Resources.resw
  dev/CommandBarFlyout/Strings/es-MX/Resources.resw
  dev/CommandBarFlyout/Strings/et-EE/Resources.resw
  dev/CommandBarFlyout/Strings/fa-IR/Resources.resw
  dev/CommandBarFlyout/Strings/fi-FI/Resources.resw
  dev/CommandBarFlyout/Strings/fr-FR/Resources.resw
  dev/CommandBarFlyout/Strings/he-IL/Resources.resw
  dev/CommandBarFlyout/Strings/hr-HR/Resources.resw
  dev/CommandBarFlyout/Strings/is-IS/Resources.resw
  dev/CommandBarFlyout/Strings/it-IT/Resources.resw
  dev/CommandBarFlyout/Strings/ja-JP/Resources.resw
  dev/CommandBarFlyout/Strings/ka-GE/Resources.resw
  dev/CommandBarFlyout/Strings/km-KH/Resources.resw
  dev/CommandBarFlyout/Strings/ko-KR/Resources.resw
  dev/CommandBarFlyout/Strings/lo-LA/Resources.resw
  dev/CommandBarFlyout/Strings/lt-LT/Resources.resw
  dev/CommandBarFlyout/Strings/ml-IN/Resources.resw
  dev/CommandBarFlyout/Strings/nb-NO/Resources.resw
  dev/CommandBarFlyout/Strings/nl-NL/Resources.resw
  dev/CommandBarFlyout/Strings/pl-PL/Resources.resw
  dev/CommandBarFlyout/Strings/pt-PT/Resources.resw
  dev/CommandBarFlyout/Strings/ro-RO/Resources.resw
  dev/CommandBarFlyout/Strings/ru-RU/Resources.resw
  dev/CommandBarFlyout/Strings/sk-SK/Resources.resw
  dev/CommandBarFlyout/Strings/sl-SI/Resources.resw
  dev/CommandBarFlyout/Strings/sq-AL/Resources.resw
  dev/CommandBarFlyout/Strings/sv-SE/Resources.resw
  dev/CommandBarFlyout/Strings/ta-IN/Resources.resw
  dev/CommandBarFlyout/Strings/te-IN/Resources.resw
  dev/CommandBarFlyout/Strings/tr-TR/Resources.resw
  dev/CommandBarFlyout/Strings/uk-UA/Resources.resw
  dev/CommandBarFlyout/Strings/vi-VN/Resources.resw
  dev/CommandBarFlyout/Strings/zh-TW/Resources.resw
Labels: area-DevInternal, team-Controls

#5245 update intellisense file
  build/NuSpecs/Intellisense/Microsoft.UI.Xaml.xml
Labels: area-NugetPackage, team-Controls

#5247 Update animated icon's animation queue length from 2 to 4.
  dev/AnimatedIcon/AnimatedIcon.h
Labels: area-AnimatedIcon, team-Controls

#5231 More Miscellaneous Navigationview Updates
  dev/NavigationView/NavigationBackButton.xaml
  dev/NavigationView/NavigationView.xaml
  dev/NavigationView/NavigationView_InteractionTests/PaneBehaviorTests.cs
  dev/NavigationView/NavigationView_rs1_themeresources.xaml
  test/MUXControlsTestApp/verification/NavigationViewAuto-4.xml
  test/MUXControlsTestApp/verification/NavigationViewAuto-5.xml
  test/MUXControlsTestApp/verification/NavigationViewAuto-6.xml
  test/MUXControlsTestApp/verification/NavigationViewAuto-7.xml
  test/MUXControlsTestApp/verification/NavigationViewAuto-8.xml
  test/MUXControlsTestApp/verification/NavigationViewLeftCompact-4.xml
  test/MUXControlsTestApp/verification/NavigationViewLeftCompact-5.xml
  test/MUXControlsTestApp/verification/NavigationViewLeftCompact-6.xml
  test/MUXControlsTestApp/verification/NavigationViewLeftCompact-7.xml
  test/MUXControlsTestApp/verification/NavigationViewLeftCompact-8.xml
  test/MUXControlsTestApp/verification/NavigationViewLeftMinimal-4.xml
  test/MUXControlsTestApp/verification/NavigationViewLeftMinimal-5.xml
  test/MUXControlsTestApp/verification/NavigationViewLeftMinimal-6.xml
  test/MUXControlsTestApp/verification/NavigationViewLeftMinimal-7.xml
  test/MUXControlsTestApp/verification/NavigationViewLeftMinimal-8.xml
  test/MUXControlsTestApp/verification/NavigationViewLeftPaneContent-4.xml
  test/MUXControlsTestApp/verification/NavigationViewLeftPaneContent-5.xml
  test/MUXControlsTestApp/verification/NavigationViewLeftPaneContent-6.xml
  test/MUXControlsTestApp/verification/NavigationViewLeftPaneContent-7.xml
  test/MUXControlsTestApp/verification/NavigationViewLeftPaneContent-8.xml
  test/MUXControlsTestApp/verification/NavigationViewScrolling-4.xml
  test/MUXControlsTestApp/verification/NavigationViewScrolling-5.xml
  test/MUXControlsTestApp/verification/NavigationViewScrolling-6.xml
  test/MUXControlsTestApp/verification/NavigationViewScrolling-7.xml
  test/MUXControlsTestApp/verification/NavigationViewScrolling-8.xml
  test/MUXControlsTestApp/verification/NavigationViewTop-4.xml
  test/MUXControlsTestApp/verification/NavigationViewTop-5.xml
  test/MUXControlsTestApp/verification/NavigationViewTop-6.xml
  test/MUXControlsTestApp/verification/NavigationViewTop-7.xml
  test/MUXControlsTestApp/verification/NavigationViewTop-8.xml
  test/MUXControlsTestApp/verification/NavigationViewTopPaneContent-4.xml
  test/MUXControlsTestApp/verification/NavigationViewTopPaneContent-5.xml
  test/MUXControlsTestApp/verification/NavigationViewTopPaneContent-6.xml
  test/MUXControlsTestApp/verification/NavigationViewTopPaneContent-7.xml
  test/MUXControlsTestApp/verification/NavigationViewTopPaneContent-8.xml
  test/MUXControlsTestApp/verification/VerifyVerifyHeaderContentMarginOnMinimalNav-4.xml
  test/MUXControlsTestApp/verification/VerifyVerifyHeaderContentMarginOnMinimalNav-5.xml
  test/MUXControlsTestApp/verification/VerifyVerifyHeaderContentMarginOnMinimalNav-6.xml
  test/MUXControlsTestApp/verification/VerifyVerifyHeaderContentMarginOnMinimalNav-7.xml
  test/MUXControlsTestApp/verification/VerifyVerifyHeaderContentMarginOnMinimalNav-8.xml
Labels: area-NavigationView, team-Controls

#5093 [NavigationView] Fix bug where AutoSuggestBox button was visible with no autosuggestbox
  dev/NavigationView/NavigationView.cpp
Labels: area-NavigationView, team-Controls

#5251 ComboBox: add border color for PointerOver state
  dev/ComboBox/ComboBox_themeresources.xaml
Labels: area-ComboBox, area-Styling, team-Controls

#5252 Fixing IconSource.Foreground property set error
  dev/IconSource/IconSource.idl
Labels: area-Icon, team-Controls

#5254 Top Nav Overflow with Hierarchical NVI Crash Fix
  dev/NavigationView/NavigationView_rs1_themeresources.xaml
  dev/NavigationView/TestUI/TopMode/NavigationViewTopNavPage.xaml
Labels: area-NavigationView, team-Controls

#5263 Update bug_report.md
  .github/ISSUE_TEMPLATE/bug_report.md
Labels: documentation

#5264 Creating an issue template for WinUI toolkit bugs
  .github/ISSUE_TEMPLATE/winui-toolkit-bug-report
Labels: documentation

#4368 Adjust private AcrylicBrushFactory parameters
  dev/Materials/Acrylic/AcrylicBrushFactory.cpp
  dev/Materials/Acrylic/AcrylicBrushFactory.h
  dev/Materials/Acrylic/AcrylicTestApi.idl
Labels: area-Materials, team-Controls

#5270 Website updates
  WinUICommunityCall.ics
  about.html
  css/landing-page.css
  img/dotnet-logo.jpg
  index.html
Labels: needs-triage

#5269 Readme and roadmap updates
  README.md
  docs/images/winui-release-schedule.jpg
  docs/images/winui-roadmap.jpg
  docs/roadmap.md
Labels: needs-triage

#5271 Rename winui-toolkit-bug-report to winui-toolkit-bug-report.md
  .github/ISSUE_TEMPLATE/winui-toolkit-bug-report.md
Labels: needs-triage

#5297 AcrylicBrushes are not getting luminosity values set
  dev/dll/XamlControlsResources.cpp
Labels: area-Materials, team-Controls, team-Rendering

#5284 Update MTC Icons
  dev/CommonStyles/MediaTransportControls_themeresources.xaml
  dev/CommonStyles/TestUI/MediaTransportControlsPage.xaml
Labels: needs-triage

#5305 Fixing CalendarView navigation buttons sizing
  dev/CommonStyles/CalendarView_themeresources_21h1.xaml
Labels: area-DateTimePickers, team-Controls

#5307 Change BackButton's Foreground away from checked color
  dev/NavigationView/NavigationBackButton.xaml
Labels: area-NavigationView, team-Controls

#5255 Expose NVI Icon & SelectionIndicator Size + Top Nav Fixes
  dev/NavigationView/NavigationView.xaml
  dev/NavigationView/NavigationView_rs1_themeresources.xaml
  test/MUXControlsTestApp/verification/NavigationViewAuto-4.xml
  test/MUXControlsTestApp/verification/NavigationViewAuto-5.xml
  test/MUXControlsTestApp/verification/NavigationViewAuto-6.xml
  test/MUXControlsTestApp/verification/NavigationViewAuto-7.xml
  test/MUXControlsTestApp/verification/NavigationViewAuto-8.xml
  test/MUXControlsTestApp/verification/NavigationViewLeftCompact-4.xml
  test/MUXControlsTestApp/verification/NavigationViewLeftCompact-5.xml
  test/MUXControlsTestApp/verification/NavigationViewLeftCompact-6.xml
  test/MUXControlsTestApp/verification/NavigationViewLeftCompact-7.xml
  test/MUXControlsTestApp/verification/NavigationViewLeftCompact-8.xml
  test/MUXControlsTestApp/verification/NavigationViewLeftMinimal-4.xml
  test/MUXControlsTestApp/verification/NavigationViewLeftMinimal-5.xml
  test/MUXControlsTestApp/verification/NavigationViewLeftMinimal-6.xml
  test/MUXControlsTestApp/verification/NavigationViewLeftMinimal-7.xml
  test/MUXControlsTestApp/verification/NavigationViewLeftMinimal-8.xml
  test/MUXControlsTestApp/verification/NavigationViewLeftPaneContent-4.xml
  test/MUXControlsTestApp/verification/NavigationViewLeftPaneContent-5.xml
  test/MUXControlsTestApp/verification/NavigationViewLeftPaneContent-6.xml
  test/MUXControlsTestApp/verification/NavigationViewLeftPaneContent-7.xml
  test/MUXControlsTestApp/verification/NavigationViewLeftPaneContent-8.xml
  test/MUXControlsTestApp/verification/NavigationViewScrolling-4.xml
  test/MUXControlsTestApp/verification/NavigationViewScrolling-5.xml
  test/MUXControlsTestApp/verification/NavigationViewScrolling-6.xml
  test/MUXControlsTestApp/verification/NavigationViewScrolling-7.xml
  test/MUXControlsTestApp/verification/NavigationViewScrolling-8.xml
  test/MUXControlsTestApp/verification/NavigationViewTop-7.xml
  test/MUXControlsTestApp/verification/NavigationViewTop-8.xml
  test/MUXControlsTestApp/verification/NavigationViewTopPaneContent-7.xml
  test/MUXControlsTestApp/verification/NavigationViewTopPaneContent-8.xml
Labels: area-NavigationView, team-Controls

#5310 CalendarView high contrast fixes - header area button styles + item background/stroke rest state
  dev/CommonStyles/CalendarView_themeresources_21h1.xaml
Labels: area-DateTimePickers, team-Controls

#5316 ToggleSwitch HC and HyperlinkButton Text Fix
  dev/CommonStyles/HyperlinkButton_themeresources.xaml
  dev/CommonStyles/ToggleSwitch_themeresources.xaml
Labels: needs-triage

#5311 Fix for the content dialog overlay corner radius.
  dev/CommonStyles/ContentDialog_themeresources.xaml
Labels: area-Dialogs, needs-triage

#5309 Update BorderThickness to be a ThemeResource.
  dev/NavigationView/NavigationView.xaml
  dev/NavigationView/NavigationView_rs1_themeresources.xaml
Labels: area-NavigationView, needs-cherrypicktorelease, team-Controls

#5317 Update README.md
  README.md
Labels: documentation, team-Controls

#5330 Updating roadmap with latest graphic
  docs/images/roadmap0621.jpg
  docs/images/winui-release-schedule.jpg
  docs/roadmap.md
Labels: needs-triage

#5290 remove IsSelectionIndicatorModeAvailable check
  dev/dll/SharedHelpers.cpp
  dev/dll/XamlControlsResources.cpp
  dev/inc/SharedHelpers.h
Labels: area-DevInternal, team-Controls
