Repository microsoft/microsoft-ui-xaml, pull requests merged in 2021-10, with the labels that each got.

#5981 Fixes TabView bottom border line is too short #5954
  dev/TabView/TabView.xaml
Labels: area-TabView, team-Controls

#6015 [ Appbar ] [ HC ] AppBarToggleButton icon is not visible in high-contrast hover + press states
  dev/CommonStyles/AppBarToggleButton_themeresources.xaml
Labels: needs-triage

#6013 [ FlipView ] [ HC ] Style updates
  dev/CommonStyles/FlipView_themeresources.xaml
Labels: area-Styling, team-Controls

#6014 Publish symbols to symweb
  build/AzurePipelinesTemplates/MUX-BuildDevProject-Steps.yml
Labels: area-DevInternal, team-Controls

#6030 [ HC ] [ ToggleSwitch ] [ Settings ] Eye control toggle button icon is not visible on applying Desert Contrast theme.
  dev/CommonStyles/ToggleSwitch_themeresources.xaml
Labels: needs-triage

#6033 Fix CBS Vpack to handle WebView2
  build/AzurePipelinesTemplates/MUX-PushCBSVpack-Job.yml
  build/CreateCBSVPack.cmd
  build/CreateCBSVPack.ps1
Labels: needs-triage

#6039 Re-add Missing Controls for Test.Shared.targets
  test/MUXControls.Test/MUXControls.Test.Shared.targets
Labels: area-DevInternal, team-Controls

#6045 Regenerate AnimatedVisualSources with LottieGen 7.1
  dev/AnimatedIcon/AnimatedVisuals/AnimatedBackVisualSource.cpp
  dev/AnimatedIcon/AnimatedVisuals/AnimatedBackVisualSource.h
  dev/AnimatedIcon/AnimatedVisuals/AnimatedBackVisualSource.idl
  dev/AnimatedIcon/AnimatedVisuals/AnimatedChevronDownSmallVisualSource.cpp
  dev/AnimatedIcon/AnimatedVisuals/AnimatedChevronDownSmallVisualSource.h
  dev/AnimatedIcon/AnimatedVisuals/AnimatedChevronDownSmallVisualSource.idl
  dev/AnimatedIcon/AnimatedVisuals/AnimatedChevronRightDownSmallVisualSource.cpp
  dev/AnimatedIcon/AnimatedVisuals/AnimatedChevronRightDownSmallVisualSource.h
  dev/AnimatedIcon/AnimatedVisuals/AnimatedChevronRightDownSmallVisualSource.idl
  dev/AnimatedIcon/AnimatedVisuals/AnimatedChevronUpDownSmallVisualSource.cpp
  dev/AnimatedIcon/AnimatedVisuals/AnimatedChevronUpDownSmallVisualSource.h
  dev/AnimatedIcon/AnimatedVisuals/AnimatedChevronUpDownSmallVisualSource.idl
  dev/AnimatedIcon/AnimatedVisuals/AnimatedFindVisualSource.cpp
  dev/AnimatedIcon/AnimatedVisuals/AnimatedFindVisualSource.h
  dev/AnimatedIcon/AnimatedVisuals/AnimatedFindVisualSource.idl
  dev/AnimatedIcon/AnimatedVisuals/AnimatedGlobalNavigationButtonVisualSource.cpp
  dev/AnimatedIcon/AnimatedVisuals/AnimatedGlobalNavigationButtonVisualSource.h
  dev/AnimatedIcon/AnimatedVisuals/AnimatedGlobalNavigationButtonVisualSource.idl
  dev/AnimatedIcon/AnimatedVisuals/AnimatedSettingsVisualSource.cpp
  dev/AnimatedIcon/AnimatedVisuals/AnimatedSettingsVisualSource.h
  dev/AnimatedIcon/AnimatedVisuals/AnimatedSettingsVisualSource.idl
Labels: team-Controls, area-AnimatedIcon

#6141 Delay load NavigationView's heirarchical chevron
  dev/AnimatedIcon/AnimatedIcon.cpp
  dev/AnimatedIcon/AnimatedIcon.h
  dev/Materials/Backdrop/MicaController.cpp
  dev/NavigationView/NavigationView_rs1_themeresources.xaml
  test/MUXControlsTestApp/verification/NavigationViewAuto-4.xml
  test/MUXControlsTestApp/verification/NavigationViewAuto-7.xml
  test/MUXControlsTestApp/verification/NavigationViewAuto-8.xml
  test/MUXControlsTestApp/verification/NavigationViewLeftCompact-4.xml
  test/MUXControlsTestApp/verification/NavigationViewLeftCompact-5.xml
  test/MUXControlsTestApp/verification/NavigationViewLeftCompact-7.xml
  test/MUXControlsTestApp/verification/NavigationViewLeftCompact-8.xml
  test/MUXControlsTestApp/verification/NavigationViewLeftMinimal-4.xml
  test/MUXControlsTestApp/verification/NavigationViewLeftMinimal-7.xml
  test/MUXControlsTestApp/verification/NavigationViewLeftMinimal-8.xml
  test/MUXControlsTestApp/verification/NavigationViewLeftPaneContent-4.xml
  test/MUXControlsTestApp/verification/NavigationViewLeftPaneContent-7.xml
  test/MUXControlsTestApp/verification/NavigationViewLeftPaneContent-8.xml
  test/MUXControlsTestApp/verification/NavigationViewScrolling-4.xml
  test/MUXControlsTestApp/verification/NavigationViewScrolling-7.xml
  test/MUXControlsTestApp/verification/NavigationViewScrolling-8.xml
Labels: area-NavigationView, team-Controls, area-Performance, area-AnimatedIcon

#6184 Run WACK tests for ARM64
  build/AzurePipelinesTemplates/MUX-NugetReleaseTest-Job.yml
  build/AzurePipelinesTemplates/MUX-WACKTests-Job.yml
  test/MUXControlsReleaseTest/AppThatUsesMUXIndirectly/AppThatUsesMUXIndirectly.csproj
  test/MUXControlsReleaseTest/MUXControlsReleaseTest.sln
  test/MUXControlsReleaseTest/NugetPackageTestApp/NugetPackageTestApp.csproj
  test/MUXControlsReleaseTest/NugetPackageTestAppCX/NugetPackageTestAppCX.vcxproj
  test/MUXControlsReleaseTest/RuntimeComponentThatUsesMUX/RuntimeComponentThatUsesMUX.nuspec
Labels: area-TestInfrastructure, team-Controls

#5779 [AutoSuggestBox] Fix bug where find icon would be placed incorrectly in control
  dev/AutoSuggestBox/AutoSuggestBox_themeresources.xaml
  dev/AutoSuggestBox/AutoSuggestBox_themeresources_v1.xaml
  dev/AutoSuggestBox/TestUI/AutoSuggestBoxPage.xaml
  test/MUXControlsTestApp/verification/AutoSuggestBox-4.xml
  test/MUXControlsTestApp/verification/AutoSuggestBox-5.xml
  test/MUXControlsTestApp/verification/AutoSuggestBox-6.xml
  test/MUXControlsTestApp/verification/AutoSuggestBox-7.xml
  test/MUXControlsTestApp/verification/NavigationViewLeftPaneContent-4.xml
  test/MUXControlsTestApp/verification/NavigationViewLeftPaneContent-7.xml
  test/MUXControlsTestApp/verification/NavigationViewLeftPaneContent-8.xml
  test/MUXControlsTestApp/verification/NavigationViewTopPaneContent-4.xml
  test/MUXControlsTestApp/verification/NavigationViewTopPaneContent-5.xml
  test/MUXControlsTestApp/verification/NavigationViewTopPaneContent-6.xml
  test/MUXControlsTestApp/verification/NavigationViewTopPaneContent-7.xml
  test/MUXControlsTestApp/verification/NavigationViewTopPaneContent-8.xml
Labels: team-Controls, area-AutoSuggestBox

#6160 [TabView] Fix bug where removing tabs from tabcollection would not resize tabs
  dev/TabView/InteractionTests/TabViewTests.cs
  dev/TabView/TabView.cpp
  dev/TabView/TabView.h
  dev/TabView/TestUI/TabViewTabClosingBehaviorPage.xaml
  dev/TabView/TestUI/TabViewTabClosingBehaviorPage.xaml.cs
  test/testinfra/MUXTestInfra/Infra/Application.cs
Labels: area-TabView, team-Controls
