Repository microsoft/microsoft-ui-xaml, pull requests merged in 2021-01, with the labels that each got.

#3882 Update pfx and cer used for test signing
  build/MSTest.cer
  build/MSTest.pfx
  test/MUXControlsTestApp/verification/CalendarView-7.xml
  test/MUXControlsTestApp/verification/CalendarView.xml
Labels: needs-triage

#3878 Update to localization strings
  dev/RatingControl/Strings/af-ZA/Resources.resw
  dev/RatingControl/Strings/az-Latn-AZ/Resources.resw
  dev/RatingControl/Strings/fa-IR/Resources.resw
  dev/RatingControl/Strings/fr-CA/Resources.resw
  dev/RatingControl/Strings/gl-ES/Resources.resw
  dev/RatingControl/Strings/hi-IN/Resources.resw
  dev/RatingControl/Strings/hu-HU/Resources.resw
  dev/RatingControl/Strings/it-IT/Resources.resw
  dev/RatingControl/Strings/ja-JP/Resources.resw
  dev/RatingControl/Strings/kk-KZ/Resources.resw
  dev/RatingControl/Strings/km-KH/Resources.resw
  dev/RatingControl/Strings/kn-IN/Resources.resw
  dev/RatingControl/Strings/lo-LA/Resources.resw
  dev/RatingControl/Strings/lv-LV/Resources.resw
  dev/RatingControl/Strings/mk-MK/Resources.resw
  dev/RatingControl/Strings/ru-RU/Resources.resw
  dev/RatingControl/Strings/sl-SI/Resources.resw
  dev/RatingControl/Strings/sq-AL/Resources.resw
  dev/RatingControl/Strings/sr-Latn-RS/Resources.resw
  dev/RatingControl/Strings/ta-IN/Resources.resw
  dev/RatingControl/Strings/te-IN/Resources.resw
  dev/RatingControl/Strings/uk-UA/Resources.resw
  dev/RatingControl/Strings/zh-CN/Resources.resw
Labels: accessibility, team-Controls

#3886 Update resources names
  build/MSTest.cer
  build/MSTest.pfx
  dev/CommonStyles/MediaTransportControls_themeresources.xaml
  test/MUXControlsTestApp/verification/CalendarView-7.xml
  test/MUXControlsTestApp/verification/CalendarView.xml
Labels: team-Controls

#3897 TreeView: Move SelectedItem DP to public
  dev/TreeView/TreeView.idl
Labels: area-TreeView, team-Controls

#3847 AcrylicBrush: Update acrylicbrush names
  dev/AutoSuggestBox/AutoSuggestBox_themeresources.xaml
  dev/ComboBox/ComboBox_themeresources.xaml
  dev/CommandBarFlyout/CommandBarFlyout.xaml
  dev/CommonStyles/CommandBar_themeresources.xaml
  dev/CommonStyles/FlyoutPresenter_themeresources.xaml
  dev/CommonStyles/MediaTransportControls_themeresources.xaml
  dev/DatePicker/DatePicker_themeresources.xaml
  dev/Materials/Acrylic/AcrylicBrush_19h1_themeresources.xaml
  dev/Materials/Acrylic/AcrylicBrush_rs1_themeresources.xaml
  dev/Materials/Acrylic/AcrylicBrush_rs2_themeresources.xaml
  dev/MenuFlyout/MenuFlyout_themeresources.xaml
  dev/NavigationView/NavigationView_rs2_themeresources.xaml
  dev/NumberBox/NumberBox_themeresources.xaml
  dev/TeachingTip/TeachingTip_rs2_themeresources.xaml
  dev/TimePicker/TimePicker_themeresources.xaml
  dev/dll/XamlControlsResources.cpp
Labels: area-Materials, team-Controls

#3898 Update ApplicationPageBackgroundThemeBrush
  dev/CommonStyles/Common_themeresources.xaml
Labels: team-Controls

#3807 Update comment
  dev/PipsPager/Strings/en-us/Resources.resw
  test/MUXControlsTestApp/verification/AppBarToggleButton-4.xml
  test/MUXControlsTestApp/verification/AppBarToggleButton-5.xml
Labels: area-PipsPager, auto merge, team-Controls

#3244 Add ColorPickerArchitecture Doc
  MUXControls.sln
  MUXControlsInnerLoop.sln
  dev/ColorPicker/improvements.md
  dev/ColorPicker/readme.md
Labels: area-ColorPicker, documentation, team-Controls

#3908 Cherry-pick #3898 and #3886 from feature/token-experiment to master
  dev/CommonStyles/Common_themeresources.xaml
  dev/CommonStyles/MediaTransportControls_themeresources.xaml
Labels: needs-triage

#3789 Add listview and repeater examples to PipsPager
  dev/PipsPager/TestUI/PipsPagerExamples.xaml
  dev/PipsPager/TestUI/PipsPagerExamples.xaml.cs
  dev/PipsPager/TestUI/PipsPagerPage.xaml
  dev/PipsPager/TestUI/PipsPagerPage.xaml.cs
  dev/PipsPager/TestUI/PipsPager_TestUI.projitems
Labels: area-PipsPager, team-Controls

#3909 Update Accent Colour Brushes to System APIs
  dev/CommonStyles/Common_themeresources.xaml
  dev/CommonStyles/RadioButton_themeresources.xaml
  dev/Slider/Slider_themeresources.xaml
Labels: area-Styling, team-Controls

#3914 Stretch content horizontally in ListViewItem
  dev/CommonStyles/ListViewItem_themeresources.xaml
  dev/CommonStyles/ListViewItem_themeresources_v2.5.xaml
Labels: area-Styling, team-Controls

#3892 Revert some changes to ListBox resources to have selected state be visible
  dev/CommonStyles/ListBox_themeresources.xaml
Labels: area-UIDesign, team-Controls

#3924 PipsPager: Update resource reference
  dev/PipsPager/PipsPager_themeresources.xaml
  dev/PipsPager/PipsPager_themeresources_v2.5.xaml
Labels: area-PipsPager, team-Controls

#3923 Avoid hard-coded "Segoe MDL2 Assets"
  dev/DropDownButton/DropDownButton.xaml
  dev/DropDownButton/DropDownButton_rs1.xaml
  dev/DropDownButton/DropDownButton_rs1_v2.5.xaml
  dev/DropDownButton/DropDownButton_v2.5.xaml
  dev/Materials/Reveal/RevealBrush_rs2_themeresources.xaml
  dev/Materials/Reveal/RevealBrush_rs2_themeresources_v2.5.xaml
  dev/Materials/Reveal/TestUI/RevealScenarios.xaml
  dev/Materials/Reveal/TestUI/RevealSimpleListPage.xaml
  dev/NavigationView/NavigationView_rs1_themeresources.xaml
  dev/NavigationView/NavigationView_rs1_themeresources_v2.5.xaml
  dev/PersonPicture/PersonPicture.xaml
  dev/PersonPicture/PersonPicture_v2.5.xaml
  dev/RatingControl/RatingControl.xaml
  dev/RatingControl/RatingControl_themeresources.xaml
  dev/RatingControl/RatingControl_themeresources_v2.5.xaml
  dev/RatingControl/RatingControl_v2.5.xaml
  dev/SplitButton/SplitButton.xaml
  dev/SplitButton/SplitButton_rs1.xaml
  dev/SplitButton/SplitButton_rs1_v2.5.xaml
  dev/SplitButton/SplitButton_v2.5.xaml
  dev/SplitButton/TestUI/SplitButtonPage.xaml
  dev/TabView/TabView.xaml
  dev/TabView/TabView_v2.5.xaml
Labels: area-DevInternal, team-Controls

#3927 Add missing HC resources
  dev/CommonStyles/Common_themeresources.xaml
Labels: needs-triage, team-Controls

#3932 update version to 2.6
  build/NuSpecs/MUXControls-Nuget-FrameworkPackage.props
  dev/inc/BuildMacros.h
  version.props
Labels: area-NugetPackage, team-Controls

#3929 PipsPager: Fix border being visible on controls in new style
  dev/PipsPager/PipsPager_themeresources.xaml
  dev/PipsPager/PipsPager_themeresources_v2.5.xaml
Labels: area-PipsPager

#3935 Remove VerifyRSxxDictionariesWereMergedCorrectly test cases
  dev/AutoSuggestBox/AutoSuggestBox.vcxitems
  dev/CalendarDatePicker/CalendarDatePicker.vcxitems
  dev/CalendarView/CalendarView.vcxitems
  dev/CheckBox/CheckBox.vcxitems
  dev/ColorPicker/ColorPicker.vcxitems
  dev/ComboBox/ComboBox.vcxitems
  dev/CommonStyles/CommonStyles.vcxitems
  dev/DatePicker/DatePicker.vcxitems
  dev/FlipView/FlipView.vcxitems
  dev/Materials/Reveal/RevealBrush.vcxitems
  dev/MenuFlyout/MenuFlyout.vcxitems
  dev/NavigationView/NavigationView.vcxitems
  dev/Pivot/Pivot.vcxitems
  dev/ProgressBar/ProgressBar.vcxitems
  dev/ScrollBar/ScrollBar.vcxitems
  dev/Slider/Slider.vcxitems
  dev/SplitView/SplitView.vcxitems
  dev/TabView/TabView.vcxitems
  dev/TimePicker/TimePicker.vcxitems
  dev/ToolTip/ToolTip.vcxitems
  dev/TreeView/TreeView.vcxitems
  test/MUXControlsTestApp/MUXControlsTestApp.Shared.projitems
  test/MUXControlsTestApp/ThemeResourcesTests.cs
  tools/CustomTasks/BatchMergeXaml.cs
Labels: area-TestInfrastructure, team-Controls

#3933 Update TextBox and related controls
  dev/AutoSuggestBox/AutoSuggestBox_themeresources.xaml
  dev/CommonStyles/Common_themeresources.xaml
  dev/CommonStyles/PasswordBox_themeresources.xaml
  dev/CommonStyles/TestUI/CommonStyles_TestUI.projitems
  dev/CommonStyles/TestUI/TextBoxPage.xaml
  dev/CommonStyles/TestUI/TextBoxPage.xaml.cs
  dev/CommonStyles/TestUI/VisualStatesPage.xaml
  dev/CommonStyles/TestUI/VisualStatesPage.xaml.cs
  dev/CommonStyles/TextBox_themeresources.xaml
Labels: area-AutoSuggestBox, area-Styling, area-TextBlocks, team-Controls

#3926 ContentDialog visual update
  dev/ContentDialog/ContentDialog_themeresources.xaml
Labels: area-Dialogs, area-Styling, team-Controls

#3936 Flyout review and changes
  dev/CommonStyles/FlyoutPresenter_themeresources.xaml
Labels: area-Flyouts, area-Styling, team-Controls

#3943 Updated to InfoBar colors/resources
  dev/InfoBar/InfoBar.xaml
  dev/InfoBar/InfoBar_themeresources.xaml
Labels: area-InfoBar, area-UIDesign, team-Controls

#3960 Update color resources
  dev/CommonStyles/Common_themeresources.xaml
Labels: area-UIDesign, team-Controls

#3952 Fix InnerLoop solutions.
  FeatureAreas.props
  MUXControlsInnerLoop.sln
  dev/AnimatedIcon/AnimatedIcon.cpp
  dev/AnimatedIcon/TestUI/AnimatedIconPage.xaml
  dev/AnimatedIcon/TestUI/MockIRichAnimatedIconSource.cs
  dev/dll/SharedHelpers.cpp
  test/MUXControlsTestApp/App.xaml
Labels: area-DevInternal, team-Controls

#3930 RatingControl: Fix visibility issues of unselected stars in new style
  dev/RatingControl/RatingControl.xaml
  dev/RatingControl/RatingControl_themeresources.xaml
Labels: area-RatingControl, team-Controls

#3775 NumberBox: Forward information to the inner TextBox for better UIA experience
  dev/NumberBox/APITests/NumberBoxTests.cs
  dev/NumberBox/NumberBox.cpp
  dev/NumberBox/NumberBox.h
Labels: area-NumberBox, needs-cherrypicktorelease, team-Controls

#3891 Breadcrumb base implementation
  FeatureAreas.props
  MUXControls.sln
  MUXControlsInnerLoop.sln
  dev/Breadcrumb/APITests/BreadcrumbTests.cs
  dev/Breadcrumb/APITests/Breadcrumb_APITests.projitems
  dev/Breadcrumb/APITests/Breadcrumb_APITests.shproj
  dev/Breadcrumb/Breadcrumb.cpp
  dev/Breadcrumb/Breadcrumb.h
  dev/Breadcrumb/Breadcrumb.idl
  dev/Breadcrumb/Breadcrumb.vcxitems
  dev/Breadcrumb/Breadcrumb.xaml
  dev/Breadcrumb/BreadcrumbElementFactory.cpp
  dev/Breadcrumb/BreadcrumbElementFactory.h
  dev/Breadcrumb/BreadcrumbItem.cpp
  dev/Breadcrumb/BreadcrumbItem.h
  dev/Breadcrumb/BreadcrumbItem.properties.cpp
  dev/Breadcrumb/BreadcrumbItem.properties.h
  dev/Breadcrumb/BreadcrumbItemClickedEventArgs.cpp
  dev/Breadcrumb/BreadcrumbItemClickedEventArgs.h
  dev/Breadcrumb/BreadcrumbIterable.cpp
  dev/Breadcrumb/BreadcrumbIterable.h
  dev/Breadcrumb/BreadcrumbIterator.cpp
  dev/Breadcrumb/BreadcrumbIterator.h
  dev/Breadcrumb/BreadcrumbLayout.cpp
  dev/Breadcrumb/BreadcrumbLayout.h
  dev/Breadcrumb/Breadcrumb_themeresources.xaml
  dev/Breadcrumb/InteractionTests/BreadcrumbTests.cs
  dev/Breadcrumb/InteractionTests/Breadcrumb_InteractionTests.projitems
  dev/Breadcrumb/InteractionTests/Breadcrumb_InteractionTests.shproj
  dev/Breadcrumb/TestUI/BreadcrumbPage.xaml
  dev/Breadcrumb/TestUI/BreadcrumbPage.xaml.cs
  dev/Breadcrumb/TestUI/Breadcrumb_TestUI.projitems
  dev/Breadcrumb/TestUI/Breadcrumb_TestUI.shproj
  dev/Breadcrumb/TestUI/TreeStructure.cs
  dev/Generated/Breadcrumb.properties.cpp
  dev/Generated/Breadcrumb.properties.h
  dev/Generated/BreadcrumbItem.properties.cpp
  dev/Generated/BreadcrumbLayout.properties.cpp
  dev/Telemetry/RuntimeProfiler.h
  dev/dll/Microsoft.UI.Xaml.vcxproj
  dev/inc/CppWinRTIncludes.h
  test/MUXControls.Test/MUXControls.Test.Shared.targets
  test/MUXControlsTestApp/MUXControlsTestApp.Shared.targets
Labels: area-Breadcrumb, team-Controls

#3964 Don't call UpdateViewport if viewport management is disabled
  dev/Repeater/ViewportManagerWithPlatformFeatures.cpp
Labels: area-ItemsRepeater, team-Controls

#3963 Update RepeatButton
  dev/CommonStyles/RepeatButton_themeresources.xaml
  test/MUXControlsTestApp/verification/NavigationViewAuto-4.xml
  test/MUXControlsTestApp/verification/NavigationViewAuto-5.xml
  test/MUXControlsTestApp/verification/NavigationViewAuto-6.xml
  test/MUXControlsTestApp/verification/NavigationViewAuto-7.xml
  test/MUXControlsTestApp/verification/NavigationViewAuto-8.xml
  test/MUXControlsTestApp/verification/NavigationViewLeftCompact-4.xml
  test/MUXControlsTestApp/verification/NavigationViewLeftCompact-5.xml
  test/MUXControlsTestApp/verification/NavigationViewLeftCompact-6.xml
  test/MUXControlsTestApp/verification/NavigationViewLeftCompact-7.xml
  test/MUXControlsTestApp/verification/NavigationViewLeftCompact-8.xml
  test/MUXControlsTestApp/verification/NavigationViewLeftMinimal-4.xml
  test/MUXControlsTestApp/verification/NavigationViewLeftMinimal-5.xml
  test/MUXControlsTestApp/verification/NavigationViewLeftMinimal-6.xml
  test/MUXControlsTestApp/verification/NavigationViewLeftMinimal-7.xml
  test/MUXControlsTestApp/verification/NavigationViewLeftMinimal-8.xml
  test/MUXControlsTestApp/verification/NavigationViewLeftPaneContent-4.xml
  test/MUXControlsTestApp/verification/NavigationViewLeftPaneContent-5.xml
  test/MUXControlsTestApp/verification/NavigationViewLeftPaneContent-6.xml
  test/MUXControlsTestApp/verification/NavigationViewLeftPaneContent-7.xml
  test/MUXControlsTestApp/verification/NavigationViewLeftPaneContent-8.xml
  test/MUXControlsTestApp/verification/NavigationViewScrolling-4.xml
  test/MUXControlsTestApp/verification/NavigationViewScrolling-5.xml
  test/MUXControlsTestApp/verification/NavigationViewScrolling-6.xml
  test/MUXControlsTestApp/verification/NavigationViewScrolling-7.xml
  test/MUXControlsTestApp/verification/NavigationViewScrolling-8.xml
Labels: area-RepeatButton, team-Controls

#3962 Adding back previous name for content padding for Flyout
  dev/CommonStyles/FlyoutPresenter_themeresources.xaml
  dev/CommonStyles/TestUI/CommonStylesPage.xaml
Labels: area-Flyouts, team-Controls

#3951 TabView: Fix issues with lacking contrast issues for new style
  dev/TabView/TabView.xaml
  dev/TabView/TabView_themeresources.xaml
Labels: area-TabView, area-UIDesign, team-Controls

#3958 Visual update for menu flyout
  dev/MenuFlyout/MenuFlyout_themeresources.xaml
  dev/MenuFlyout/TestUI/MenuFlyoutPage.xaml
Labels: area-Flyouts, team-Controls

#3984 Fix color animation in HC
  dev/CommonStyles/RadioButton_themeresources.xaml
Labels: area-RadioButtons, team-Controls

#3869 ToggleSwitch Visual Update
  dev/CommonStyles/ToggleSwitch_themeresources.xaml
Labels: area-ToggleSwitch, team-Controls

#3995 update master files on master branch
  test/MUXControlsTestApp/verification/AppBarToggleButton-4.xml
  test/MUXControlsTestApp/verification/ContentDialog-5.xml
  test/MUXControlsTestApp/verification/ContentDialog-6.xml
  test/MUXControlsTestApp/verification/ContentDialog-7.xml
  test/MUXControlsTestApp/verification/ContentDialog-8.xml
  test/MUXControlsTestApp/verification/FlipView-4.xml
  test/MUXControlsTestApp/verification/FlipView-5.xml
  test/MUXControlsTestApp/verification/FlipView-6.xml
  test/MUXControlsTestApp/verification/FlipView-7.xml
  test/MUXControlsTestApp/verification/FlipView-8.xml
  test/MUXControlsTestApp/verification/PasswordBox-4.xml
  test/MUXControlsTestApp/verification/PasswordBox-5.xml
  test/MUXControlsTestApp/verification/PasswordBox-6.xml
  test/MUXControlsTestApp/verification/PasswordBox-7.xml
  test/MUXControlsTestApp/verification/PasswordBox-8.xml
  test/MUXControlsTestApp/verification/RichEditBox-4.xml
  test/MUXControlsTestApp/verification/RichEditBox-5.xml
  test/MUXControlsTestApp/verification/RichEditBox-6.xml
  test/MUXControlsTestApp/verification/RichEditBox-7.xml
  test/MUXControlsTestApp/verification/RichEditBox-8.xml
  test/MUXControlsTestApp/verification/TextBox-4.xml
  test/MUXControlsTestApp/verification/TextBox-5.xml
  test/MUXControlsTestApp/verification/TextBox-6.xml
  test/MUXControlsTestApp/verification/TextBox-7.xml
  test/MUXControlsTestApp/verification/TextBox-8.xml
  test/MUXControlsTestApp/verification/ToggleSwitch-4.xml
  test/MUXControlsTestApp/verification/ToggleSwitch-5.xml
  test/MUXControlsTestApp/verification/ToggleSwitch-6.xml
  test/MUXControlsTestApp/verification/ToggleSwitch-7.xml
  test/MUXControlsTestApp/verification/ToggleSwitch-8.xml
Labels: area-ToggleSwitch, auto merge, team-Controls

#3998 Unblock Breadcrumb test failure on RS2 or lower versions of Windows
  dev/Breadcrumb/BreadcrumbItem.cpp
Labels: area-Breadcrumb, team-Controls

#3818 CommandBarFlyout Layout Update
  dev/CommandBarFlyout/CommandBarFlyout.vcxitems
  dev/CommandBarFlyout/CommandBarFlyout.xaml
  dev/CommandBarFlyout/CommandBarFlyout_themeresources.xaml
Labels: area-Commanding, area-Styling, team-Controls

#4017 Fix Failing RadioButtons Tests
  dev/CommonStyles/RadioButton_themeresources.xaml
  dev/RadioButtons/InteractionTests/RadioButtonsTests.cs
Labels: needs-triage

#3852 Fix issue with vertical alignment of AppBarSeparator
  dev/CommonStyles/AppBarSeparator_themeresources.xaml
  dev/CommonStyles/AppBarSeparator_themeresources_v2.5.xaml
  dev/CommonStyles/CommonStyles.vcxitems
  test/MUXControlsTestApp/verification/AppBarToggleButton-4.xml
Labels: area-Commanding, team-Controls

#4012 Update release notes link to the latest version
  README.md
Labels: documentation

#4003 AutoSuggestBox: Switch to lightweightstyling resource for icon fontsize
  dev/AutoSuggestBox/AutoSuggestBox_themeresources.xaml
  dev/AutoSuggestBox/AutoSuggestBox_themeresources_v2.5.xaml
  dev/CommonStyles/PasswordBox_themeresources.xaml
  dev/CommonStyles/PasswordBox_themeresources_v2.5.xaml
  dev/CommonStyles/TextBox_themeresources.xaml
  dev/CommonStyles/TextBox_themeresources_v2.5.xaml
  dev/NumberBox/NumberBox.xaml
Labels: area-AutoSuggestBox, team-Controls

#3991 Adding support for insider SDK usage, and ListViewItem/GridViewItem visual updates
  SdkVersion.props
  build/Helix/PrepareHelixPayload.ps1
  build/Helix/packages.config
  dev/CommonStyles/CommonStyles.vcxitems
  dev/CommonStyles/GridViewItem_themeresources_21h1.xaml
  dev/CommonStyles/ListViewItem_themeresources_21h1.xaml
  dev/CommonStyles/TestUI/CommonStylesPage.xaml
  dev/CommonStyles/TestUI/CommonStylesPage.xaml.cs
  dev/dll/Microsoft.UI.Xaml.vcxproj
  dev/dll/SharedHelpers.cpp
  dev/dll/XamlControlsResources.cpp
  dev/dll/packages.config
  dev/inc/SharedHelpers.h
  mux.controls.props
  test/IXMPTestApp/TAEF/project.json
  test/MUXControlsReleaseTest/NugetPackageTestAppCX/NugetPackageTestAppCX.vcxproj
  test/MUXControlsReleaseTest/NugetPackageTestAppCX/packages.config
  test/MUXControlsTestApp/TAEF/project.json
  tools/CustomTasks/BatchMergeXaml.cs
  tools/CustomTasks/NuSpecs/MUXCustomBuildTasks.nuspec
  tools/CustomTasks/Properties/AssemblyInfo.cs
  tools/CustomTasks/StripNamespaces.cs
Labels: area-DevInternal, area-Lists, team-Controls

#4026 Update color resource values to design POR
  dev/CommonStyles/Common_themeresources.xaml
  dev/CommonStyles/TextBox_themeresources.xaml
Labels: area-Styling, team-Controls

#4028 Update color resource names
  dev/CalendarView/CalendarView_themeresources.xaml
  dev/CheckBox/CheckBox_themeresources.xaml
  dev/ComboBox/ComboBox_themeresources.xaml
  dev/CommandBarFlyout/CommandBarFlyout_themeresources.xaml
  dev/CommonStyles/Common_themeresources.xaml
  dev/CommonStyles/GridViewItem_themeresources_21h1.xaml
  dev/CommonStyles/HyperlinkButton_themeresources.xaml
  dev/CommonStyles/ListBox_themeresources.xaml
  dev/CommonStyles/ListViewItem_themeresources.xaml
  dev/CommonStyles/ListViewItem_themeresources_21h1.xaml
  dev/CommonStyles/MediaTransportControls_themeresources.xaml
  dev/CommonStyles/TextBox_themeresources.xaml
  dev/CommonStyles/ToggleSwitch_themeresources.xaml
  dev/DatePicker/DatePicker_themeresources.xaml
  dev/DatePicker/DateTimePickerFlyout_themeresources.xaml
  dev/Expander/Expander_themeresources.xaml
  dev/FlipView/FlipViewItem_themeresources.xaml
  dev/FlipView/FlipView_themeresources.xaml
  dev/Materials/Reveal/RevealBrush_rs1_themeresources.xaml
  dev/Materials/Reveal/RevealBrush_rs2_themeresources.xaml
  dev/MenuBar/MenuBar_themeresources.xaml
  dev/MenuFlyout/MenuFlyout_themeresources.xaml
  dev/NavigationView/NavigationBackButton_rs1_themeresources.xaml
  dev/NavigationView/NavigationView_rs1_themeresources.xaml
  dev/NavigationView/NavigationView_rs2_themeresources.xaml
  dev/NumberBox/NumberBox_themeresources.xaml
  dev/PagerControl/PagerControl_themeresources.xaml
  dev/ScrollBar/ScrollBar_themeresources.xaml
  dev/TabView/TabView_themeresources.xaml
  dev/TimePicker/TimePicker_themeresources.xaml
  dev/TreeView/TreeView_themeresources.xaml
Labels: area-Styling, team-Controls

#4029 Adding resources for Hyperlink foreground colors
  dev/CommonStyles/CommonStyles.vcxitems
  dev/CommonStyles/Hyperlink_themeresources.xaml
  dev/CommonStyles/TestUI/CommonStylesPage.xaml
Labels: area-Resources, team-Controls

#3993 CommandBar updates
  dev/CommonStyles/APITests/CommonStylesTests.cs
  dev/CommonStyles/AppBarButton_themeresources.xaml
  dev/CommonStyles/AppBarToggleButton_themeresources.xaml
  dev/CommonStyles/CommandBar_themeresources.xaml
  dev/CommonStyles/Common_themeresources.xaml
  dev/CommonStyles/TestUI/CommandBarPage.xaml
  dev/CommonStyles/TestUI/CommandBarPage.xaml.cs
  dev/CommonStyles/TestUI/CommonStylesPage.xaml.cs
  dev/CommonStyles/TestUI/CommonStyles_TestUI.projitems
  dev/Materials/Reveal/RevealBrush_rs4_themeresources.xaml
Labels: area-Commanding, area-Styling, team-Controls

#4025 Update accent border background
  dev/CommonStyles/Button_themeresources.xaml
  dev/CommonStyles/ToggleButton_themeresources.xaml
Labels: area-UIDesign, team-Controls

#4018 Add new accent acrylic brushes
  dev/CommonStyles/Common_themeresources.xaml
  dev/Materials/Acrylic/AcrylicBrush_19h1_themeresources.xaml
  dev/Materials/Acrylic/AcrylicBrush_rs1_themeresources.xaml
  dev/Materials/Acrylic/AcrylicBrush_rs2_themeresources.xaml
  dev/Materials/Acrylic/TestUI/AcrylicColorPage.xaml.cs
  dev/dll/XamlControlsResources.cpp
Labels: area-Materials, area-Styling, team-Controls

#4042 Fix missed Ghost->Subtle in previous merge
  dev/CommonStyles/AppBarButton_themeresources.xaml
  dev/CommonStyles/AppBarToggleButton_themeresources.xaml
Labels: area-Styling, team-Controls

#4039 Bug fixing for MenuFlyout
  dev/MenuFlyout/MenuFlyout_themeresources.xaml
Labels: area-Menus, area-Styling, team-Controls

#4037 Revert AutoSuggestBox fix since it regressed TextBox wrapping scenario
  dev/CommonStyles/TextBox_themeresources.xaml
  dev/CommonStyles/TextBox_themeresources_v2.5.xaml
  test/MUXControlsTestApp/verification/AppBarButton-8.xml
  test/MUXControlsTestApp/verification/NavigationViewLeftPaneContent-5.xml
  test/MUXControlsTestApp/verification/NavigationViewLeftPaneContent-6.xml
  test/MUXControlsTestApp/verification/NavigationViewTopPaneContent-5.xml
  test/MUXControlsTestApp/verification/NavigationViewTopPaneContent-6.xml
  test/MUXControlsTestApp/verification/TextBox-4.xml
  test/MUXControlsTestApp/verification/TextBox-5.xml
  test/MUXControlsTestApp/verification/TextBox-6.xml
  test/MUXControlsTestApp/verification/TextBox-7.xml
  test/MUXControlsTestApp/verification/TextBox-8.xml
Labels: area-AutoSuggestBox, area-Styling, area-TextBox, team-Controls

#4041 Revert Color Bindings for RadioButtonOuterEllipseStroke
  dev/CommonStyles/RadioButton_themeresources.xaml
Labels: area-RadioButtons, area-Styling, team-Controls

#4044 Improving ListViewItem/GridViewItem HighContrast brushes
  dev/CommonStyles/GridViewItem_themeresources_21h1.xaml
  dev/CommonStyles/ListViewItem_themeresources_21h1.xaml
Labels: area-Lists, area-Resources, team-Controls

#4043 ToggleSwitch HC Colour Fix
  dev/CommonStyles/ToggleSwitch_themeresources.xaml
Labels: area-Styling, area-ToggleSwitch, team-Controls

#4048 Bug fixing for NumberBox up and down chevrons in Compact state, and a number of broken Checkbox states
  dev/CheckBox/CheckBox_themeresources.xaml
  dev/NumberBox/NumberBox_themeresources.xaml
Labels: needs-triage

#4024 Visual updates to expander
  dev/CommonStyles/Common_themeresources.xaml
  dev/Expander/Expander.xaml
  dev/Expander/Expander_themeresources.xaml
  dev/Expander/TestUI/ExpanderPage.xaml
Labels: area-Expander, team-Controls

#4049 Update CommandBar style to fix overflow flyout positioning
  dev/CommonStyles/CommandBar_themeresources.xaml
Labels: area-Commanding, area-Styling, team-Controls

#4040 Adding More Slider Examples to TestUI Page
  dev/Slider/TestUI/SliderPage.xaml
Labels: area-Slider, team-Controls

#4058 Visual updates for checkbox
  dev/CheckBox/CheckBox_themeresources.xaml
Labels: needs-triage
