Repository microsoft/microsoft-ui-xaml, pull requests merged in 2021-09, with the labels that each got.

#5684 Fix TwoPaneView layout bug when touch keyboard is visible
  dev/TwoPaneView/TwoPaneView.cpp
  dev/dll/SharedHelpers.cpp
  dev/inc/SharedHelpers.h
Labels: area-TwoPaneView, team-Controls

#5794 Fix issue where checkbox indeterminate icon would not be aligned vertically
  dev/CommonStyles/CheckBox_themeresources.xaml
Labels: team-Controls, area-AnimatedIcon

#5842 Add a MenuFlyoutItemTextTrimming Resource
  dev/CommonStyles/MenuFlyout_themeresources.xaml
  dev/CommonStyles/TestUI/MenuFlyoutPage.xaml
  dev/RadioMenuFlyoutItem/RadioMenuFlyoutItem_rs1_themeresources_v1.xaml
  dev/RadioMenuFlyoutItem/RadioMenuFlyoutItem_rs2_themeresources_v1.xaml
  dev/RadioMenuFlyoutItem/RadioMenuFlyoutItem_rs4_themeresources_v1.xaml
  dev/RadioMenuFlyoutItem/RadioMenuFlyoutItem_rs5_themeresources_v1.xaml
  dev/RadioMenuFlyoutItem/RadioMenuFlyoutItem_themeresources.xaml
Labels: needs-triage

#5781 Avoid heap corruption issue by setting the property via the DP instead of the property setter
  dev/dll/SharedHelpers.cpp
  dev/dll/XamlControlsResources.cpp
  dev/dll/XamlControlsResources.h
  dev/inc/SharedHelpers.h
Labels: area-Materials, team-Controls

#5856 Make InfoBadge public.
  dev/InfoBadge/InfoBadge.idl
  dev/NavigationView/NavigationView.idl
  dev/NavigationView/NavigationViewItemPresenter.idl
Labels: team-Controls, area-InfoBadge

#5860 Change Informational info badge styles to use a Neutral brush.
  dev/InfoBadge/InfoBadge_themeresources.xaml
Labels: needs-triage, team-Controls, area-InfoBadge

#5811 ColorPicker slider tweaks
  dev/ColorPicker/ColorPicker.xaml
  dev/ColorPicker/ColorPicker_themeresources.xaml
Labels: area-ColorPicker, team-Controls

#5805 ColorPicker Doesn't Update HS values when Value == 0 Fix
  dev/ColorPicker/ColorSpectrum.cpp
  dev/ColorPicker/InteractionTests/ColorPickerTests.cs
Labels: area-ColorPicker, team-Controls

#3769 TabViewItem: Respect Background & Foreground APIs
  dev/TabView/APITests/TabViewTests.cs
  dev/TabView/InteractionTests/TabViewTests.cs
  dev/TabView/TabView.xaml
  dev/TabView/TabViewItem.cpp
  dev/TabView/TabViewItem.h
  dev/TabView/TabView_v1.xaml
  dev/TabView/TestUI/TabViewPage.xaml
  dev/TabView/TestUI/TabViewPage.xaml.cs
Labels: area-TabView, team-Controls

#5870 Menu Flyout Chevron Misalignment Fix
  dev/CommonStyles/MenuFlyout_themeresources.xaml
Labels: area-Menus, area-UIDesign, team-Controls

#5929 Update WebView2 nupkg dependency to latest prerelease
  FeatureAreas.props
  build/NuSpecs/MUXControls.nuspec
  build/NuSpecs/MUXControlsFrameworkPackage.nuspec
  dev/WebView2/WebView2.cpp
  dev/dll/Microsoft.UI.Xaml.vcxproj
  dev/dll/packages.config
  test/MUXControls.Test/MSTest/MUXControls.Test.csproj
  test/MUXControls.Test/TAEF/MUXControls.Test.TAEF.csproj
  test/MUXControlsReleaseTest/LibraryThatUsesMUX/LibraryThatUsesMUX.csproj
  test/MUXControlsReleaseTest/RuntimeComponentThatUsesMUX/RuntimeComponentThatUsesMUX.vcxproj
  test/MUXControlsReleaseTest/RuntimeComponentThatUsesMUX/packages.config
  test/MUXControlsTestApp/MSTest/MUXControlsTestApp.csproj
  test/MUXControlsTestApp/TAEF/project.json
  test/TestAppCX/TestAppCX.vcxproj
  test/TestAppCX/packages.config
Labels: needs-triage

#5934 Fix the sliders in a horizontally oriented color picker going the incorrect direction with arrow keys.
  dev/ColorPicker/ColorPickerSlider.cpp
  dev/ColorPicker/InteractionTests/ColorPickerTests.cs
Labels: area-ColorPicker, needs-triage, team-Controls

#5868 Update intellisense file
  build/NuSpecs/Intellisense/Microsoft.UI.Xaml.xml
Labels: area-NugetPackage

#5937 CommandBarFlyout crash fix
  dev/CommandBarFlyout/CommandBarFlyout.cpp
Labels: team-Controls, area-CommandBarFlyout

#5899 Fix InfoBadge default high contrast background.
  dev/InfoBadge/InfoBadge_themeresources.xaml
Labels: team-Controls, area-InfoBadge

#5939 Fix color picker element tab order in horizonal mode.
  dev/ColorPicker/ColorPicker.xaml
  dev/ColorPicker/InteractionTests/ColorPickerTests.cs
  dev/ColorPicker/TestUI/ColorPickerPage.xaml
Labels: area-ColorPicker, team-Controls

#5930 [ProgressRing] Remove ProgressRing from UIA tree when it is not active
  MUXControls.sln
  MUXControlsInnerLoop.sln
  dev/ProgressRing/APITests/ProgressRingTests.cs
  dev/ProgressRing/APITests/ProgressRing_APITests.projitems
  dev/ProgressRing/APITests/ProgressRing_APITests.shproj
  dev/ProgressRing/ProgressRing.cpp
  dev/ProgressRing/ProgressRing.xaml
  test/MUXControlsTestApp/MUXControlsTestApp.Shared.targets
Labels: area-Progress, team-Controls

#5946 Backport project file changes from 2.7 release.
  dev/WebView2/WebView2.vcxitems
  test/TestAppCX/MainPage.xaml.cpp
  test/TestAppCX/TestAppCX.vcxproj
Labels: area-NugetPackage, area-WebView, team-Controls

#5945 Update version to 2.8
  build/NuSpecs/MUXControls-Nuget-FrameworkPackage.props
  dev/inc/BuildMacros.h
  version.props
Labels: area-NugetPackage, team-Controls

#5947 Convert bug template issue template to an issue form
  .github/ISSUE_TEMPLATE/bug_report.md
  .github/ISSUE_TEMPLATE/bug_report.yaml
Labels: auto merge, team-Controls

#5953 Update website for October community call
  WinUICommunityCall-October.ics
  index.html
Labels: website

#5982 Enable Arm builds of the NugetPackageTestApp
  test/MUXControlsReleaseTest/MUXControlsReleaseTest.sln
Labels: area-NugetPackage, team-Controls

#5973 Update bug_report.yaml
  .github/ISSUE_TEMPLATE/bug_report.yaml
Labels: area-DevInternal

#5910 Removed Duplicate resources for TopNavigationViewItem style brushes
  dev/NavigationView/NavigationView_rs1_themeresources.xaml
Labels: area-NavigationView, team-Controls

#5990 Fix usage of WinUI 2.7+ in xaml islands C++ apps
  build/NuSpecs/MUXControls-Nuget-Common.targets
Labels: needs-cherrypicktorelease, area-NugetPackage, area-WebView, team-Controls

#5993 Update/clean up WebView2 WinRT error strings
  dev/WebView2/WebView2.cpp
Labels: area-WebView

#5994 Close WebView2s during test cleanup
  dev/WebView2/TestUI/WebView2BasicPage.xaml.cs
Labels: area-WebView
