Repository microsoft/microsoft-ui-xaml, pull requests merged in 2021-05, with the labels that each got.

#4942 Update the GenerateVisualVerificationUpdates
  docs/developer_guide.md
  docs/images/ADO_Build_ID.png
  docs/images/test_fail_page3.png
  docs/images/test_pipeline_drop.png
  tools/GenerateVisualVerificationUpdates.ps1
Labels: area-TestInfrastructure, team-Controls

#4920 Hide ProgressBarTrack in IndeterminateError and IndeterminatePause
  dev/ProgressBar/ProgressBar.xaml
  dev/ProgressBar/TestUI/ProgressBarPage.xaml
Labels: area-Progress, area-UIDesign, team-Controls

#4916 Disable animation for rating control when ControlsResourcesVersion is Version2
  dev/RatingControl/RatingControl.cpp
  dev/RatingControl/RatingControl.h
  dev/dll/XamlControlsResources.cpp
  dev/dll/XamlControlsResources.h
Labels: area-RatingControl, team-Controls

#4646 Fix the animated icon foreground.
  dev/AnimatedIcon/AnimatedIcon.cpp
  dev/AnimatedIcon/AnimatedIcon.h
  dev/AnimatedIcon/TestUI/AnimatedIconPage.xaml
  dev/AnimatedIcon/TestUI/AnimatedIcon_TestUI.projitems
  dev/AnimatedIcon/TestUI/ColorToSolidColorBrushConverter.cs
Labels: area-AnimatedIcon, team-Controls

#4927 [SplitButton] Update checked flyout open background colors
  dev/SplitButton/SplitButton_themeresources_v1.xaml
Labels: area-SplitButton, area-UIDesign, team-Controls

#4943 Updating doc on WinRT API Changes for Desktop
  docs/winrt-apis-for-desktop.md
Labels: documentation, winui3preview

#4944 ColorPicker: transparency slider is too far away from brightness slider
  dev/ColorPicker/ColorPicker.xaml
Labels: area-ColorPicker, area-Styling, team-Controls

#4961 Fix downstream compilation errors involving AttributeNameAttribute
  idl/Microsoft.UI.Xaml.idl
Labels: area-DevInternal, team-Controls

#4960 [ToggleSwitch] Update MinWidth setter
  dev/CommonStyles/ToggleSwitch_themeresources.xaml
  dev/CommonStyles/ToggleSwitch_themeresources_v1.xaml
Labels: area-ToggleSwitch, team-Controls

#4953 Update PersonPicture themeresources
  dev/PersonPicture/APITests/PersonPictureTests.cs
  dev/PersonPicture/PersonPicture.xaml
  dev/PersonPicture/PersonPicture_themeresources.xaml
  test/MUXControlsTestApp/ThemeResourcesTests.cs
  test/MUXControlsTestApp/verification/PersonPicture-7.xml
  test/MUXControlsTestApp/verification/PersonPicture.xml
Labels: area-PersonPicture, area-UIDesign, team-Controls

#4915 Add AnimatedIcon to Combobox.
  dev/AnimatedIcon/AnimatedIcon.cpp
  dev/ComboBox/ComboBox_themeresources.xaml
  test/MUXControlsTestApp/verification/ComboBox-4.xml
  test/MUXControlsTestApp/verification/ComboBox-7.xml
Labels: area-ComboBox, area-Styling, team-Controls

#4973 [RS4, RS5] Disable CommandBar animations
  dev/CommonStyles/CommandBar_themeresources.xaml
Labels: area-Commanding, needs-triage, team-Controls

#4957 [ToggleSwitch] Update growing and shrinking animations
  dev/CommonStyles/ToggleSwitch_themeresources.xaml
Labels: area-ToggleSwitch, area-UIDesign, team-Controls

#4975 Upgrading Insider Windows SDK version from 21361 to 21664.
  SdkVersion.props
  build/AzurePipelinesTemplates/MUX-InstallWindowsSDK-Steps.yml
  tools/InternalWindowsSDKNuget/MergeNupkgParts.cmd
  tools/InternalWindowsSDKNuget/NuSpecs/InternalWindowsSDK-part1.nuspec
  tools/InternalWindowsSDKNuget/NuSpecs/InternalWindowsSDK-part2.nuspec
  tools/InternalWindowsSDKNuget/SetUpInternalWindowsSDK.cmd
Labels: area-DevInternal, needs-triage

#4977 InfoBar: update default icon foreground in HC
  dev/InfoBar/InfoBar_themeresources.xaml
Labels: area-InfoBar, area-UIDesign, team-Controls

#4978 ComboBox: fix HC brushes for focused state
  dev/ComboBox/ComboBox_themeresources.xaml
Labels: area-ComboBox, area-UIDesign

#4949 Add on press scale animation to carets
  dev/CommonStyles/CalendarView_themeresources.xaml
  dev/CommonStyles/DateTimePickerFlyout_themeresources.xaml
  dev/CommonStyles/FlipView_themeresources.xaml
  dev/CommonStyles/ScrollBar_themeresources.xaml
  dev/PipsPager/PipsPager_themeresources.xaml
  test/MUXControlsTestApp/verification/CalendarView-4.xml
  test/MUXControlsTestApp/verification/CalendarView-6.xml
  test/MUXControlsTestApp/verification/CalendarView-7.xml
Labels: area-UIDesign, team-Controls

#4922 TabView Visual Updates
  dev/TabView/InteractionTests/TabViewTests.cs
  dev/TabView/TabView.cpp
  dev/TabView/TabView.h
  dev/TabView/TabView.xaml
  dev/TabView/TabViewItem.cpp
  dev/TabView/TabViewItem.h
  dev/TabView/TabView_themeresources.xaml
  dev/TabView/TestUI/TabViewPage.xaml
  dev/TabView/TestUI/TabViewPage.xaml.cs
  test/testinfra/MUXTestInfra/Common/InputHelper.cs
Labels: area-TabView, area-UIDesign, team-Controls

#4892 NavigationView: Update NavigationViewBackButton v1 foreground
  dev/NavigationView/NavigationBackButton_v1.xaml
Labels: area-NavigationView, team-Controls

#4849 NavigationView: Add missing top navigation brushes
  dev/NavigationView/NavigationView_rs1_themeresources.xaml
  dev/NavigationView/NavigationView_rs1_themeresources_v1.xaml
  dev/NavigationView/NavigationView_rs2_themeresources.xaml
  dev/NavigationView/NavigationView_rs2_themeresources_v1.xaml
Labels: area-Navigation, area-UIDesign, team-Controls

#4980 [TabView] Fix issue where hitting Ctrl+F4 would not resize tabs
  dev/TabView/InteractionTests/TabViewTests.cs
  dev/TabView/TabView.cpp
  dev/TabView/TabView.h
  dev/TabView/TabViewItem.cpp
Labels: area-TabView, needs-triage, team-Controls

#4908 TreeView Visual Update
  dev/TreeView/InteractionTests/TreeViewTests.cs
  dev/TreeView/TreeView.idl
  dev/TreeView/TreeViewItem.xaml
  dev/TreeView/TreeView_themeresources.xaml
  dev/dll/DensityStyles/Compact.xaml
  test/MUXControlsTestApp/verification/TreeView-4.xml
  test/MUXControlsTestApp/verification/TreeView-5.xml
  test/MUXControlsTestApp/verification/TreeView-6.xml
  test/MUXControlsTestApp/verification/TreeView-7.xml
  test/MUXControlsTestApp/verification/TreeView-8.xml
  test/MUXControlsTestApp/verification/TreeView.xml
  test/MUXControlsTestApp/verification/VerifyVisualTreeExampleWithCustomerFilter.xml
Labels: area-TreeView, area-UIDesign, team-Controls

#4994 Fixing UniformGridLayout items-per-line evaluation
  dev/Repeater/InteractionTests/RepeaterTests.cs
  dev/Repeater/TestUI/RepeaterTestUIPage.xaml
  dev/Repeater/TestUI/RepeaterTestUIPage.xaml.cs
  dev/Repeater/TestUI/Samples/BasicDemo.xaml
  dev/Repeater/TestUI/Samples/BasicDemo.xaml.cs
  dev/Repeater/TestUI/Samples/UniformGridLayoutDemo.cs
  dev/Repeater/TestUI/Samples/UniformGridLayoutDemo.xaml
  dev/Repeater/UniformGridLayout.cpp
  dev/Repeater/UniformGridLayout.h
Labels: area-ItemsRepeater, team-Controls

#4993 InfoBar: add binding for borderThickness, borderBush
  dev/InfoBar/InfoBar.xaml
Labels: area-InfoBar, team-Controls

#4992 Update drop down button chevron foreground color.
  dev/DropDownButton/DropDownButton.xaml
  dev/DropDownButton/DropDownButton_themeresources.xaml
Labels: area-UIDesign, team-Controls

#5004 Upgrading internal Windows SDK version from 21664 to 21681
  SdkVersion.props
  build/AzurePipelinesTemplates/MUX-InstallWindowsSDK-Steps.yml
  tools/InternalWindowsSDKNuget/MergeNupkgParts.cmd
  tools/InternalWindowsSDKNuget/NuSpecs/InternalWindowsSDK-part1.nuspec
  tools/InternalWindowsSDKNuget/NuSpecs/InternalWindowsSDK-part2.nuspec
  tools/InternalWindowsSDKNuget/SetUpInternalWindowsSDK.cmd
Labels: area-DevInternal, team-Controls

#5005 Fix CommandBar in HC
  dev/CommandBarFlyout/CommandBarFlyout_themeresources.xaml
Labels: area-Commanding, area-UIDesign, team-Controls

#3860 NavigationView: Fix bug where items with empty MenuItemsSource would still spawn flyout
  dev/NavigationView/NavigationView.cpp
  dev/NavigationView/TestUI/Hierarchical/HierarchicalNavigationViewDataBinding.xaml.cs
Labels: area-NavigationView, team-Controls

#5006 TabView: update scroll button resources
  dev/TabView/TabView.xaml
  dev/TabView/TabView_themeresources.xaml
Labels: area-TabView, area-UIDesign, needs-triage, team-Controls

#5013 NavigationView: update foreground resources and fix brushes in HC
  dev/NavigationView/NavigationView_rs1_themeresources.xaml
  test/MUXControlsTestApp/verification/NavigationViewAuto-4.xml
  test/MUXControlsTestApp/verification/NavigationViewAuto-5.xml
  test/MUXControlsTestApp/verification/NavigationViewAuto-6.xml
  test/MUXControlsTestApp/verification/NavigationViewAuto-7.xml
  test/MUXControlsTestApp/verification/NavigationViewAuto-8.xml
  test/MUXControlsTestApp/verification/NavigationViewLeftCompact-4.xml
  test/MUXControlsTestApp/verification/NavigationViewLeftCompact-5.xml
  test/MUXControlsTestApp/verification/NavigationViewLeftCompact-6.xml
  test/MUXControlsTestApp/verification/NavigationViewLeftCompact-7.xml
  test/MUXControlsTestApp/verification/NavigationViewLeftCompact-8.xml
  test/MUXControlsTestApp/verification/NavigationViewLeftMinimal-4.xml
  test/MUXControlsTestApp/verification/NavigationViewLeftMinimal-5.xml
  test/MUXControlsTestApp/verification/NavigationViewLeftMinimal-6.xml
  test/MUXControlsTestApp/verification/NavigationViewLeftMinimal-7.xml
  test/MUXControlsTestApp/verification/NavigationViewLeftMinimal-8.xml
  test/MUXControlsTestApp/verification/NavigationViewLeftPaneContent-4.xml
  test/MUXControlsTestApp/verification/NavigationViewLeftPaneContent-5.xml
  test/MUXControlsTestApp/verification/NavigationViewLeftPaneContent-6.xml
  test/MUXControlsTestApp/verification/NavigationViewLeftPaneContent-7.xml
  test/MUXControlsTestApp/verification/NavigationViewLeftPaneContent-8.xml
  test/MUXControlsTestApp/verification/NavigationViewScrolling-4.xml
  test/MUXControlsTestApp/verification/NavigationViewScrolling-5.xml
  test/MUXControlsTestApp/verification/NavigationViewScrolling-6.xml
  test/MUXControlsTestApp/verification/NavigationViewScrolling-7.xml
  test/MUXControlsTestApp/verification/NavigationViewScrolling-8.xml
  test/MUXControlsTestApp/verification/NavigationViewTop-4.xml
  test/MUXControlsTestApp/verification/NavigationViewTop-5.xml
  test/MUXControlsTestApp/verification/NavigationViewTop-6.xml
  test/MUXControlsTestApp/verification/NavigationViewTop-7.xml
  test/MUXControlsTestApp/verification/NavigationViewTop-8.xml
  test/MUXControlsTestApp/verification/NavigationViewTopPaneContent-4.xml
  test/MUXControlsTestApp/verification/NavigationViewTopPaneContent-5.xml
  test/MUXControlsTestApp/verification/NavigationViewTopPaneContent-6.xml
  test/MUXControlsTestApp/verification/NavigationViewTopPaneContent-7.xml
  test/MUXControlsTestApp/verification/NavigationViewTopPaneContent-8.xml
Labels: area-NavigationView, area-UIDesign, team-Controls

#5002 ItemsRepeater: Avoid layout cycle exception with variable sized children in StackLayout
  dev/Repeater/APITests/Common/Mocks/MockStackLayout.cs
  dev/Repeater/APITests/LayoutTests.cs
  dev/Repeater/APITests/Repeater_APITests.projitems
  dev/Repeater/ItemsRepeater.cpp
  dev/Repeater/ItemsRepeater.h
  dev/Repeater/ViewportManager.h
  dev/Repeater/ViewportManagerDownlevel.h
  dev/Repeater/ViewportManagerWithPlatformFeatures.h
Labels: area-ItemsRepeater, team-Controls

#4989 Popup placement APIs
  dev/CommandBarFlyout/CommandBarFlyoutCommandBar.cpp
  dev/CommandBarFlyout/CommandBarFlyoutCommandBar.h
  dev/CommandBarFlyout/CommandBarFlyoutCommandBar.idl
  dev/CommandBarFlyout/CommandBarFlyout_themeresources.xaml
  dev/CommandBarFlyout/CommandBarFlyout_themeresources_v1.xaml
  dev/Generated/Breadcrumb.properties.h
  dev/Generated/BreadcrumbDropDownItem.properties.cpp
  dev/Generated/BreadcrumbDropDownItemAutomationPeer.properties.cpp
  dev/Generated/BreadcrumbItem.properties.cpp
  dev/Generated/BreadcrumbItemAutomationPeer.properties.cpp
  dev/Generated/BreadcrumbLayout.properties.cpp
  dev/Generated/Controls_01_Checkmark.properties.cpp
  dev/Generated/Controls_02_Hamburger.properties.cpp
  dev/Generated/Controls_02_UpDown_Dropdown.properties.cpp
  dev/Generated/Controls_03_Back.properties.cpp
  dev/Generated/Controls_04_Settings.properties.cpp
  dev/Generated/Controls_05_Search.properties.cpp
  dev/Generated/Controls_06_DownChevron_DropDown.properties.cpp
  dev/Generated/Controls_07_DownChevron_NavView.properties.cpp
  dev/Generated/Controls_07_Settings.properties.cpp
  dev/Generated/Controls_08_Back.properties.cpp
  dev/Generated/Controls_08_SideChevron_TreeView.properties.cpp
  dev/Generated/Controls_09_Hamburger.properties.cpp
  dev/Generated/Controls_10_Search.properties.cpp
  dev/Generated/IDynamicAnimatedVisualSource.properties.cpp
  dev/Generated/IDynamicAnimatedVisualSource.properties.h
  dev/Generated/IRefreshInfoProvider.properties.cpp
  dev/Generated/IRefreshInfoProvider.properties.h
  dev/Generated/IRepeaterScrollingSurface.properties.cpp
  dev/Generated/IRepeaterScrollingSurface.properties.h
  dev/Generated/IScrollController.properties.cpp
  dev/Generated/IScrollController.properties.h
  dev/Generated/PipsPager.properties.cpp
  dev/Generated/XRayOverlayControl.properties.cpp
  dev/Generated/XRayOverlayControl.properties.h
  dev/dll/Microsoft.UI.Xaml.vcxproj
  dev/dll/Microsoft.UI.Xaml.vcxproj.filters
  dev/dll/packages.config
  test/IXMPTestApp/MSTest/IXMPTestApp.csproj
  test/IXMPTestApp/TAEF/project.json
  test/MUXControlsTestApp/MSTest/MUXControlsTestApp.csproj
  test/MUXControlsTestApp/TAEF/project.json
  test/MUXControlsTestApp/Themes/DisableAnimationsStylesOutsideStore_rs2.xaml
  tools/CustomTasks/BatchMergeXaml.cs
  tools/CustomTasks/DependencyPropertyCodeGen.cs
  tools/CustomTasks/NuSpecs/MUXCustomBuildTasks.nuspec
  tools/CustomTasks/Properties/AssemblyInfo.cs
  tools/CustomTasks/Utils.cs
  tools/CustomTasksTool/CustomTasksTool.csproj
  tools/CustomTasksTool/Program.cs
Labels: area-Commanding, team-Controls

#4955 AnimatedVisualPlayer destructor bug
  dev/AnimatedVisualPlayer/AnimatedVisualPlayer.cpp
  dev/AnimatedVisualPlayer/AnimatedVisualPlayer.h
Labels: area-AnimatedVisualPlayer, team-Controls

#5012 MediaTransportControls Visual Update
  dev/CommonStyles/AppBarButton_themeresources.xaml
  dev/CommonStyles/CommandBar_themeresources.xaml
  dev/CommonStyles/MediaTransportControls_themeresources.xaml
  dev/CommonStyles/TestUI/MediaTransportControlsPage.xaml
Labels: area-MediaElement, area-UIDesign, team-Controls

#4988 Update CommandBarFlyout close and open animations.
  dev/CommandBarFlyout/CommandBarFlyout.cpp
  dev/CommandBarFlyout/CommandBarFlyoutCommandBar.cpp
  dev/CommandBarFlyout/CommandBarFlyoutCommandBar.h
  dev/CommandBarFlyout/CommandBarFlyout_themeresources.xaml
  dev/CommandBarFlyout/CommandBarFlyout_themeresources_v1.xaml
  dev/CommandBarFlyout/TextCommandBarFlyout.cpp
  dev/Generated/TreeViewItem.properties.cpp
  test/MUXControlsTestApp/Themes/DisableAnimationsStylesOutsideStore_rs2.xaml
Labels: area-Commanding, area-UIDesign, team-Controls

#5033 RadioMenuFlyoutItem destructor fix
  dev/RadioMenuFlyoutItem/RadioMenuFlyoutItem.cpp
  dev/RadioMenuFlyoutItem/RadioMenuFlyoutItem.h
Labels: area-RadioButtons, needs-triage

#5036 Temporarily disabling test ApiTests.CalendarViewTests.VerifyVisualTree
  dev/CommonStyles/APITests/CalendarViewTests.cs
Labels: area-DateTimePickers, area-DevInternal

#4917 Update the checkbox animated icon
  dev/AnimatedIcon/AnimatedVisuals/AnimatedAcceptVisualSource.cpp
  dev/AnimatedIcon/AnimatedVisuals/AnimatedAcceptVisualSource.h
  dev/AnimatedIcon/AnimatedVisuals/AnimatedAcceptVisualSource.idl
  dev/CommonStyles/CheckBox_themeresources.xaml
Labels: area-AnimatedIcon, area-Styling, team-Controls

#5037 Update contribution guidelines
  docs/contribution_workflow.md
Labels: documentation, team-Controls

#5064 Fixing SplitButton's handling on keyboard input
  dev/SplitButton/InteractionTests/SplitButtonTests.cs
  dev/SplitButton/SplitButton.cpp
  dev/SplitButton/SplitButton.h
Labels: area-SplitButton, needs-triage

#5032 NumberBox: Visual updates
  dev/NumberBox/APITests/NumberBoxTests.cs
  dev/NumberBox/NumberBox.cpp
  dev/NumberBox/NumberBox.h
  dev/NumberBox/NumberBox.xaml
  dev/NumberBox/NumberBox_themeresources.xaml
Labels: area-NumberBox, area-UIDesign, team-Controls

#5038 TabView: remove shadowcaster when using updated style
  dev/TabView/TabView.xaml
  dev/TabView/TabViewItem.cpp
Labels: area-TabView, team-Controls

#5065 Make chevrons visible for AppBarButtons in CommandBarFlyout in secondary commands menu
  dev/CommandBarFlyout/CommandBarFlyout_themeresources.xaml
Labels: area-Commanding, area-UIDesign, team-Controls

#5017 [infra] Update verification files script to work with newer PWSH 7
  tools/GenerateVisualVerificationUpdates.ps1
Labels: area-DevInternal, team-Controls

#5073 [NavigationView]: Fix bug where footer scrollbar would still show up on v1 style
  dev/NavigationView/NavigationView_v1.xaml
Labels: area-NavigationView, team-Controls

#5101 Updating repo docs for 0.8 preview
  .github/ISSUE_TEMPLATE/bug_report.md
  docs/roadmap.md
Labels: needs-triage

#5096 CommandBarFlyoutCommandBar should honor the "Show animations in Windows" setting on open and close
  dev/CommandBarFlyout/CommandBarFlyoutCommandBar.cpp
Labels: area-Commanding, team-Controls
