Repository microsoft/microsoft-ui-xaml, pull requests merged in 2022-05, with the labels that each got.

#6986 Fix LandmarkType in InfoBar
  dev/InfoBar/InfoBar.cpp
  dev/InfoBar/InfoBar.xaml
Labels: accessibility, area-Accessibility, area-InfoBar

#7060 Add 1.1-preview 3 version in bug report
  .github/ISSUE_TEMPLATE/bug_report.yaml
Labels: documentation

#7085 Localization updates
  dev/ColorPicker/Strings/ar-SA/Resources.resw
  dev/ColorPicker/Strings/az-Latn-AZ/Resources.resw
  dev/ColorPicker/Strings/ca-ES/Resources.resw
  dev/ColorPicker/Strings/es-MX/Resources.resw
  dev/ColorPicker/Strings/is-IS/Resources.resw
  dev/ColorPicker/Strings/it-IT/Resources.resw
  dev/ColorPicker/Strings/ka-GE/Resources.resw
  dev/ColorPicker/Strings/kk-KZ/Resources.resw
  dev/ColorPicker/Strings/ms-MY/Resources.resw
  dev/ColorPicker/Strings/pl-PL/Resources.resw
  dev/ColorPicker/Strings/sk-SK/Resources.resw
  dev/ColorPicker/Strings/sq-AL/Resources.resw
  dev/ColorPicker/Strings/sv-SE/Resources.resw
  dev/ColorPicker/Strings/uk-UA/Resources.resw
  dev/ColorPicker/Strings/zh-CN/Resources.resw
Labels: team-Controls

#7081 Fix ScaleTransform crash in RTL languages
  dev/CommonStyles/FlipView_themeresources.xaml
  dev/CommonStyles/ScrollBar_themeresources.xaml
Labels: team-Controls, area-ScrollBar

#7080 Update Developer Guide link to DisableEmbeddedXbf property
  docs/developer_guide.md
Labels: documentation

#7083 Fix WebView2 focus getting stuck
  dev/WebView2/WebView2.cpp
  dev/WebView2/WebView2.h
Labels: area-WebView, team-Rendering

#7110 Set TabContainer to Transparent on Selected
  dev/TabView/TabView.xaml
Labels: needs-triage

#7087 NavigationView deep nesting crash fix
  dev/NavigationView/NavigationViewItemsFactory.cpp
Labels: area-NavigationView, team-Controls

#4490 Adding spec for Date/TimePicker design updates
  specs/DateTimePicker-Visual-Updates-Spec.md
  specs/images/DPTP-other-states.PNG
  specs/images/api-example.gif
  specs/images/datepicker-evolution.PNG
  specs/images/timepicker-evolution.PNG
Labels: area-DateTimePickers, team-Controls, SpecInReview

#7117 Revoke HandleAcceleratorKeyActivated when a WebView2 is closed
  build/Helix/global.json
  dev/WebView2/InteractionTests/WebView2Tests.cs
  dev/WebView2/TestUI/WebView2BasicPage.xaml
  dev/WebView2/TestUI/WebView2BasicPage.xaml.cs
  dev/WebView2/WebView2.cpp
Labels: area-WebView, team-Rendering
