Repository microsoft/microsoft-ui-xaml, pull requests merged in 2022-12, with the labels that each got.

#7959 Update README.md
  README.md
Labels: needs-triage

#5790 Remove copying GUID-to-guid conversions
  dev/Repeater/ElementFactory.h
  dev/inc/RuntimeClassHelpers.h
Labels: area-DevInternal, team-Controls

#6745 NavigationView Overflow Items Minor UI Fixes
  dev/NavigationView/NavigationView.xaml
  dev/NavigationView/NavigationView_rs1_themeresources.xaml
Labels: area-NavigationView, team-Controls

#7771 NavigationViewItem add child item fix
  dev/NavigationView/NavigationViewItem.cpp
  dev/NavigationView/NavigationView_InteractionTests/CommonTests.cs
  dev/NavigationView/TestUI/Hierarchical/HierarchicalNavigationViewMarkup.xaml
  dev/NavigationView/TestUI/Hierarchical/HierarchicalNavigationViewMarkup.xaml.cs
Labels: area-NavigationView, team-Controls

#7393 Flexbox in WinUI draft PR
  MUXControls.sln
  dev/Generated/FlexboxLayout.properties.cpp
  dev/Generated/FlexboxLayout.properties.h
  dev/Repeater/FlexboxLayout.cpp
  dev/Repeater/FlexboxLayout.h
  dev/Repeater/FlexboxLayoutState.h
  dev/Repeater/ItemsRepeater.idl
  dev/Repeater/Repeater.vcxitems
  dev/Repeater/Repeater.vcxitems.filters
  dev/Repeater/TestUI/RepeaterTestUIPage.xaml
  dev/Repeater/TestUI/RepeaterTestUIPage.xaml.cs
  dev/Repeater/TestUI/Repeater_TestUI.projitems
  dev/Repeater/TestUI/Samples/FlexboxAlignContentPage.xaml
  dev/Repeater/TestUI/Samples/FlexboxAlignContentPage.xaml.cs
  dev/Repeater/TestUI/Samples/FlexboxAlignItemsPage.xaml
  dev/Repeater/TestUI/Samples/FlexboxAlignItemsPage.xaml.cs
  dev/Repeater/TestUI/Samples/FlexboxAlignSelfPage.xaml
  dev/Repeater/TestUI/Samples/FlexboxAlignSelfPage.xaml.cs
  dev/Repeater/TestUI/Samples/FlexboxDirectionPage.xaml
  dev/Repeater/TestUI/Samples/FlexboxDirectionPage.xaml.cs
  dev/Repeater/TestUI/Samples/FlexboxGrowPage.xaml
  dev/Repeater/TestUI/Samples/FlexboxGrowPage.xaml.cs
  dev/Repeater/TestUI/Samples/FlexboxJustifyContentPage.xaml
  dev/Repeater/TestUI/Samples/FlexboxJustifyContentPage.xaml.cs
  dev/Repeater/TestUI/Samples/FlexboxOrderPage.xaml
  dev/Repeater/TestUI/Samples/FlexboxOrderPage.xaml.cs
  dev/Repeater/TestUI/Samples/FlexboxPage.xaml
  dev/Repeater/TestUI/Samples/FlexboxPage.xaml.cs
  dev/Repeater/TestUI/Samples/FlexboxPlaygroundPage.xaml
  dev/Repeater/TestUI/Samples/FlexboxPlaygroundPage.xaml.cs
  dev/Repeater/TestUI/Samples/FlexboxShrinkPage.xaml
  dev/Repeater/TestUI/Samples/FlexboxShrinkPage.xaml.cs
  dev/Repeater/TestUI/Samples/FlexboxWrapPage.xaml
  dev/Repeater/TestUI/Samples/FlexboxWrapPage.xaml.cs
  dev/Repeater/TestUI/Samples/LayoutSamples/NonVirtualLayoutPages/NonVirtualStackLayoutSamplePage.xaml.cs
  dev/Telemetry/RuntimeProfiler.h
  dev/dll/pch.h
Labels: area-Layouts, team-Controls

#6875 Fix issue with cancelled touch pointers not resetting state correctly
  dev/NavigationView/NavigationViewItem.cpp
Labels: area-NavigationView, team-Controls

#8017 Add WinAppSDK 1.2.2 to bug report template
  .github/ISSUE_TEMPLATE/bug_report.yaml
Labels: needs-triage
