Repository microsoft/microsoft-ui-xaml, pull requests merged in 2022-03, with the labels that each got.

#6763 Update TabViewItem BrushResources
  dev/CommonStyles/Common_themeresources_any.xaml
  dev/TabView/TabView_themeresources.xaml
Labels: area-TabView, team-Controls

#6762 Navigationview: Fix init-once of the GlobalDependencyProperty
  dev/NavigationView/NavigationView.cpp
  dev/NavigationView/NavigationView.h
Labels: area-NavigationView, team-Controls

#6769 [NavigationView] Make NavigationView SettingsItem Tag not localized
  dev/NavigationView/NavigationView.cpp
Labels: area-NavigationView, team-Controls

#6761 Fix issue where an originally-collapsed WebView2 can't be interacted with
  dev/WebView2/InteractionTests/WebView2Tests.cs
  dev/WebView2/TestUI/WebView2BasicPage.xaml
  dev/WebView2/TestUI/WebView2BasicPage.xaml.cs
  dev/WebView2/WebView2.cpp
  dev/WebView2/WebView2.h
  dev/WebView2/WebView2AutomationPeer.cpp
  dev/WebView2/WebView2AutomationPeer.h
Labels: needs-triage

#6787 [TabView] Update high contrast colors | MicaAlt colors - update high contrast colors
  dev/CommonStyles/Common_themeresources_any.xaml
  dev/TabView/TabView.xaml
  dev/TabView/TabView_themeresources.xaml
Labels: needs-triage

#6790 [TabView] Updating transparent brushes
  dev/TabView/TabView_themeresources.xaml
Labels: area-TabView, team-Controls

#6795 Update WebView2 runtime download link
  dev/WebView2/WebView2.cpp
Labels: area-WebView

#6796 Fix PGO Pipeline
  build/AzurePipelinesTemplates/MUX-BuildProject-Steps.yml
  tools/MUXPGODatabase/config.ps1
  tools/MUXPGODatabase/generate-nuspec.ps1
  tools/MUXPGODatabase/restore-pgodb.ps1
  tools/MUXPGODatabase/version.ps1
Labels: needs-triage

#6780 Fix issue where setting IsPaneButtonVisible on NavigationView could end up in faulty rendering of pane toggle button
  dev/NavigationView/NavigationView.cpp
  dev/NavigationView/TestUI/Common/NavigationViewMinimalPage.xaml
  dev/NavigationView/TestUI/Common/NavigationViewMinimalPage.xaml.cs
Labels: area-NavigationView, team-Controls

#6808 Delay load Hierarchical NavViewItem elements
  dev/NavigationView/NavigationView.xaml
  dev/NavigationView/NavigationViewItem.cpp
  dev/NavigationView/NavigationViewItem.h
  dev/NavigationView/NavigationViewItemPresenter.cpp
  dev/NavigationView/NavigationViewItemPresenter.h
  dev/NavigationView/NavigationView_ApiTests/NavigationViewTests.cs
  dev/NavigationView/NavigationView_rs1_themeresources.xaml
  test/MUXControlsTestApp/verification/NavigationViewAuto-10.xml
  test/MUXControlsTestApp/verification/NavigationViewAuto-7.xml
  test/MUXControlsTestApp/verification/NavigationViewHierarchy-10.xml
  test/MUXControlsTestApp/verification/NavigationViewHierarchy.xml
  test/MUXControlsTestApp/verification/NavigationViewLeftCompact-10.xml
  test/MUXControlsTestApp/verification/NavigationViewLeftMinimal-10.xml
  test/MUXControlsTestApp/verification/NavigationViewLeftMinimal-7.xml
  test/MUXControlsTestApp/verification/NavigationViewLeftPaneContent-10.xml
  test/MUXControlsTestApp/verification/NavigationViewLeftPaneContent-7.xml
  test/MUXControlsTestApp/verification/NavigationViewScrolling-10.xml
  test/MUXControlsTestApp/verification/NavigationViewTop-10.xml
  test/MUXControlsTestApp/verification/NavigationViewTop-5.xml
  test/MUXControlsTestApp/verification/NavigationViewTop-6.xml
  test/MUXControlsTestApp/verification/NavigationViewTop-7.xml
  test/MUXControlsTestApp/verification/NavigationViewTopPaneContent-10.xml
  test/MUXControlsTestApp/verification/NavigationViewTopPaneContent-7.xml
Labels: needs-triage

#6797 Fix issue with exception being thrown during cleanup of NavigationView.
  dev/NavigationView/NavigationView.cpp
  dev/NavigationView/NavigationView.h
  dev/NavigationView/NavigationViewItemRevokers.h
  dev/NavigationView/NavigationView_ApiTests/NavigationViewTests.cs
Labels: area-NavigationView, needs-triage, team-Controls

#6826 CommandBarFlyout static initialization creates winrt objects using COM API prohibited during DllMain()
  dev/CommandBarFlyout/CommandBarFlyout.cpp
Labels: needs-triage

#6833 Cherry-pick PR #6797 to release/2.7
  dev/NavigationView/NavigationView.cpp
  dev/NavigationView/NavigationView.h
  dev/NavigationView/NavigationViewItemRevokers.h
  dev/NavigationView/NavigationView_ApiTests/NavigationViewTests.cs
Labels: needs-triage

#6834 Update WinUI roadmap with feature overview
  docs/roadmap.md
Labels: needs-triage

#6830 Changes MenuBar default TabNavigation to "Once"
  dev/MenuBar/MenuBar.xaml
Labels: area-Menus, accessibility, team-Controls

#6831 Improve AppBarButton sub item chevron visuals and cusomizability.
  dev/CommonStyles/AppBarButton_themeresources.xaml
  dev/CommonStyles/TestUI/CommandBarPage.xaml
Labels: area-Commanding, team-Controls

#6843 Add GitHub token to vpack task to avoid hitting rate limit error from GitHub api
  build/AzurePipelinesTemplates/MUX-PushCBSVpack-Job.yml
Labels: needs-triage

#6844 Changing CommandBarFlyout to not take keyboard focus when opened in transient mode
  dev/CommandBarFlyout/CommandBarFlyoutCommandBar.cpp
  dev/CommandBarFlyout/InteractionTests/CommandBarFlyoutTests.cs
  dev/CommandBarFlyout/InteractionTests/TextCommandBarFlyoutTests.cs
  dev/CommandBarFlyout/TestUI/TextCommandBarFlyoutPage.xaml
  dev/CommandBarFlyout/TestUI/TextCommandBarFlyoutPage.xaml.cs
  test/testinfra/MUXTestInfra/Common/InputHelper.cs
Labels: team-Controls, area-CommandBarFlyout

#6828 Fix ProgressRing Automation Name Property
  dev/ProgressRing/ProgressRingAutomationPeer.cpp
Labels: accessibility, area-Progress, team-Controls

#6866 Fixing null dereferencing bug
  dev/AnimatedVisualPlayer/AnimatedVisualPlayer.cpp
Labels: area-AnimatedVisualPlayer, team-Controls

#6868 CommandBarFlyoutCommandBar fix - respond to size changes
  dev/CommandBarFlyout/CommandBarFlyoutCommandBar.cpp
  dev/CommandBarFlyout/CommandBarFlyoutCommandBar.h
  dev/CommandBarFlyout/InteractionTests/CommandBarFlyoutTests.cs
  dev/CommandBarFlyout/TestUI/CommandBarFlyoutPage.xaml
  dev/CommandBarFlyout/TestUI/CommandBarFlyoutPage.xaml.cs
  test/MUXControlsTestApp/Utilities/VisualTreeUtils.cs
Labels: team-Controls, area-CommandBarFlyout

#6807 Fix F6 unable to return from teaching tip in xaml island.
  dev/TeachingTip/TeachingTip.cpp
  dev/TeachingTip/TeachingTip.h
Labels: area-TeachingTip, team-Controls

#6825 Add MicaBaseAlt Fallback Brushes
  dev/CommonStyles/Common_themeresources_any.xaml
Labels: area-Materials, team-Controls

#6898 Remove test .pfx file from repo. Generate temp cert as part of the build.
  .gitignore
  GenerateTestPfx.ps1
  MUXControls.sln
  build/AzurePipelinesTemplates/MUX-NugetReleaseTest-Job.yml
  build/FrameworkPackage/FrameworkPackage.csproj
  build/FrameworkPackage/MakeFrameworkPackage.ps1
  build/Helix/scripts/TestPass-PreRun.ps1
  build/MSTest.cer
  build/MSTest.pfx
  dev/WebView2/TestUI/WebView2Common.cs
  dev/dll/Microsoft.UI.Xaml.Common.targets
  test/IXMPTestApp/IXMPTestApp.Shared.projitems
  test/IXMPTestApp/Package.appxmanifest
  test/MUXControlsReleaseTest/AppThatUsesMUXIndirectly/AppThatUsesMUXIndirectly.csproj
  test/MUXControlsReleaseTest/AppThatUsesMUXIndirectly/Package.appxmanifest
  test/MUXControlsReleaseTest/NugetPackageTestApp/NugetPackageTestApp.csproj
  test/MUXControlsReleaseTest/NugetPackageTestApp/Package.appxmanifest
  test/MUXControlsReleaseTest/NugetPackageTestAppCX/NugetPackageTestAppCX.vcxproj
  test/MUXControlsReleaseTest/NugetPackageTestAppCX/NugetPackageTestAppCX.vcxproj.filters
  test/MUXControlsReleaseTest/NugetPackageTestAppCX/Package.appxmanifest
  test/MUXControlsReleaseTest/RuntimeComponentThatUsesMUX/RuntimeComponentThatUsesMUX_TemporaryKey.pfx
  test/MUXControlsReleaseTest/UwpAppWithFullTrustProcess/UwpAppWithFullTrustProcess/Package.appxmanifest
  test/MUXControlsReleaseTest/UwpAppWithFullTrustProcess/UwpAppWithFullTrustProcess_package/Package.appxmanifest
  test/MUXControlsReleaseTest/UwpAppWithFullTrustProcess/UwpAppWithFullTrustProcess_package/UwpAppWithFullTrustProcess_package.wapproj
  test/MUXControlsReleaseTest/XamlIslandsTestApp/WpfApp/Package.appxmanifest
  test/MUXControlsReleaseTest/XamlIslandsTestApp/WpfApp/WpfApp.Package.wapproj
  test/MUXControlsTestApp.ApiTests/Package.appxmanifest
  test/MUXControlsTestApp/MSTest/Package.appxmanifest
  test/MUXControlsTestApp/MSTest/PackageInnerLoop.appxmanifest
  test/MUXControlsTestApp/MUXControlsTestApp.Shared.projitems
  test/MUXControlsTestApp/TAEF/Package.VS.appxmanifest
  test/MUXExperimentalTest/MUXExperimentalTestApp/MUXExperimentalTestApp.csproj
  test/MUXExperimentalTest/MUXExperimentalTestApp/Package.appxmanifest
  test/TestAppCX/Package.appxmanifest
  test/TestAppCX/TestAppCX.vcxproj
  test/testinfra/MUXTestInfra/Infra/TestEnvironment.cs
Labels: area-DevInternal, team-Controls

#6899 Adding TestUI coverage for CalendarView.NumberOfWeeksInView and ScrollView bring-into-view handling
  dev/CommonStyles/TestUI/CalendarViewPage.xaml
  dev/CommonStyles/TestUI/CalendarViewPage.xaml.cs
  dev/ScrollView/TestUI/ScrollViewBringIntoViewPage.xaml
  dev/ScrollView/TestUI/ScrollViewBringIntoViewPage.xaml.cs
  dev/ScrollView/TestUI/ScrollViewPage.xaml
  dev/ScrollView/TestUI/ScrollViewPage.xaml.cs
  dev/ScrollView/TestUI/ScrollView_TestUI.projitems
Labels: area-Scrolling, area-DateTimePickers
