Repository microsoft/microsoft-ui-xaml, pull requests merged in 2023-08, with the labels that each got.

#8695 Fix issue where NavView IsPaneOpen can end up incorrectly when layout changes
  dev/NavigationView/NavigationView.cpp
Labels: needs-triage

#4905 Popup placement properties API spec
  specs/Popup-AdditionalLayoutProperties-Spec.md
  specs/images/CommandBarFlyout-InsufficientSpace-Open.png
  specs/images/CommandBarFlyout-InsufficientSpace.png
  specs/images/CommandBarFlyout-SufficientSpace-Open.png
  specs/images/CommandBarFlyout-SufficientSpace.png
Labels: needs-triage, team-Controls, SpecInReview, area-Popup

#8747 Fix build break
  dev/TreeView/TreeViewItem.h
  dev/TreeView/TreeViewList.h
Labels: needs-triage

#6686 Update ScrollBar thumb template to use ThemeResource instead of StaticResource
  dev/CommonStyles/ScrollBar_themeresources.xaml
Labels: area-Resources, needs-triage, team-Controls, area-ScrollBar

#8757 Fix pipeline - Added condition to UpdateUnreliableTest
  build/AzurePipelinesTemplates/MUX-RunTestsOnPipeline-Job.yml
Labels: needs-triage

#8758 Pipeline DownloadBuildArtifacts Fix
  build/AzurePipelinesTemplates/MUX-CreateNugetPackage-Job.yml
  build/AzurePipelinesTemplates/MUX-NugetReleaseTest-Job.yml
  build/AzurePipelinesTemplates/MUX-RunHelixTests-Job.yml
  build/AzurePipelinesTemplates/MUX-RunTestsOnPipeline-Job.yml
Labels: needs-triage

#6494 [infra] Add more axe a11y tests
  dev/Breadcrumb/InteractionTests/BreadcrumbBarTests.cs
  dev/Breadcrumb/TestUI/BreadcrumbBarAxeTestPage.xaml
  dev/Breadcrumb/TestUI/BreadcrumbBarAxeTestPage.xaml.cs
  dev/Breadcrumb/TestUI/Breadcrumb_TestUI.projitems
  dev/InfoBar/InteractionTests/InfoBarTests.cs
  dev/InfoBar/TestUI/InfoBar_TestUI.projitems
  dev/InfoBar/TestUI/InfobarAxeTestage.xaml
  dev/InfoBar/TestUI/InfobarAxeTestage.xaml.cs
  dev/PagerControl/InteractionTests/PagerControlTests.cs
  dev/PagerControl/TestUI/PagerControlAxeTestPage.xaml
  dev/PagerControl/TestUI/PagerControlAxeTestPage.xaml.cs
  dev/PagerControl/TestUI/PagerControl_TestUI.projitems
  dev/PipsPager/InteractionTests/PipsPagerTests.cs
  dev/PipsPager/TestUI/PipsPagerAxeTestPage.xaml
  dev/PipsPager/TestUI/PipsPagerAxeTestPage.xaml.cs
  dev/PipsPager/TestUI/PipsPager_TestUI.projitems
  dev/ProgressBar/InteractionTests/ProgressBarTests.cs
  dev/ProgressBar/TestUI/ProgressBarAxeTestPage.xaml
  dev/ProgressBar/TestUI/ProgressBarAxeTestPage.xaml.cs
  dev/ProgressBar/TestUI/ProgressBar_TestUI.projitems
  dev/ProgressRing/InteractionTests/ProgressRingTests.cs
  dev/ProgressRing/TestUI/ProgressRingAxeTestPage.xaml
  dev/ProgressRing/TestUI/ProgressRingAxeTestPage.xaml.cs
  dev/ProgressRing/TestUI/ProgressRing_TestUI.projitems
Labels: accessibility, area-DevInternal, team-Controls

#6105 Fixed lost button foreground after pointer over
  dev/CommonStyles/Button_themeresources.xaml
  dev/CommonStyles/RepeatButton_themeresources.xaml
  dev/CommonStyles/ToggleButton_themeresources.xaml
Labels: area-Styling, area-Resources, team-Controls, area-Button

#3555 Update MenuBarItem behavior to skip disabled items in keyboard navigation
  dev/MenuBar/MenuBarItem.cpp
  dev/MenuBar/MenuBarItem.h
  dev/MenuBar/MenuBar_InteractionTests/MenuBarTests.cs
  dev/MenuBar/MenuBar_TestUI/MenuBarPage.xaml
Labels: area-Menus, team-Controls

#6719 Added SplitView VisualTransitions for OpenInlineRight and OpenInlineCompactRight states
  dev/SplitView/SplitView_themeresources.xaml
Labels: team-Controls, area-Animations, area-SplitView

#6902 Update progressbar to not play animations when collapsed
  dev/ProgressBar/ProgressBar.cpp
  dev/ProgressBar/ProgressBar.h
  dev/ProgressBar/TestUI/ProgressBarPage.xaml
  dev/ProgressBar/TestUI/ProgressBarPage.xaml.cs
Labels: area-Progress, team-Controls

#3531 Fix issue with TabPaneFooter Width/MinWidth not being respected
  dev/Generated/TabView.properties.cpp
  dev/Generated/TabView.properties.h
  dev/NavigationView/NavigationView.cpp
  dev/TabView/APITests/TabViewTests.cs
  dev/TabView/TabView.cpp
  dev/TabView/TabView.h
  dev/TabView/TabView.idl
  dev/TabView/TestUI/TabViewAppwindowPage.xaml
  dev/TabView/TestUI/TabViewAppwindowPage.xaml.cs
  dev/TabView/TestUI/TabViewPage.xaml
  dev/TabView/TestUI/TabViewPage.xaml.cs
  dev/TabView/TestUI/TabView_TestUI.projitems
Labels: area-TabView, team-Controls

#8776 Porting NavigationView Fixes
  dev/NavigationView/NavigationView.cpp
  dev/NavigationView/NavigationView.h
  dev/NavigationView/NavigationViewItem.cpp
  dev/NavigationView/NavigationView_ApiTests/NavigationViewTests.cs
  dev/NavigationView/TestUI/Hierarchical/HierarchicalNavigationViewDataBinding.xaml
  dev/NavigationView/TestUI/Hierarchical/HierarchicalNavigationViewDataBinding.xaml.cs
Labels: area-NavigationView, team-Controls
